
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<a href="/Expence/Add" class="btn btn-info"><i class="fa fa-plus-circle" style="padding-right:10px"></i>Creat New Expense</a>+
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <div class="dataTables_wrapper">
                <table id="ExpenseDetailTable" class="table display table-bordered table-striped dataTable">
                    <thead style="background-color:black;color:white">
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending"> Id</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">   Expense Date </th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">    ref # </th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending"> Paid Throughs</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending">Amount</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending">tax amount</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending">Sub total</th>
                            <th align="center" class="sorting" style="text-align-last: center">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {

        $("#ExpenseDetailTable").DataTable({
            //"processing": true, // for show progress bar
            "processing": true,
            "language": {
                "processing": $('#loaderQuationList').append("<img src='../images/XtaS.gif' width='100px' height='60px' />"),  //add a loading image,simply putting tag.
            },
            "searching": true,
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Expence/GetExpenseList",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                   { "data": "Id", "name": "Id", "autoWidth": true },// key for edit delete
                     {
                         "data": "AddedDate", "type": "date ",
                         "render": function (value) {
                             if (value === null) return "";
                             var pattern = /Date\(([^)]+)\)/;//date format from server side
                             var results = pattern.exec(value);
                             var dt = new Date(parseFloat(results[1]));
                             return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                         }, "autoWidth": true
                     },

                    { "data": "REFERENCEno", "name": "REFERENCEno", "autoWidth": true },
                    { "data": "PaidThrougAccount", "name": "PaidThrougAccount", "autoWidth": true },
                    { "data": "SUBTOTAL", "name": "SUBTOTAL", "autoWidth": true },

                    { "data": "VAT_AMOUNT", "name": "VAT_AMOUNT", "autoWidth": true },

                      { "data": "GRAND_TOTAL", "name": "GRAND_TOTAL", "autoWidth": true },
                     {
                         render: function (data, type, row) {
                             return '<a   href="/Expence/Edit/' + row.Id + '"   class="btn btn-info btn-sm" data-id="Id"><i class="fa fa-pencil">Edit</i></a>|<a href="/Expence/ViewExpense/' + row.Id + '"  class="btn btn-success btn-sm"><i class="fa fa-eye">View</i></a>|<button href="#" class="btn btn-success btn-sm" onclick="ViewDirectory(' + row.Id + ')"><i class="fa fa-paperclip">Attachment</button></a>'
                         }
                     },
            ]
        });




        function EditExpense(ExpenseId) {
            window.location.href = "/Expence/Edit/" + ExpenseId;
        }

    });


    function ViewDirectory(Id) {
        alert(Id);
        window.location.href = "/Common/ViewDirecory?Id=" + Id + "&DName=" + "Expense";
        //window.location.href = "/MVCClient/ViewDirecory/" + Id + '$$DName'= ++;
    }

</script>
