
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<div class="row">
    <div class="col-2 b-r">
    <button class="btn btn-info" id="AddNewQutationFromQutaion"><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Qutation</button>
    </div> 
        <div class="col-2 b-r">          
         
            <div id="five_day_table">               
                <div class="r-cl"><span></span>5 Day Remaining</div>                       
            </div>
        </div>
    <div class="col-2 b-r">
        <div id="five_day_table">           
            <div class="m-cl"><span></span>1 day Remaining</div>
        </div>
    </div>
    <div class="col-6 b-r">
      
    </div>
</div>

<table class="table" id="QutationListTable">
    <thead style="background-color:black;color:white">
        <tr>
            <th>
                Quotation number
            </th>
            <th>
                Date
            </th>
            <th>
                Due date
            </th>
            <th>
                costumer
            </th>
            <th>
                sales person
            </th>
            <th>
                vat amount
            </th>
            <th>
                Total amount
            </th>
            <th>
                Status
            </th>

            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>




<script type="text/javascript">
    $(document).ready(function () {
      
        var Diff;
        var statusoption;
        $("#QutationListTable").DataTable({
            
            "createdRow": function (row, data, dataIndex) {                
            
                if (parseInt(Diff) < 2) {
                  
                    $(row).addClass('RowRed');
                }
               else if (parseInt(Diff) < 5) {
                 
                    $(row).addClass('RowYello');
                }
              
            },
            //"processing": true, // for show progress bar
            "processing": true,
            "language": {
                "processing": $('#loaderQuationList').append("<img  src='../images/XtaS.gif' width='100px' height='60px' />"),  //add a loading image,simply putting tag.
            },
            "searching": true,
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/MVCQutation/IndexQutation",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                     { "data": "QutationID", "name": "QutationID", "autoWidth": true },// key for edit delete                  
                      {
                          "data": "QutationDate", "type": "date ",

                          "render": function (value) {
                              if (value === null) return "";
                              var pattern = /Date\(([^)]+)\)/;//date format from server side
                              var results = pattern.exec(value);
                              var dt = new Date(parseFloat(results[1]));

                              return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                          }, "autoWidth": true
                      },
                     {
                         "data": "DueDate", "type": "date ",

                         "render": function (value) {
                             if (value === null) return "";
                             var pattern = /Date\(([^)]+)\)/;//date format from server side
                             var results = pattern.exec(value);
                             var dt = new Date(parseFloat(results[1]));

                             Diff = parseInt(DateDiff((dt.getMonth() + 1) + "/" + (dt.getDate()) + "/" + (dt.getFullYear())));

                             return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                         }, "autoWidth": true
                     },

                      { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                       { "data": "UserName", "name": "UserName", "autoWidth": true },
                         { "data": "Vat", "name": "Vat", "autoWidth": true },
                            { "data": "TotalAmount", "name": "TotalAmount", "autoWidth": true },
                      {
                          render: function (data, type, row) {
                              switch (row.Status) {
                                  case "open":
                                      if (parseInt(Diff) < 5) {
                                          return "<td><span class='label label-primary'>" + row.Status + "</span></td>"
                                          break;
                                      }
                                      else {
                                          return "<td class='dd'><span class='label label-primary'>" + row.Status + "</span></td>"
                                          break;
                                      }
                                  case "pending":
                                      return "<td><span class='label label-info'>" + row.Status + "</span></td>"
                                      break;

                                  case "rejected":
                                      return "<td><span class='label label-danger'>" + row.Status + "</span></td>"
                                      break;

                                  case "accepted":
                                      return "<td><span class='label label-success'>" + row.Status + "</span></td>"
                                      break;
                              }
                          }
                      },
                     {
                         render: function (data, type, row) {
                          
                                     return '<button  class="btn btn-info btn-sm" data-id="Id" onclick="EditQutation(' + row.QutationID + ')"><i class="fa fa-pencil"> Edit</i></button>|<a href="#" class="btn btn-success btn-sm" onclick="ViewQutationDetail(' + row.QutationID + ')"><i class="fa fa-eye">View</i></a>'
                                  
                         }
                     }
            ]

        });

       

        $('#AddNewQutationFromQutaion').click(function () {
            LoadContacts();
            $('#QutationContactModel').modal('show');
        });

    });
    var diffDay;

  


    function DateDiff(todate) {

        var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1;
        var curr_year = d.getFullYear();
        // alert(todate);
        var start = new Date();
        var end = todate;

        var diff = new Date(end - start);
        var gg = curr_month + "/" + curr_date + "/" + curr_year


        var todates = new Date(todate);
        var FromDate = new Date(gg);
        var timeDiff = Math.abs(todates.getTime() -FromDate.getTime());
        diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

       
        return diffDays;

       
    }


    function EditQutation(QutationId) {

        $.ajax({
            url: '/MVCClient/AddOrEditQutation',
            type: 'GET',
            data: {
                Qutationid: QutationId
            },
            success: function (data) {
                window.location.href = "/MVCQutation/AddOrEdit/" + QutationId;
            }
        });
    }



    function ViewQutationDetail(QutationId) {

        $.ajax({
            url: '/MVCClient/AddOrEditQutation',
            type: 'GET',
            data: {
                Qutationid: QutationId
            },
            success: function (data) {
                window.location.href = "/MVCQutation/ViewQuation?quautionId=" + QutationId;

            }
        });
    }

    function EditService(QutationId) {

        $.ajax({
            url: '/MVCClient/AddOrEditQutation',
            type: 'GET',
            data: {
                Qutationid: QutationId
            },
            success: function (data) {
                window.location.href = "/QutationService/AddOrEdit/" + QutationId;
            }
        });
    }



    function ViewServiceDetail(QutationId) {

        $.ajax({
            url: '/MVCClient/AddOrEditQutation',
            type: 'GET',
            data: {
                Qutationid: QutationId
            },
            success: function (data) {
                window.location.href = "/QutationService/ViewServiceQutation?quautionId=" + QutationId;

            }
        });
    }




</script>