




  
    <a href="@Url.Action("Index","Home")" class="btn btn-info"><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Qutation</a> 



<table class="table" id="QutationListTable">
    <thead  style="background-color:black;color:white">
        <tr>
            <th>
                ID
            </th>
            <th>
                Factuur nummer
            </th>
            <th>
                Referntie nummer
            </th>
            <th>
               Vaevalidatum
            </th>          
            <th>
                staat
            </th>
            <th>
                Actie
            </th>
         </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="loaderQuationList"></div>
@*<label>dhj</label>*@

