
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/logo-icon.png">
    <title>Factuur Baheer Systeem</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-sm-8">
            <h4>please verify your email address to continue! Reset Password </h4>
        </div>
        <div class="col-sm-4"></div>
    </div>
</body>
</html>
