.RowRed{
    background-color:red !important;
    color:white;
}

.RowYello{
    background-color:yellow !important;
    color:black;
}
#five_day_table span {
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  margin: 1px 3px 0px 0px;
}
.r-cl span
{
 background-color:yellow  ; 
}
.m-cl span
{
 background:  red; 
}
.cm-cl span
{
 background:  green; 
}
.d-cl span
{
 background:  brown; 
}