
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button id="CreateNewHeadAccount" class="btn btn-sm btn-info"><i class="fa fa-plus-circle" style="padding-right:10px"></i>Create New Head Account</button>


<div class="row" style="margin-top:10px">
    <div class="col-sm-6">
        <table class="table table-bordered" id="HeadAccountListTable" >
            <thead style="background-color:black;color:white">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Titile
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
    <div class="col-sm-6">
        <table class="table table-bordered" id="HeadAccountListTable">
            <thead style="background-color:black;color:white">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Titile
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
   
</div>



   
