
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<button id="CreateNewContacts" class="btn btn-sm btn-info"><i class="fa fa-plus-circle" style="padding-right:10px"></i>Create New</button>

<table class="table" id="ContactListTable">
    <thead style="background-color:black;color:white">
        <tr>
            <th>
                Id
            </th>
            <th>
                Bedrijif Naam
            </th>
            <th>
                Adres
            </th>

            <th>
                City
            </th>
            <th>
                PostCode
            </th>
            <th>
                Mobiel
            </th>
            <th>
                Type
            </th>

            <th>
                Status
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>

</table>

@*<div id="loadingDiv">Please wait while this page loads.</div>*@

<div class="preloader" id="loadingDiv">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">loading...</p>
    </div>
</div>

<script>
    $(function () {
        var successMessage = '@TempData["SuccessMessage"]'

        if (successMessage != '') {
            alertify.success(successMessage);
        }
        if (successMessage != '') {
            successMessage = '';
            delete ('@TempData["SuccessMessage"]');
        }
    });

</script>



<input type="hidden" id="ContactsId" />
<div class="modal fade bs-example-modal-lg" id="CreateNewContactModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabe1l" style="color:skyblue">Client Registration </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="height: auto !important">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-2">
                        <input type="radio" name="ClientType" value="CompanyClient" checked> Bedrijif<br>
                    </div>
                    <div class="col-sm-2">
                        <input type="radio" name="ClientType" value="Private">Persoon<br>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="ContactName" placeholder="Naam" />
                        </div>
                    </div>

                </div>


                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="ContactAddress" placeholder="Adres(Straatt Naam)" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="StreetNumber" placeholder="Street Number" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <input class="form-control" type="text" required id="PostalCode" placeholder="PostCode" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <input class="form-control" type="text" required id="City" placeholder="City" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="LandLine" placeholder="Land" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="telephone" placeholder="Telefoon" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="Mobile" placeholder="Mobiel" />
                        </div>
                    </div>
                </div>

                <div class="row" id="rowiddd">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="BillingEmail" placeholder="E-mial" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="Website" placeholder="Website" />
                        </div>
                    </div>
                </div>


                <div class="row" id="rowiddd2">
                    <div class="col-sm-12">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="BillingEmail" placeholder="E-mial" />
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2" style="margin-top:7px">Type</div>
                                <div class="col-sm-10">
                                    <select class="form-control" id="TypeContacts">
                                        <option value="Customer" selected>Klant</option>
                                        <option value="Vender">verkoper</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2" style="margin-top:7px">staat</div>
                                <div class="col-sm-10">
                                    <select class="form-control" id="Status">
                                        <option value="1" selected>True</option>
                                        <option value="0">False</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">Rem:</div>
                    <div class="col-sm-11">
                        <textarea class="form-control" id="Remarks" rows="2" data-toggle="tooltip" data-placement="bottom" title="Opmerkingen!!"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="SaveNewContacts" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Opslaan</button>
                <button type="button" id="UpdateContacts" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Bijwerken</button>
                <button type="button" class="btn btn-danger waves-effect text-left" id="CancelContacts" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Dichtbij</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<style>
    .modal-dialog {
        overflow-y: initial !important;
    }

    .modal-body {
        height: 550px;
        overflow-y: auto;
    }
</style>


<script>


    $(document).ready(function () {

        $("#ContactListTable").DataTable({
            //"processing": true, // for show progress bar
            processing: true,
            "language": {
                "processing": $('#loaderMvcConatc').append("<img src='../images/XtaS.gif' width='100px' height='60px' />"),  //add a loading image,simply putting tag.
            },
            searching: true,
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/MVCClient/GetContactList",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "ContactsId", "name": "ContactsId", "autoWidth": true },
                    { "data": "ContactName", "name": "ContactName", "autoWidth": true },
                    { "data": "ContactAddress", "name": "ContactAddress", "autoWidth": true },
                      { "data": "City", "name": "City", "autoWidth": true },
                     { "data": "PostalCode", "name": "PostalCode", "autoWidth": true },
                       { "data": "Mobile", "name": "Mobile", "autoWidth": true },

                  { "data": "Type", "name": "Type", "autoWidth": true },
                    //{ "data": "StreetNumber", "name": "StreetNumber", "autoWidth": true },


                    { "data": "Status", "name": "Status", "autoWidth": true },
                    {
                        render: function (data, type, row) {
                            return '<button type="button" href="" class="btn btn-info btn-xs" data-id="Id" onclick="EditContact(' + row.ContactsId + ')"><i class="fa fa-pencil"></i></button>|<button type="button" class="btn btn-danger btn-sm" onclick="DeleteCompany(' + row.ContactsId + ')"><i class="fa fa-trash"></i></button>|<button type="button" class="btn btn-success btn-xs" onclick="Delete(' + row.ContactsId + ')"><i class="fa fa-eye"></i></button>'
                        }
                    }


            ]

        });

    });
  

    $('#CreateNewContacts').click(function () {
        $('#UpdateContacts').hide();
        $('#SaveNewContacts').show();
        $('#CreateNewContactModal').modal('show');

    });


    function SuccessInsertConatct() {
        swal({
            title: "Congratulations!!!!",
            text: "Your data has been saved successfully",
            type: "success",

        });
    }
    @*Contact or client Script*@

    $('#SaveNewContacts').click(function () {
        var res = validateContact();
        if (res == false) {
            return false;
        }
        else {
          
            $.ajax({
                url: '/MVCClient/AddOrEdit',
                type: 'POST',
                data: {
                    ContactName: $('#ContactName').val(),
                    ContactAddress: $('#ContactAddress').val(),
                    Type: $('#TypeContacts option:selected').val(),
                    StreetNumber: $('#StreetNumber').val(),
                    PostalCode: $('#PostalCode').val(),
                    City: $('#City').val(),
                    LandLine: $('#LandLine').val(),
                    telephone: $('#telephone').val(),
                    Mobile: $('#Mobile').val(),
                    Website: $('#Website').val(),
                    BillingEmail: $('#BillingEmail').val(),
                    Remarks: $('#Remarks').val(),
                    Status: $('#Status option:selected').text(),
                    Company_Id: localStorage.getItem('CompanyID')
                },
                success: function (response) {
                    if (response == '201') {
                        $('#CreateNewContactModal').modal('hide');                        
                       
                        clearContectTextBox();
                        SuccessInsertConatct();
                    }
                    else {
                        alert(response);
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        }

    });

    $('#UpdateContacts').click(function () {
        var res = validateContact();
        if (res == false) {
            return false;
        }
        else {

            $.ajax({
                url: '/MVCClient/AddOrEdit',
                type: 'POST',
                data: {
                    ContactsId: $('#ContactsId').val(),
                    ContactName: $('#ContactName').val(),
                    ContactAddress: $('#ContactAddress').val(),
                    Type: $('#TypeContacts').val(),
                    StreetNumber: $('#StreetNumber').val(),
                    PostalCode: $('#PostalCode').val(),
                    City: $('#City').val(),
                    LandLine: $('#LandLine').val(),
                    telephone: $('#telephone').val(),
                    Mobile: $('#Mobile').val(),
                    Website: $('#Website').val(),
                    BillingEmail: $('#BillingEmail').val(),
                    Remarks: $('#Remarks').val(),
                    Status: $('#Status option:selected').text(),
                    Company_Id: localStorage.getItem('CompanyID')
                },
                success: function (data) {
                    $('#CreateNewContactModal').modal('hide');
                   
                    SuccessUpdate();
                    clearContectTextBox();
                },
                error: function () {
                    alert("error");
                }
            });
        }
    });


    function validateContact() {
        var isValid = true;
        if ($('#ContactName').val().trim() == "") {
            $('#ContactName').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#ContactName').css('border-color', 'lightgrey');
        }
        if ($('#ContactAddress').val().trim() == "") {
            $('#ContactAddress').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#ContactAddress').css('border-color', 'lightgrey');
        }

        return isValid;
    }

    function clearContectTextBox() {
        $('#ContactsId').val("");
        $('#ContactName').val("");
        $('#ContactAddress').val("");
        $('#Type').val("");
        $('#StreetNumber').val("");
        $('#PostalCode').val("");
        $('#City').val("");

        $('#LandLine').val("");
        $('#telephone').val("");
        $('#Mobile').val("");
        $('#Website').val("");
        $('#BillingEmail').val("");
        $('#BillingEmail').val("");

        $('#UpdateContacts').hide();
        $('#SaveNewContacts').show();
        //$('#Name').css('border-color', 'lightgrey');
        //$('#Age').css('border-color', 'lightgrey');
        //$('#State').css('border-color', 'lightgrey');
        //$('#Country').css('border-color', 'lightgrey');
    }

    function EditContact(ContactsId) {
        $.ajax({
            url: "/MVCClient/AddOrEdit/" + ContactsId,
            type: "GET",
            dataType: "json",
            success: function (resultContactData) {

                $('#ContactsId').val(resultContactData.ContactsId);
                $('#ContactName').val(resultContactData.ContactName);
                $('#ContactAddress').val(resultContactData.ContactAddress);
                $('select#TypeContacts option').each(function () {
                    if ($(this).text().toLowerCase() == resultContactData.Type.toLowerCase()) {
                        this.selected = true;
                        return;
                    }
                });
                if (resultContactData.Status == true) {
                    $('#Status').val("1");
                }
                else {
                    $('#Status').val("0");
                }

                $('#Company_Id').val(resultContactData.Company_Id);
                $('#UserId').val(resultContactData.UserId);
                $('#StreetNumber').val(resultContactData.StreetNumber);
                $('#PostalCode').val(resultContactData.PostalCode);
                $('#City').val(resultContactData.City);
                $('#LandLine').val(resultContactData.LandLine);
                $('#telephone').val(resultContactData.telephone);
                $('#Mobile').val(resultContactData.Mobile);
                $('#Website').val(resultContactData.Website);
                $('#BillingEmail').val(resultContactData.BillingEmail);
                $('#Remarks').val(resultContactData.Remarks);
                $('#UpdateContacts').show();
                $('#SaveNewContacts').hide();
                $('#CreateNewContactModal').modal('show');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    $(document).ready(function () {
        $("input[type='radio']").click(function () {
            var radioValue = $("input[name='ClientType']:checked").val();
            if (radioValue == "Private") {
                $('#rowiddd').hide(1000);
                $('#rowiddd2').show(1000);

            }
            else {
                $('#rowiddd2').hide(1000);
                $('#rowiddd').show(1000);


            }
        });
        
        $('#rowiddd2').hide();
    });


 
var $loading = $('#loadingDiv').hide();
$(document)
  .ajaxStart(function () {
    $loading.show();
  })
  .ajaxStop(function () {
    $loading.hide();
  });

</script>