
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<style>
    .modal-dialog {
        overflow-y: initial !important;
    }

    .modal-body {
        height: 550px;
        overflow-y: auto;
    }
</style>
<button id="CreateNewContacts" class="btn btn-sm btn-info"><i class="fa fa-plus-circle" style="padding-right:10px"></i>Create New</button>

<input type="hidden" id="ContactsId" name="ContactId" />
<input type="hidden" id="Company_Id" name="Company_Id" />





<table class="table table-striped" id="ContactListTable">
    <thead style="background-color:black;color:white">
        <tr>
            <th>
                Id
            </th>
            <th>
                Bedrijif Naam
            </th>

            <th>
                City
            </th>
            <th>
                PostCode
            </th>
            <th>
                Mobiel
            </th>
            <th>
                Type
            </th>

            <th>
                Status
            </th>

            <th class="text-right">Action</th>
        </tr>
    </thead>
    <tbody></tbody>

</table>

@*<div id="loadingDiv">Please wait while this page loads.</div>*@
<div class="modal fade bs-example-modal-lg" id="ContactViewModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabe1l" style="color:skyblue">Details... </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="overflow-y: scroll; max-height:80%">

                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-2">
                        <input type="radio" name="ClientTypev" value="CompanyClient" checked> Bedrijif<br>
                    </div>
                    <div class="col-sm-2">
                        <input type="radio" name="ClientTypev" value="Private">Persoon<br>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group ">
                            Name:
                            <input class="form-control" type="text" required id="ContactNamev" placeholder="Naam" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            Address:
                            <input class="form-control" type="text" required id="ContactAddressv" placeholder="Adres(Straatt Naam)" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            Street Number:
                            <input class="form-control" type="text" required id="StreetNumberv" placeholder="Street Number" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    postal Code:
                                    <input class="form-control" type="text" required id="PostalCodev" placeholder="PostCode" />
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group ">
                                    City:
                                    <input class="form-control" type="text" required id="Cityv" placeholder="City" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            Land:
                            <input class="form-control" type="text" required id="LandLinev" placeholder="Land" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            Telephone:
                            <input class="form-control" type="text" required id="telephonev" placeholder="Telefoon" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            Mobile:
                            <input class="form-control" type="text" required id="Mobilev" placeholder="Mobiel" />
                        </div>
                    </div>
                </div>
                <div class="row" id="ddd">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            Email:
                            <input class="form-control" type="text" required id="BillingEmailv1" placeholder="E-mial" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            Website:
                            <input class="form-control" type="text" required id="Websitev" placeholder="Website" />
                        </div>
                    </div>
                </div>
                <div class="row" id="ddd2">
                    <div class="col-sm-12">
                        <div class="form-group ">
                            Email:
                            <input class="form-control" type="text" required id="BillingEmailv" placeholder="E-mial" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="row">                             
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        Type
                                        <select class="form-control" id="TypeContactsv">
                                            <option value="Customerv" selected>Klant</option>
                                            <option value="Venderv">verkoper</option>
                                        </select>
                                    </div>                                   
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="row">                               
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        Payment Duration:
                                        <input type="text" id="PaymentTermDurationSelectv" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                @Html.Partial("~/Views/Shared/DirectoryUploadFilePartialView.cshtml");

                <button type="button" class="btn btn-danger waves-effect text-left" id="CancelContactsv" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Dichtbij</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@Html.Partial("~/Views/Shared/PartialViews/ContatcPartialView.cshtml")




<script>
    $(document).ready(function () {

        $("#ContactListTable").DataTable({
            //"processing": true, // for show progress bar
            processing: true,
            "language": {
                "processing": $('#loaderMvcConatc').append("<img src='../images/XtaS.gif' width='100px' height='60px' />"),  //add a loading image,simply putting tag.
            },
            searching: true,
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/MVCClient/GetContactList",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "ContactsId", "name": "ContactsId", "autoWidth": true },
                    { "data": "ContactName", "name": "ContactName", "autoWidth": true },
                    { "data": "City", "name": "City", "autoWidth": true },
                    { "data": "PostalCode", "name": "PostalCode", "autoWidth": true },
                    { "data": "Mobile", "name": "Mobile", "autoWidth": true },
                    { "data": "Type", "name": "Type", "autoWidth": true },
                    {
                        render: function (data, type, row) {
                            if (row.Status == true) {
                                return '<label class="switch"><input type="checkbox" onclick="EditClinetStatus(' + row.ContactsId + "," + row.Status + ')" checked><span class="slider round"></span></label>'

                            }
                            else {
                                return '<label class="switch"><input type="checkbox" onclick="EditClinetStatus(' + row.ContactsId + "," + row.Status + ')"><span class="slider round"></span></label>'
                            }
                        }
                    },

                     {
                         render: function (data, type, row) {

                             return '<div class="text-right"><button type="button" href="" class="btn btn-info btn-xs" data-id="Id" onclick="EditContact(' + row.ContactsId + ')"><i class="fa fa-pencil" style="margin-right:5px"></i>Edit</button>|<button type="button" class="btn btn-success btn-xs" onclick="ViewContacts(' + row.ContactsId + ')"><i class="fa fa-eye" style="margin-right:5px"></i>View</button>|<button type="button" class="btn btn-success btn-xs" onclick="ViewDirectory(' + row.ContactsId + ')"><i class="fa fa-eye" style="margin-right:5px"></i>ViewDirectory</button></div>'
                         }
                     }
            ]

        });
    });

    $('#CreateNewContacts').click(function () {
        GoToVendCustrClient = "";
        GoToVendCustrClient = "Client";
        LoadPaymentTermDuration();
        showRequiredModel = "";
        showRequiredModel = "ContactModel";
        $('#UpdateClineId').hide();
        $('#SaveClinetID').show();
        $('#CreateNewContactModal1').modal('show');

    });
    
    function ViewDirectory(Id) {
        window.location.href = "/Common/ViewDirecory?Id=" + Id + "&DName=" + "Client";
       
    }

    $('#UpdateContacts').click(function () {

        var billingAd;
        if ($('#BillingEmail').val().trim() != "") {
            billingAd = $('#BillingEmail').val();
        }
        else {
            billingAd = $('#BillingEmail1').val();
        }
        var res = validateContact();
        if (res == false) {
            return false;
        }
        else {
            var Data = {
                ContactsId: $('#ContactsId').val(),
                ContactName: $('#ContactName').val(),
                ContactAddress: $('#ContactAddress').val(),
                Type: $('#TypeContacts').val(),
                StreetNumber: $('#StreetNumber').val(),
                PostalCode: $('#PostalCode').val(),
                City: $('#City').val(),
                Land: $('#LandLine').val(),
                telephone: $('#telephone').val(),
                Mobile: $('#Mobile').val(),
                Website: $('#Website').val(),
                BillingEmail: billingAd,
                Remarks: $('#Remarks').val(),
                Status: $('#Status option:selected').text(),
                PersonCompany: $("input[name='ClientType']:checked").val(),
                Remarks: $('#Remarks').text(),
                Company_Id: $('#Company_Id').val(),
                PaymentTerm: $('#PaymentTermDurationSelect option:selected').text()
            }           
            $.ajax({
                url: '/MVCClient/AddOrEdit',
                type: 'POST',
                data: Data,
                success: function (data) {
                    $('#CreateNewContactModal1').modal('hide');
                    SuccessUpdate();
                    clearContectTextBox();
                },
                error: function () {
                    alert("error");
                }
            });
        }
    });
    
    function validateContact() {
        var isValid = true;
        if ($('#ContactName').val().trim() == "") {
            $('#ContactName').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#ContactName').css('border-color', 'lightgrey');
        }
        if ($('#ContactAddress').val().trim() == "") {
            $('#ContactAddress').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#ContactAddress').css('border-color', 'lightgrey');
        }

        return isValid;
    }

    function clearContectTextBox() {
        $('#ContactsId').val("");
        $('#ContactName').val("");
        $('#ContactAddress').val("");
        $('#Type').val("");
        $('#StreetNumber').val("");
        $('#PostalCode').val("");
        $('#City').val("");

        $('#LandLine').val("");
        $('#telephone').val("");
        $('#Mobile').val("");
        $('#Website').val("");
        $('#BillingEmail').val("");
        $('#BillingEmail1').val
        $('#BillingEmailv').val("");

        $('#UpdateContacts').hide();
        $('#SaveNewContacts').show();
      
    }

    function EditContact(ContactsId) {
        LoadPaymentTermDuration();
        $.ajax({
            url: "/MVCClient/AddOrEdit/" + ContactsId,
            type: "GET",
            dataType: "json",
            success: function (resultContactData) {

                $('#ContactsId').val(resultContactData.ContactsId);
                $('#ContactName').val(resultContactData.ContactName);
                $('#ContactAddress').val(resultContactData.ContactAddress);
                $('select#TypeContacts option').each(function () {
                    if ($(this).text().toLowerCase() == resultContactData.Type.toLowerCase()) {
                        this.selected = true;
                        return;
                    }
                });
                if (resultContactData.Status == true) {
                    $('#Status').val("1");
                }
                else {
                    $('#Status').val("0");
                }

                $('#Company_Id').val(resultContactData.Company_Id);
                $('#UserId').val(resultContactData.UserId);
                $('#StreetNumber').val(resultContactData.StreetNumber);
                $('#PostalCode').val(resultContactData.PostalCode);
                $('#City').val(resultContactData.City);
                $('#LandLine').val(resultContactData.Land);
                $('#telephone').val(resultContactData.telephone);
                $('#Mobile').val(resultContactData.Mobile);
                $('#Website').val(resultContactData.Website);
                $('#BillingEmail').val(resultContactData.BillingEmail);
                $('#BillingEmail1').val(resultContactData.BillingEmail);
                $('#Remarks').val(resultContactData.Remarks);

               
                $('select#PaymentTermDurationSelect option').each(function () {
                    if ($(this).text() == resultContactData.PaymentTerm) {
                        this.selected = true;
                        return;
                    }
                });


                //$("#PaymentTermDurationSelect").val($(resultContactData.PaymentTerm));
                $("input[name='ClientType']:checked").val(resultContactData.PersonCompany),
                $('#Remarks').text(resultContactData.Remarks)

                $('#UpdateClineId').show();
                $('#SaveClinetID').hide();
                showRequiredModel = "";
                showRequiredModel = "ContactModel";
                $('#CreateNewContactModal1').modal('show');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    $(document).ready(function () {

        $("input[type='radio']").click(function () {
            var radioValue = $("input[name='ClientType']:checked").val();
            if (radioValue == "Private") {

                $('#ddd').hide(1000);
                $('#ddd2').show(1000);

            }
            else {

                $('#ddd2').hide(1000);
                $('#ddd').show(1000);


            }
        });

        $('#ddd2').hide();
    });

    var $loading = $('#loadingDiv').hide();
    $(document)
      .ajaxStart(function () {
          $loading.show();
      })
      .ajaxStop(function () {
          $loading.hide();
      });

    function ViewContacts(id) {

        $('#ContactsId').val(id);

        $.ajax({
            url: "/MVCClient/AddOrEdit/" + id,
            type: "GET",
            dataType: "json",
            success: function (resultContactData) {
                $('#ContactNamev').val(resultContactData.ContactName);
                $('#ContactAddressv').val(resultContactData.ContactAddress);
                $('select#TypeContactsv option').each(function () {
                    if ($(this).text().toLowerCase() == resultContactData.Type.toLowerCase()) {
                        this.selected = true;
                        return;
                    }
                });

                if (resultContactData.Type == "Customer") {

                    $('#TypeContactsv').val("Customerv");
                }
                else {
                    $('#TypeContactsv').val("Venderv");
                }

                if (resultContactData.Status == true) {
                    $('#Statusv').val("1");
                }
                else {
                    $('#Statusv').val("0");
                } 
                $('#Company_Idv').val(resultContactData.Company_Id);
                $('#UserIdv').val(resultContactData.UserId);
                $('#StreetNumberv').val(resultContactData.StreetNumber);
                $('#PostalCodev').val(resultContactData.PostalCode);
                $('#Cityv').val(resultContactData.City);
                $('#LandLinev').val(resultContactData.Land);
                $('#telephonev').val(resultContactData.telephone);
                $('#Mobilev').val(resultContactData.Mobile);
                $('#Websitev').val(resultContactData.Website);
                $('#BillingEmailv').val(resultContactData.BillingEmail);
                $('#BillingEmailv1').val(resultContactData.BillingEmail);               
                $('#PaymentTermDurationSelectv').val(resultContactData.PaymentTerm);

                $('#Remarksv').val(resultContactData.Remarks);

                if (resultContactData.PersonCompany == 'Private') {
                    $('input:radio[name="ClientTypev"][value="Private"]').prop('checked', true);
                }
                else {
                    $('input:radio[name="ClientTypev"][value="CompanyClient"]').prop('checked', true);
                }

                $('#Remarksv').text(resultContactData.Remarks)

                $('#ContactViewModel').modal('show');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function SuccessInsertConatct() {
        swal({
            title: "Congratulations!!!!",
            text: "Your data has been saved successfully",
            type: "success",

        });
    }

    function EditClinetStatus(id, Status) {
        var answer = confirm('Are you sure you want to change the status of the Client?');
        if (answer) {
            $.ajax({
                url: "/MVCClient/Delete",
                type: "Post",
                async: false,
                dataType: "json",
                data: { id: id, status: Status },
                success: function (data) {
                    if (data == "ok")
                        $('#ContactListTable').DataTable().ajax.reload();
                },
                Error: function (errormessage) {
                    alert(errormessage);
                }
            });
        }
    }

    function SuccessUpdate()
    {
     $.toast({
        heading: 'Opration success',
        text: 'Data updated successfull',
        icon: 'info',
        loader: true,        // Change it to false to disable loader
        loaderBg: '#008000'  // To change the background
    });
    }

</script>