
@{
    ViewBag.Title = "Index";
}

@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
@*<div class="container">
            <div class="col-sm-6 col-sm-offset-3">
               <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6">
                                Create new quotation
                            </div>
                            <div class="col-sm-6">
                                <text class="pull-right" style="color:skyblue" title="Choose which client you want to make in offer for.">Explination</text>
                            </div>
                        </div>
                    </div>
                         <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>Select a client</h4>
                            </div>
                            <div class="col-sm-8">
                                <select id="SelectContacts" class="form-control"></select>
                            </div>
                            </div>

                    </div>
                </div>
            </div>                      
    </div>*@

  
<button id="CreateNewContacts" class="btn btn-sm btn-info"><i class="fa fa-plus-circle"></i>Create New</button>

<table class="table" id="ContactListTable">
    <thead style="background-color:black;color:white">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>

            <th>
                Type
            </th>
            <th>
                BillingPersonName
            </th>
            <th>
                Company Name
            </th>
            <th>
                Billing TRN
            </th>

            <th>
                Status
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>

</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'

            if (successMessage != '') {
                alertify.success(successMessage);
            }
            if (successMessage != '') {
                successMessage = '';
                delete ('@TempData["SuccessMessage"]');
            }
        });

    </script>

}

<input type="hidden" id="ContactsId" />
<div class="modal fade bs-example-modal-lg" id="CreateNewContactModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabe1l" style="color:skyblue">Add New Contact</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="ContactName" placeholder="Client Name" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="ContactAddress" placeholder="Contact Address" />
                        </div>
                    </div>
                </div>

                <table class="table table-bordered">
                    <thead>
                        <tr class="success">
                            <th>
                                <div class="row">
                                    <div class="col-sm-6">Billing Address</div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-7" style="color:skyblue">
                                                <input type="checkbox" id="SameAsBilling" name="sameasbilling" value="sameAsBilling" /> Same as billing Address
                                            </div>
                                            <div class="col-sm-5 pull-right">
                                                Shipping Address
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>                         
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <input class="form-control" type="text" required id="BillingCompanyName" placeholder="Billing Company Name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <input class="form-control" type="text" required id="ShippingCompanyName" placeholder="Shipping Company Name" />
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <input class="form-control" type="text" required id="BillingPersonName" placeholder="Billing Person Name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <input class="form-control" type="text" required id="ShippingPersonName" placeholder="Shipping Person Name" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <input class="form-control" type="text" required id="BillingAddress" placeholder="Street name and number" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <input class="form-control" type="text" required id="ShippingAddress" placeholder="Street name and number" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <input class="form-control" type="text" required id="BillingCity" placeholder="Postal Code and City" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <input class="form-control" type="text" required id="ShippingCity" placeholder="Postal Code and City" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <input class="form-control" type="text" required id="BillingCountry" placeholder="Billing Country" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <input class="form-control" type="text" required id="ShippingCountry" placeholder="Shipping Country" />
                                        </div>
                                    </div>
                                </div>
                                       <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group ">
                                                <input class="form-control" type="text" required id="BillingVatTRN" placeholder="Billing BTW" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group ">
                                                <input class="form-control" type="text" required id="ShippingVatTRN" placeholder="Shipping BTW" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group ">
                                                <input class="form-control" type="text" required id="BillingMobile" placeholder="Billing Mobile" />
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group ">
                                                <input class="form-control" type="text" required id="ShippingMobile" placeholder="Shipping Mobile" />
                                            </div>

                                        </div>
                                        </div>
                                    
                                

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <input class="form-control" type="email" required id="BillingEmail" placeholder="Billing Email" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <input class="form-control" type="text" required id="ShippingEmail" placeholder="Shipping Email" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">                                  
                                        <div class="col-sm-6">
                                            <div class="form-group ">
                                                <input class="form-control" type="text" required id="BillingFax" placeholder="Billing Fax" />
                                            </div>
                                        </div>

                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <input class="form-control" type="text" required id="ShippingFax" placeholder="Shipping Fax" />
                                        </div>
                                    </div>
                                    </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <input class="form-control" type="text" required id="BillingZibCode" placeholder="Billing ZIP" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group ">
                                            <input class="form-control" type="text" required id="ShippingZIP" placeholder="Shipping ZIP" />
                                        </div>
                                    </div>
                                </div>

</td>
            </tr>
            </tbody>
            </table>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4" style="margin-top:7px">Type</div>
                            <div class="col-sm-8">
                                <select class="form-control" id="TypeContacts">
                                    <option value="Customer" selected>Customer</option>
                                    <option value="Vender">Vender</option>
                              </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4" style="margin-top:7px">Status</div>
                            <div class="col-sm-8">
                                <select class="form-control" id="Status">
                                    <option value="1" selected>True</option>
                                    <option value="0">False</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-4" style="margin-top:7px">Remarks</div>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="Remarks" rows="1" data-toggle="tooltip" data-placement="bottom" title="Remarks!!"></textarea>
                            </div>
                        </div>
                    </div>
                </div>


          

        </div>
            <div class="modal-footer">
                <button type="button" id="SaveNewContacts" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i>Save Contact</button>
                <button type="button" id="UpdateContacts" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i>Update Contact</button>
                <button type="button" class="btn btn-danger waves-effect text-left" id="CancelContacts" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<style>
      
    .modal-dialog{
          overflow-y: initial !important
    }
    .modal-body{
      height: 550px;
      overflow-y: auto;
    }
    </style>