
<body>
    <form id="from1" style="background:lightGreen;">
        <table>
            <tr>
                <td>
                  <a href="~/CrystalReport/WebForm1.aspx">Click to View Report</a>
                </td>
            </tr>
        </table>
    </form>
</body>