



<form  method="post" enctype="multipart/form-data">
    <div class="row">

        <div class="col-md-6">
            <input type="file" id="fileInput" name="files" class="makethispretty btn btn-success" multiple style="height:42px;" />
        </div>
       
    </div>
</form>


