
<div class="btn btn-default image-preview-input">
    <input type="file" name="UploadFile" id="txtUploadFile" class="makethispretty" />
</div>
<table class="table table-hover" id="participantTable">
    <tbody id="upload"></tbody>
</table>

<script type="text/javascript">

    $('#txtUploadFile').on('change', function (e) {
        var fileUpload = $("#txtUploadFile").get(0);
        var files = fileUpload.files;

        var IsvalidSixze = validateFileSize();

        if (IsvalidSixze == false) {
            return true;
        }
        else {

            var fileData = new FormData();
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            $.ajax({
                url: '/Purchase/UploadFiles',
                type: "POST",
                contentType: false,
                processData: false,
                data: fileData,
                async: false,
                success: function (result) {
                    console.log(result);

                    if (result != "") {
                        $('#upload').append("<tr><td><input type='text' class='form-control col-sm-6 FileName' value='" + result.FileName + "' name='FileName' readonly> <input type='hidden' class='form-control filepath' value='" + result.FilePath + "' name='FilePath'></td><td><button class='btn btn-danger col-sm-4 btn-sm remove' type='button'><i class='fa fa-trash'></i></button></td></tr>")
                    }
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }
    });


    function validateFileSize() {
        debugger;
        var Isvalid = true;
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            //get the file size and file type from file input field
            var fsize = $('#txtUploadFile')[0].files[0].size;
            var ftype = $('#txtUploadFile')[0].files[0].type;
            var fname = $('#txtUploadFile')[0].files[0].name;

            if (fsize > 1048576) //do something if file size more than 1 mb (1048576)
            {
                Isvalid = false;

                alert("Type :" + ftype + " | " + fsize + " bites\n(File: " + fname + ") Too big!");
            }
            else {
                Isvalid = true;
            }
        }
        return Isvalid;
    }


    $(document).on('click', '.remove', function () {
        $(this).parent().parent().remove();
        debugger;
        var current = $(this).closest("tr");
        var FileName1 = current.find(".FileName").val();
        $.ajax({
            url: "/Purchase/deleteFile",
            type: "GET",
            data: { FileName: FileName1 },
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                if (result == "Success") {

                }
            },
            error: function (err) {
                alert(err.statusText);
            }
        });


    });

</script>