
@{
    ViewBag.Title = "CreateCompany";
}

<h2>CreateCompany</h2>
<!-- Modal -->
<div id="myModal" class="modal fade static" role="dialog" data-backdrop="static">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Close</button>
            </div>
        </div>

    </div>
</div>