
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="color:white;background-color:black">
        <b>bedrijfsinformatie</b>
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row" style="margin-top:5px">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-2">Naam:</div>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="ccompanyname" />
            </div>
            <div class="col-sm-2">Logo:</div>
            <div class="col-sm-3"><img class="pull-right" id="CtargetImg" style="height:30%;width:30%" /></div>
            <input type="hidden" id="logourl" />
        </div>
        <div class="row" style="margin-top:5px">
            <div class="col-sm-2">Adres:</div>
            <div class="col-sm-6"><input type="text" class="form-control" id="CAddress" /></div>
            <div class="col-sm-1">Straat:</div>
            <div class="col-sm-3"><input type="text" class="form-control" id="cStreetNumber" /></div>
        </div>
        <div class="row" style="margin-top:5px">
            <div class="col-sm-2">PostCode:</div>
            <div class="col-sm-2"><input type="text" class="form-control" id="CPsotalCode" /></div>

            <div class="col-sm-1">City:</div>
            <div class="col-sm-3"><input type="text" class="form-control" id="CCity" /></div>

            <div class="col-sm-1">land:</div>
            <div class="col-sm-3"><input type="text" class="form-control" id="CCountry" /></div>
        </div>
        <div class="row" style="margin-top:5px">
            <div class="col-sm-2">Vaste telefoon:</div>
            <div class="col-sm-2"><input type="text" class="form-control" id="CLandline" /></div>

            <div class="col-sm-1">mobiel:</div>
            <div class="col-sm-3"><input type="text" class="form-control" id="CMobile" /></div>
            <div class="col-sm-1">E-mail:</div>
            <div class="col-sm-3"><input type="text" class="form-control" id="CEmail" /></div>
        </div>

        <div class="row" style="margin-top:5px">
            <div class="col-sm-2">Banknaam:</div>
            <div class="col-sm-6"><input type="text" class="form-control" id="CBank" /></div>

            <div class="col-sm-1">IBN:</div>
            <div class="col-sm-3"><input type="text" class="form-control" id="CIBN" /></div>

        </div>

        <div class="row" style="margin-top:5px">
            <div class="col-sm-2">BIC:</div>
            <div class="col-sm-2"><input type="text" class="form-control" id="cBIC" /></div>

            <div class="col-sm-1">KVK:</div>
            <div class="col-sm-3"><input type="text" class="form-control" id="cKVK" /></div>
            <div class="col-sm-1">BTW:</div>
            <div class="col-sm-3"><input type="text" class="form-control" id="cBTW" /></div>
        </div>

        <div class="row" style="margin-top:5px">
            <div class="col-sm-2">Webiste:</div>
            @*<div class="col-sm-10"><a href="#" id="cwebist" target="_blank"><label id="websitecc"></label></a>*@
            <div class="col-sm-10">
                <div id="main-logo"><a href="http://www.yahoo.com"><label id="websitecc"></label></a></div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <button class="btn btn-primary" id="EditCompanyInfo" style="width:100px">Bewerk</button>
    </div>
    <div class="col-sm-2"></div>
</div>

<input type="hidden" id="companyiddd" />
<input type="hidden" id="UserName" />

<div class="modal fade bs-example-modal-lg" id="CCompanyModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Werk bedrijfsinformatie bij... </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="CompanyName" placeholder="Bedrijfsnaam">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="CompanyAddress" placeholder="bedrijfsadres">
                            </div>
                        </div>
                        <div class="row" style="margin-top:5px"> 
                            <div class="col-sm-6">
                                <input class="form-control" type="text" required id="PostalCode" placeholder="PostCode">
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" required id="CompanyCity" placeholder="City">
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:25px">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="CompanyPhone" placeholder="Bedrijfstelefoonlijn">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="CompanyEmail" placeholder="Bedrijf E-mail">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="BankName" placeholder="Banknaam">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="BIC" placeholder="BIC">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="BTW" placeholder="BTW">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="file" name="file" id="CFileUpload1" />
                                </div>
                                </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <img class="pull-right" id="targetImg" style="height:30%;width:45%" />
                                </div>
                            </div>
                        </div>
                      
                        <div class="form-group" style="margin-top:5px">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="StreetNumber" placeholder="Huisnummer">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="CompanyCountry" placeholder="Bedrijf Land">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="CompanyCell" placeholder="Bedrijfscel of mobiel">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="Website" placeholder="Bedrijfswebsite www.ITMolen.nl">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="IBANNumber" placeholder="IBAN Aantal">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="KVK" placeholder="KVK Aantal">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-success" id="UpdateCompanyInformation"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Bijwerken</button>
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-danger" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Dichtbij</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>

    function LoadCompanyInfo()
    {
       
        $.ajax({
            url: "/MVCComapny/CompanyEdit",
            type: "GET",
            cache: false,
            success: function (resultCompany) {
                $('#companyiddd').val(resultCompany.companyid);
                $('#ccompanyname').val(resultCompany.CompanyName);
                $('#CAddress').val(resultCompany.CompanyAddress);
                $('#CPsotalCode').val(resultCompany.PostalCode);
                $('#CCity').val(resultCompany.CompanyCity);
                $('#CCountry').val(resultCompany.CompanyCountry);
                $('#CLandline').val(resultCompany.CompanyPhone);
                $('#CMobile').val(resultCompany.CompanyCell);
                $('#CEmail').val(resultCompany.CompanyEmail);
                $('#websitecc').text(resultCompany.Website);
                $('#cwebist').attr("href", resultCompany.Website);
                $("#main-logo a").attr("href", "http://" + resultCompany.Website);
                $('#logourl').val(resultCompany.CompanyLogo);
                $('#CBank').val(resultCompany.BankName);
                $('#CIBN').val(resultCompany.IBANNumber);
                $('#cBIC').val(resultCompany.BIC);
                $('#cKVK').val(resultCompany.KVK);
                $('#cBTW').val(resultCompany.BTW);
                $('#cStreetNumber').val(resultCompany.StreetNumber);
                $('#UserName').val(resultCompany.UserName);
                
                $('#CtargetImg').attr('src', '/images/' + resultCompany.CompanyLogo);
            },
            error: function (errormessage) {
                alert(errormessage)
            }
        });
    }


    $(document).ready(function () {
        LoadCompanyInfo();
                $('#EditCompanyInfo').click(function ()
                {
                    $('#CompanyName').val($('#ccompanyname').val());
                    $('#CompanyAddress').val($('#CAddress').val());
                    $('#PostalCode').val($('#CPsotalCode').val());
                    $('#CompanyCity').val($('#CCity').val());
                    $('#CompanyEmail').val($('#CEmail').val());
                    $('#CompanyPhone').val($('#CLandline').val());
                    $('#BankName').val($('#CBank').val());
                    $('#BIC').val($('#cBIC').val());
                    $('#BTW').val($('#cBTW').val());
                    $('#StreetNumber').val($('#cStreetNumber').val());
                    $('#CompanyCountry').val($('#CCountry').val());
                    $('#CompanyCell').val($('#CMobile').val());
                    $('#Website').val($('#websitecc').text());
                    $('#IBANNumber').val($('#CIBN').val());
                    $('#KVK').val($('#cKVK').val());

                    //$('#FileUpload1').val($('#logourl').val());
                    $('#targetImg').attr('src', '/images/' + $('#logourl').val());
                    $('#CCompanyModal').modal('show');

                });

            });

    $(document).ready(function () {

                $("#CFileUpload1").change(function () {
                    readURL(this, 'targetImg');
                });

                data = {
                    ccompanyname: "New company here"
                }

                function SuccessUpdated() {
                    swal({
                        title: "Success",
                        text: "Your data has been updated successfully",
                        type: "success",
                       
                    });
                }


                $(document).ready(function () {

                    $("#UpdateCompanyInformation").click(function (e) {

                        if (window.FormData != undefined) {
                            var fileData = new FormData();

                            if ($("#CFileUpload1").val() != "") {
                                var fileUpload = $("#CFileUpload1").get(0);
                                var files = fileUpload.files;


                                for (var i = 0; i < files.length; i++) {
                                    fileData.append(files[i].name, files[i]);
                                }
                            }

                            fileData.append('CompanyID', parseInt(localStorage.getItem('CompanyID')));
                            fileData.append('CompanyName', $('#CompanyName').val());
                            fileData.append('CompanyAddress', $('#CompanyAddress').val());
                            fileData.append('CompanyPhone', $('#CompanyPhone').val());
                            fileData.append('CompanyCell', $('#CompanyCell').val());
                            fileData.append('CompanyEmail', $('#CompanyEmail').val());
                            if ($("#CFileUpload1").val() != "")
                            {
                                fileData.append('CompanyLogo', $('#CFileUpload1').val());
                            }

                            fileData.append('CompanyLogo', $('#logourl').val());
                            fileData.append('CompanyCity', $('#CompanyCity').val());
                            fileData.append('CompanyCountry', $('#CompanyCountry').val());
                            fileData.append('StreetNumber', $('#StreetNumber').val());

                            fileData.append('PostalCode', $('#PostalCode').val());
                            fileData.append('Website', $('#Website').val());
                            fileData.append('BankName', $('#BankName').val());

                            fileData.append('IBANNumber', $('#IBANNumber').val());
                            fileData.append('BIC', $('#BIC').val());
                            fileData.append('KVK', $('#KVK').val());
                            fileData.append('UserName', $('#UserName').val());
                           
                            fileData.append('BTW', $('#BTW').val());

                            fileData.append('AddedDate', $('#AddedDate').val());

                            var url = "/MVCComapny/UpdateCompany";

                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: fileData,
                                processData: false,
                                contentType: false,
                                success: function (ReturnStatus) {
                                 
                                    if (ReturnStatus == 200) {
                                        $('#CCompanyModal').modal('hide');
                                        SuccessUpdated();
                                        LoadCompanyInfo();
                                    }
                                },
                                error: function () {
                                    alert("Error please try again");
                                }
                            });
                        }
                        });
                   
                });

            });
</script>

