
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "TrialBalance";
}
<style>
    .tablelook {
    width: 100%;
    border-collapse: collapse;
    background: #e8e8e8;
    font-size: 14px;
}

    table tr{
        border:solid 2px
    }
    table th{
        border:solid 2px
    }
     table td{
        border:solid 2px #FFFFFF

    }
</style>

<div class="row">

    <div class="col-md-3"></div>
   <div class="col-md-6">
        <table class="tablelook">
            <tbody>
                <tr style="background: #31849b; color: #fff;"><td colspan="3" align="center"><b>ABC LTD<br>Trial Balance as at 31 December 2011</b></td></tr>
                <tr style="background: #31849b; color: #fff;"><td width="50%" rowspan="2"><b>Account Title</b></td><td width="25%" align="center"><b>Debit</b></td><td width="25%" align="center"><b>Credit</b></td></tr>
                <tr style="background: #31849b; color: #fff;"><td style="text-align: right; padding-right: 30px;"><b>$</b></td><td style="text-align: right; padding-right: 30px;"><b>$</b></td></tr>
               
                <tr><td>Share Capital</td><td></td><td align="right">15,000</td></tr>
                <tr><td>Furniture &amp; Fixture</td><td align="right">5,000</td><td></td></tr>
                <tr><td>Building</td><td align="right">10,000</td><td></td></tr>
                <tr><td>Creditor</td><td></td><td align="right">5,000</td></tr>
                <tr><td>Debtors</td><td align="right">3,000</td><td></td></tr>
                <tr><td>Cash</td><td align="right">2,000</td><td></td></tr>
                <tr><td>Sales</td><td></td><td align="right">10,000</td></tr>
                <tr><td>Cost of sales</td><td align="right">8,000</td><td></td></tr>
                <tr><td>General and Administration Expense</td><td align="right">2,000</td><td></td></tr>
                <tr style="background: #31849b; color: #fff;"><td><b>Total</b></td><td align="right"><b>30,000</b></td><td align="right"><b>30,000</b></td></tr>
            </tbody>
        </table>
       </div>
    
    </div>
   


