
<div class="modal fade bs-example-modal-lg" id="CreateNewContactModal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabe1l" style="color:skyblue"><label id="ModelHeading"></label></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="height: auto !important">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-2">
                        <input type="radio" name="ClientType" value="CompanyClient" checked> Bedrijif<br>
                    </div>
                    <div class="col-sm-2">
                        <input type="radio" name="ClientType" value="Private">Persoon<br>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="ContactName" placeholder="Naam" />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="ContactAddress" placeholder="Adres(Straatt Naam)" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="StreetNumber" placeholder="Street Number" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <input class="form-control" type="text" required id="PostalCode" placeholder="PostCode" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <input class="form-control" type="text" required id="City" placeholder="City" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="LandLine" placeholder="Land" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="telephone" placeholder="Telefoon" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="Mobile" placeholder="Mobiel" />
                        </div>
                    </div>
                </div>

                <div class="row" id="rowiddd">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="BillingEmail" placeholder="E-mial" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="Website" placeholder="Website" />
                        </div>
                    </div>
                </div>


                <div class="row" id="rowiddd2">
                    <div class="col-sm-12">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="BillingEmail1" placeholder="E-mial" />
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2" style="margin-top:7px">Type</div>
                                <div class="col-sm-10">
                                    <select class="form-control" id="TypeContacts">
                                        <option value="Customer" selected>Klant</option>
                                        <option value="Vender">verkoper</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2" style="margin-top:7px">staat</div>
                                <div class="col-sm-10">
                                    <select class="form-control" id="Status">
                                        <option value="1" selected>True</option>
                                        <option value="0">False</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">Rem:</div>
                    <div class="col-sm-11">
                        <textarea class="form-control" id="Remarks" rows="2" data-toggle="tooltip" data-placement="bottom" title="Opmerkingen!!"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="SaveClinetID">
                    <button type="button" id="SaveNewContacts" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Save</button>

                </div>

                <div id="UpdateClineId">
                    <button type="button" id="UpdateContacts" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Update</button>
                </div>
                <button type="button" class="btn btn-danger waves-effect text-left" id="CancelContactsQt" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Dichtbij</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade bs-example-modal-lg" id="AddNewVenderModel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Maak nieuwe factuur</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Naam van de verkoper:</h4>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="VenderName" placeholder="Naam van de verkoper">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <h4>Adres:</h4>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="VenderAddress" placeholder="Adres">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="SaveVender" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-save" style="padding-right: 10px"></i>opslaan</button>
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Dichtbij</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $('#SaveNewContacts').click(function () {

        var res = validateContactQutation();
        if (res == false) {
            return false;
        }
        else {

            $.ajax({
                url: '/MVCClient/AddOrEdit',
                type: 'POST',
                data: {
                    ContactName: $('#ContactName').val(),
                    ContactAddress: $('#ContactAddress').val(),
                    Type: $('#TypeContacts option:selected').val(),
                    StreetNumber: $('#StreetNumber').val(),
                    PostalCode: $('#PostalCode').val(),
                    City: $('#City').val(),
                    LandLine: $('#LandLine').val(),
                    telephone: $('#telephone').val(),
                    Mobile: $('#Mobile').val(),
                    Website: $('#Website').val(),
                    BillingEmail: $('#BillingEmail').val(),
                    Remarks: $('#Remarks').val(),
                    Status: $('#Status option:selected').text(),

                },
                success: function (response) {
                    debugger;
                    if (response == '201') {

                        if (showRequiredModel == "QutationContactModel") {
                            $('#QutationContactModel').modal('show');
                            $('#CreateNewContactModal1').modal('hide');
                        }
                        else if (showRequiredModel == "PurchaseContatcModel") {
                            $('#VenderSelectModel').modal('show');
                            $('#CreateNewContactModal1').modal('hide');
                        }
                        else {
                            $('#CreateNewContactModal1').modal('hide');
                        }

                        clearContectTextBox1();
                        //SuccessInsertConatct1();
                        LoadContactsQuIndex();
                        LoadVernder();

                        $.toast({
                            heading: 'Opration Success',
                            text: 'Data Saved Successfull',
                            icon: 'info',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#9EC600'  // To change the background
                        });
                    }
                    else {
                        alert(response);
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        }

    });

    function clearContectTextBox1() {
        $('#ContactsId').val("");
        $('#ContactName').val("");
        $('#ContactAddress').val("");
        $('#Type').val("");
        $('#StreetNumber').val("");
        $('#PostalCode').val("");
        $('#City').val("");

        $('#LandLine').val("");
        $('#telephone').val("");
        $('#Mobile').val("");
        $('#Website').val("");
        $('#BillingEmail').val("");
        $('#BillingEmail').val("");

        $('#UpdateContacts').hide();
        $('#SaveNewContacts').show();

    }

    function SuccessInsertConatct1() {
        $.toast({
            text: 'Opration Successfully completed',
            icon: 'info',
            loader: true,        // Change it to false to disable loader
            loaderBg: '#9EC600'  // To change the background
        })
    }

    $('#SelectContacts1').change(function () {
        showRequiredModel = "";
        showRequiredModel = "QutationContactModel";
        var value = $(this).val();
        if (value == "AddNewClientSelect") {
            $('#UpdateClineId').hide();
            $('#QutationContactModel').modal('hide');

            $('#ModelHeading').text("Maak nieuwe klant");
            $("#TypeContacts").find("option").remove();
            $("#TypeContacts").prepend("<option value=Customer>" + 'Klant' + "</option>");
            $('#CreateNewContactModal1').modal('show');

        }

    });

    $('#venderSelect').change(function () {
        showRequiredModel = "";
        showRequiredModel = "PurchaseContactModel";
        $('#UpdateClineId').hide();
        var value = $(this).val();
        if (value == "AddNewVenderSelect") {


            $('#VenderSelectModel').modal('hide');
            $('#ModelHeading').text("Maak nieuwe vender");
            $("#TypeContacts").find("option").remove();
            $("#TypeContacts").prepend("<option value=Vender>" + 'verkoper' + "</option>");
            $('#CreateNewContactModal1').modal('show');

        }

    });

    function LoadContacts() {

        $("#SelectContacts1").find("option").remove();

        $("#SelectContacts1").prepend("<option value=0>" + 'Select Client' + "</option>");
        $("#SelectContacts1").append("<option value=AddNewClientSelect>" + 'Add New Client' + "</option>");

        $.ajax({
            url: "/MVCClient/GetContacts",
            type: "Get",
            async: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {

                $.each(data, function (key, item) {

                    $('#SelectContacts1').append($('<option></option>').val(item.ContactsId).html(item.ContactName));

                });

            },
            Error: function (errormessage) {
                alert(errormessage);
            }

        });
    }

    function LoadVernder() {
        $("#venderSelect").find("option").remove();
        $("#venderSelect").prepend("<option value=0>" + 'Select Vender' + "</option>");
        $("#venderSelect").append("<option value=AddNewVenderSelect>" + 'Add New Vender' + "</option>");

        $.ajax({
            url: "/Purchase/GetVender",
            type: "Get",
            async: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, item) {
                    $('#venderSelect').append($('<option></option>').val(item.ContactsId).html(item.ContactName));

                });

            },
            Error: function (errormessage) {
                alert(errormessage);
            }

        });
    }

    $('#SelectProductQutation').change(function () {

        var value = $(this).val();
        if (value == "AddNewProductSelect") {

            $('#CreateNewProductModal').modal('show');

        }

    });

    $('#TypeGoodsServices').change(function () {
        GoodsService = "";
        GoodsService = $('#TypeGoodsServices').val();
        ShowServiceGood(GoodsService);
    });

    $(document).ready(function () {
        $("input[type='radio']").click(function () {
            var radioValue = $("input[name='ClientType']:checked").val();
            if (radioValue == "Private") {
                $('#rowiddd').hide(1000);
                $('#rowiddd2').show(1000);
            }
            else {
                $('#rowiddd2').hide(1000);
                $('#rowiddd').show(1000);
            }
        });
        $('#rowiddd2').hide();

    });

    function validateContactQutation() {
        var isValid = true;
        if ($('#ContactName').val().trim() == "") {
            $('#ContactName').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#ContactName').css('border-color', 'lightgrey');
        }
        if ($('#ContactAddress').val().trim() == "") {
            $('#ContactAddress').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#ContactAddress').css('border-color', 'lightgrey');
        }

        return isValid;
    }

    function LoadContactsQuIndex() {

        $("#SelectContacts1").find("option").remove();

        $("#SelectContacts1").prepend("<option value=0>" + 'Select Client' + "</option>");
        $("#SelectContacts1").append("<option value=AddNewClientSelect>" + 'Add New Client' + "</option>");

        $.ajax({
            url: "/MVCClient/GetContacts",
            type: "Get",
            async: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {

                $.each(data, function (key, item) {

                    $('#SelectContacts1').append($('<option></option>').val(item.ContactsId).html(item.ContactName));

                });

            },
            Error: function (errormessage) {
                alert(errormessage);
            }

        });
    }
</script>