<tr id="mainrow1">
    <td>
        <input class="ServiceDate  ss  form-control Input-height" style="width: 100px;font-size:12px" />
    </td>
    <td>
        <select id="SelectProductQutationS" class="product form-control pClassG Input-height" style="width: 150px;font-size:12px"></select>
    </td>
    <td>
        <input type="text" class="Discription form-control Input-height" style="width: 150px;font-size:12px" />
    </td>
    <td>
        <input type="text" class="quantityG form-control Input-height" id="QuantityS" style="width: 80px;font-size:12px" />
    </td>
    <td>
        <input type="text" class="rateG form-control Input-height" id="RateS" style="width: 80px;font-size:12px" />
    </td>
    <td>
        <input type="text" class="FTotalG form-control Input-height" id="FTotals" style="width: 80px;font-size:12px" />
    </td>
    <td>
        <select id="SelectVATS" class="VATG form-control Input-height" style="width:60px;font-size:12px">
            <option>0</option>
            <option>6</option>
            <option>21</option>
        </select>
    </td>
    <td>
        <input type="text" readonly class="RowTotalG form-control Input-height" id="dddd" style="width:80px" />
    </td>
    <td>
        <input type="button" id="btnSerVice" value="+" class="btn-height" style="width:50px" />
    </td>

</tr>
