<div class="modal fade" id="VenderSelectModel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Create Invoice</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <select id="venderSelect" class="form-control"></select>
            </div>

            <div class="modal-footer">
                <div id="Purchase">
                    <button type="button" id="VenderClientNext" class="btn btn-info">Next Step <i class="fa fa-angle-double-right" style="padding-left: 10px"></i></button>
                </div>
                <div id="Bill">
                    <button type="button" id="VenderClientNextBill" class="btn btn-info">Next Step <i class="fa fa-angle-double-right" style="padding-left: 10px"></i></button>
                </div>
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Cancel</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $('#VenderClientNextBill').click(function () {
        var value = $('#venderSelect').val();
        if (value > 0) {
            window.location.href = "/Bills/Create?id=" + value;
        }
    });


    $('#VenderClientNext').click(function () {
        var value = $('#venderSelect').val();
        if (value > 0) {
            window.location.href = "/Purchase/Create?id=" + value;
        }
    });
</script>
