<div class="modal fade" id="QutationContactModel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Create Qutation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <select id="SelectContacts1" class="form-control"></select>
            </div>

            <div class="modal-footer">
                <div id="quotation">
                    <button type="button" id="QutationClientNext" class="btn btn-info d-none d-lg-block m-l-15">Next Step <i class="fa fa-angle-double-right" style="margin-left:5px"></i></button>
                </div>
                <div id="Invoice">
                    <button type="button" id="InvoiceClientNext" class="btn btn-info d-none d-lg-block m-l-15">Next Step<i class="fa fa-angle-double-right" style="margin-left:5px"></i></button>
                </div>
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>




<script>
    $('#QutationClientNext').click(function () {

        var value = $('#SelectContacts1').val();
        if (value > 0) {
            window.location.href = "/Qutation/Create?id=" + value;
        }
    });


    $('#InvoiceClientNext').click(function () {

        var value = $('#SelectContacts1').val();

        if (value > 0) {
            window.location.href = "/Invoice/Create?id=" + value;
        }
    });

   
   


    $('#CancelContactsQt').click(function () {
        if (showRequiredModel == "QutationContactModel") {
            $('#CreateNewContactModal1').modal('hide');
            $('#QutationContactModel').modal('show');

        }
        else if (showRequiredModel == "PurchaseContactModel") {
            $('#CreateNewContactModal1').modal('hide');
            $('#VenderSelectModel').modal('show');
        }
        else if (showRequiredModel == "ContactModel") {
            $('#CreateNewContactModal1').modal('hide');
        }
    });



    
</script>

