<div class="modal fade" id="QutationContactModel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Create Qutation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <select id="SelectContacts1" class="form-control"></select>
            </div>

            <div class="modal-footer">
                <div id="quotation">
                    <button type="button" id="QutationClientNext" class="btn btn-info d-none d-lg-block m-l-15">Next Step <i class="fa fa-angle-double-right" style="margin-left:5px"></i></button>
                </div>
                <div id="Invoice">
                    <button type="button" id="InvoiceClientNext" class="btn btn-info d-none d-lg-block m-l-15">Next Step<i class="fa fa-angle-double-right" style="margin-left:5px"></i></button>
                </div>
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>




<script>
    $('#QutationClientNext').click(function () {

        var value = $('#SelectContacts1').val();
        if (value > 0) {
            window.location.href = "/Qutation/Create?id=" + value;
        }
    });


    $('#InvoiceClientNext').click(function () {

        var value = $('#SelectContacts1').val();

        if (value > 0) {
            window.location.href = "/Invoice/Create?id=" + value;
        }
    });

   
    function validateContactQutation() {
        var isValid = true;
        if ($('#ContactName').val().trim() == "") {
            $('#ContactName').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#ContactName').css('border-color', 'lightgrey');
        }
        if ($('#ContactAddress').val().trim() == "") {
            $('#ContactAddress').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#ContactAddress').css('border-color', 'lightgrey');
        }

        return isValid;
    }


    $('#CancelContactsQt').click(function () {
        if (showRequiredModel == "QutationContactModel") {
            $('#CreateNewContactModal1').modal('hide');
            $('#QutationContactModel').modal('show');

        }
        else if (showRequiredModel == "PurchaseContactModel") {
            $('#CreateNewContactModal1').modal('hide');
            $('#VenderSelectModel').modal('show');
        }
        else if (showRequiredModel == "ContactModel") {
            $('#CreateNewContactModal1').modal('hide');
        }
    });



    function LoadContactsQuIndex() {

        $("#SelectContacts1").find("option").remove();

        $("#SelectContacts1").prepend("<option value=0>" + 'Select Client' + "</option>");
        $("#SelectContacts1").append("<option value=AddNewClientSelect>" + 'Add New Client' + "</option>");

        $.ajax({
            url: "/MVCClient/GetContacts",
            type: "Get",
            async: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {

                $.each(data, function (key, item) {

                    $('#SelectContacts1').append($('<option></option>').val(item.ContactsId).html(item.ContactName));

                });

            },
            Error: function (errormessage) {
                alert(errormessage);
            }

        });
    }
</script>

