<div id="UserInfoModel" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:skyblue">User Inforamtion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">Fisrt Name:</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <input class="form-control" type="text" required id="txtFname" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">Insertion:</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="txtInsertion" placeholder="insertion" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">Last Name:</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <input class="form-control" type="text" required id="txtLname" placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">E-mail:</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="txtEmail" placeholder="Email" disabled="disabled" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">DOB:</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <input class="form-control" type="date" required id="TxtDob" placeholder="Date of Birth" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">gender:</div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label class="btn btn-success"><input type="radio" name="gender" value="1"> Male</label>
                            <label class="btn btn-success"><input type="radio" name="gender" value="2"> Female</label>
                        </div>
                    </div>

                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <a href="#" id="changeImage">Change Image</a> | <a href="#" id="changePWD">Change Password</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="SaveuserInfo" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Save</button>
                <button type="button" class="btn btn-danger waves-effect text-left" id="CancelserInfo" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="ImageModel" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:skyblue">Change Image</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                @*<div class="row">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="mydiv">
                                <img id="Useimage" alt="user Image" style="min-height:50px; min-width:100px; max-height:200px; max-width:200px; border:1px groove" />                              
                                <br />
                            </div>
                            <input type="file" id="Useimage" class="btn btn-success" style="width:200px" />
                        </div>
                    </div>

                    <div class="col-sm-1">
                    </div>
                </div>*@

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                @*<input type="file" id="Useimage" alt="user Image" name="Files" class="dropify"  data-default-file="/Images/@TempData["ImageURL"]" />*@  
                                <input type="file" name="n_service_img" id="id_service_image" />                                                        
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="SaveuserImage" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Save</button>
                <button type="button" class="btn btn-danger waves-effect text-left" id="CancelserImage" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="ChangePasswordModel" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:skyblue">Change Image</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="recoverform">
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" id="CurrentPassword" type="password" required="" placeholder="Current Password">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" id="NewPassowrd" type="password" required="" placeholder="New Password">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" id="ConfirmPassword" type="password" required="" placeholder="Confirm Password">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="SaveChangePassword" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Save</button>
                <button type="button" class="btn btn-danger waves-effect text-left" id="CancelChangePassword" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div> 


<script>
    $('#changeImage').click(function () {
        $.ajax({
            url: "/UserInfo/GetUserByCompayId",
            type: 'Post',
            success: function (Userdat) {
                var urls
                if (Userdat.ImageUrl == null) {

                    urls = url = '/images/download.jpg';
                }
                else {
                    urls = '/images/' + Userdat.ImageUrl;
                }

                $("#id_service_image").addClass('dropify');
                $("#id_service_image").attr("data-height", 300);
                $("#id_service_image").attr("data-default-file", urls);
                $('.dropify').dropify();

                //$("#Useimage").addClass('dropify');
                //$("#Useimage").attr("data-height", 300);
                //$("#Useimage").attr("data-default-file", urls);
                //$('.dropify').dropify();
           
                //$('#Useimage').attr("src", urls);
                //$('#Useimage').attr("src", urls);
                $('#UserImageWithName').attr('src', urls)
                $('#ImageSRC').val(Userdat.ImageUrl);
                $('#UserInfoModel').modal('hide');
                $('#ImageModel').modal('show');
            }
        });
    });

    $('#changePWD').click(function () {
        $('#UserInfoModel').modal('hide');
        $('#ChangePasswordModel').modal('show');
    });

    $('#SaveChangePassword').click(function () {
        var Istrue = ChangePasswordValidation();

        if (Istrue == true) {
            Data =
                {
                    OldPassword: $('#CurrentPassword').val(),
                    NewPassword: $('#NewPassowrd').val(),
                    ConfirmPassword: $('#ConfirmPassword').val()
                }
            $.ajax({
                url: "/UserInfo/UpdateUserPassword",
                type: 'Post',
                data: Data,
                success: function (Response) {
                    if (Response == "Ok") {
                        $('#ChangePasswordModel').modal('hide');
                        $('#UserInfoModel').modal('show');
                        $.toast({
                            heading: 'Success',
                            text: 'Password update successfuly `updated`',
                            icon: 'info',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#9EC600'  // To change the background

                        });
                    }
                    else {
                        $.toast({
                            heading: 'Failed',
                            text: 'Filed update password `current password incorrect`',
                            icon: 'info',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#FF0000'  // To change the background

                        });
                    }

                },
                error: function () {
                    alert('something wrong');
                }

            });
        }

    });

    function ChangePasswordValidation() {
        var isvalid = false;

        if ($('#CurrentPassword').val().trim() == "") {
            $('#CurrentPassword').css('border-color', 'Red');
            return;
        }
        else {
            $('#CurrentPassword').css('border-color', 'lightgrey');
            isvalid = true;
        }

        if ($('#NewPassowrd').val().trim() == "") {
            $('#NewPassowrd').css('border-color', 'Red');
            return;
        }
        else {
            $('#NewPassowrd').css('border-color', 'lightgrey');
            isvalid = true;
        }
        if ($('#ConfirmPassword').val().trim() == "") {
            $('#ConfirmPassword').css('border-color', 'Red');
            return;
        }
        else {
            $('#ConfirmPassword').css('border-color', 'lightgrey');
            isvalid = true;
        }

        if ($('#NewPassowrd').val() != $('#ConfirmPassword').val()) {
            $.toast({
                heading: 'Miss match',
                text: 'new password and confirm password must match `Password`',
                icon: 'info',
                loader: true,        // Change it to false to disable loader
                loaderBg: '#FF0000'  // To change the background
            });
        }
        return isvalid;
    }

    $('#CancelChangePassword').click(function () {
        $('#UserInfoModel').modal('show');
        $('#ChangePasswordModel').modal('hide');
    });

    $('#CancelserImage').click(function () {
        $('#ImageModel').modal('hide');
        $('#UserInfoModel').modal('show');
    });

    $('#SaveuserImage').click(function () {

        if (window.FormData != undefined) {
            var fileData = new FormData();

            if ($("#id_service_image").val() != "") {
                var fileUpload = $("#id_service_image").get(0);
                var files = fileUpload.files;

                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
            }

            //if ($("#id_service_image").val() != "") {
            //    fileData.append('ImageUrl', $('#uploadimg').val());
            //}
            fileData.append('UserId', $('#userid').val());
            fileData.append('ImageUrl', $('#id_service_image').val());

            $.ajax({
                url: '/UserInfo/UpdateImage',
                type: 'POST',
                data: fileData,
                processData: false,
                contentType: false,
                success: function (Return) {

                    var urls = '/images/' + Return.ImageUrl;
                    $('#UserImageWithName').attr('src', urls)
                    $('#ImageModel').modal('hide');
                    $('#UserInfoModel').modal('show');
                    $.toast({
                        heading: 'Success',
                        text: 'Image update successfuly `updated`',
                        icon: 'info',
                        loader: true,        // Change it to false to disable loader
                        loaderBg: '#9EC600'  // To change the background
                    });

                },
                error: function () {
                    alert("Error please try again");
                }
            });
        }

    });

    var showRequiredModel = "";

    $(document).ready(function () {

        $("#uploadimg").change(function () {
            readURL(this, 'Useimage');
        });

        GetUserInfo();
    });

    $('#AccountSitting').click(function () {

        $.ajax({
            url: "/UserInfo/GetUserByCompayId",
            type: 'Post',
            success: function (Userdata) {
                $.toast({
                    heading: 'Success',
                    text: 'Data loaded successfuly `Loaded`',
                    icon: 'info',
                    loader: true,        // Change it to false to disable loader
                    loaderBg: '#9EC600'  // To change the background
                });

                $('#userid').val(Userdata.UserId);
                $('#txtFname').val(Userdata.UserFname);
                $('#txtInsertion').val(Userdata.Insertion);
                $('#txtLname').val(Userdata.UserLname);
                $('#txtEmail').val(Userdata.Username);
                $('#TxtDob').val(Userdata.DOB);
                var gen = Userdata.Gender;
                if (gen == 1) {
                    $('input:radio[name="gender"]').filter('[value="1"]').attr('checked', true);
                }
                else {
                    $('input:radio[name="gender"]').filter('[value="2"]').attr('checked', true);
                }

                $('#UserInfoModel').modal('show');
            }
        });

    });

    $('#SaveuserInfo').click(function () {

        Userdata = {
            UserFname: $('#txtFname').val(),
            Insertion: $('#txtInsertion').val(),
            UserLname: $('#txtLname').val(),
            Gender: $("input[name='gender']:checked").val(),
            DOB: $('#TxtDob').val(),
            UserId: $('#userid').val()
        },

        $.ajax({
            url: "/UserInfo/UpdateUserInfo",
            type: 'Post',
            data: Userdata,
            success: function (response) {
                GetUserInfo();
                $.toast({
                    heading: 'Success',
                    text: 'Information updated successfuly `Updated`',
                    icon: 'info',
                    loader: true,        // Change it to false to disable loader
                    loaderBg: '#9EC600'  // To change the background
                });
                $('#UserInfoModel').modal('hide');
            },
            error: function (error) {
                alert('somthing going wrong');
            },
        });
    });

    function GetUserInfo() {
        $.ajax({
            url: "/UserInfo/GetUserByCompayId",
            type: 'Post',
            success: function (Userdata) {

                var url;
                if (Userdata.ImageUrl == null) {
                    url = '/images/download.jpg';
                }
                else {
                    url = '/images/' + Userdata.ImageUrl;
                }
                $('#UserImageWithName').attr('src', url)
                $('#UserNamess').text(Userdata.Username);

                if (Userdata.UserFname == null || Userdata.UserLname == null) {
                    $('#UFnameLname').hide();
                }
                else {

                    $('#UFnameLname').text(Userdata.UserFname + " " + Userdata.UserLname);
                    $('#UFnameLname').show();
                }
            }
        });
    }
</script>

<script>
   
    var QutationStatus;
    var InvoiceQutation = "";

    $('#CompanySitting').click(function () {
        window.location.href = "/MVCComapny/Edit";
    });



    function Edit(companyId) {

        window.location.href = "Company/AddOrEdit/" + companyId;
    }

    $('#Logout').click(function () {
        Username = "";
        $.ajax({
            url: "/Login/Logut",
            type: "POST",
            dataType: "json",
            success: function (resultData) {
                window.location.href = "/Captcha/Index";
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });

    });

    
</script>

@*<script>
    $(document).ready(function() {
        // Basic
        $('.dropify').dropify();

        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });
        
        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function(event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function(event, element) {
            alert('File deleted');
        });

        drEvent.on('dropify.errors', function(event, element) {
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function(e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
</script>*@