<div id="UserInfoModel" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:skyblue">User Inforamtion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">Fisrt Name:</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <input class="form-control" type="text" required id="txtFname" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">Insertion:</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="txtInsertion" placeholder="insertion" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">Last Name:</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <input class="form-control" type="text" required id="txtLname" placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">E-mail:</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="txtEmail" placeholder="Email" disabled="disabled" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">DOB:</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <input class="form-control" type="date" required id="TxtDob" placeholder="Date of Birth" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">gender:</div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label class="btn btn-success"><input type="radio" name="gender" value="1"> Male</label>
                            <label class="btn btn-success"><input type="radio" name="gender" value="2"> Female</label>
                        </div>
                    </div>

                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <a href="#" id="changeImage">Change Image</a> | <a href="#" id="changePWD">Change Password</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="SaveuserInfo" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Save</button>
                <button type="button" class="btn btn-danger waves-effect text-left" id="CancelserInfo" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="ImageModel" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:skyblue">Change Image</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="Username" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                @*<input type="file" id="Useimage" alt="user Image" name="Files" class="dropify"  data-default-file="/Images/@TempData["ImageURL"]" />*@
                                <input type="file" name="n_service_img" id="id_service_image" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="SaveuserImage" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Save</button>
                <button type="button" class="btn btn-danger waves-effect text-left" id="CancelserImage" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="ChangePasswordModel" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:skyblue">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="recoverform">
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" id="CurrentPassword" type="password" required="" placeholder="Current Password">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" id="NewPassowrd" type="password" required="" placeholder="New Password">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" id="ConfirmPassword" type="password" required="" placeholder="Confirm Password">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="SaveChangePassword" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Save</button>
                <button type="button" class="btn btn-danger waves-effect text-left" id="CancelChangePassword" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div id="CreateUserModel" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:skyblue">Create New User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" id="NewUserEmail" type="email" required="" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <select id="UserAuthority" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" id="UserPassowrd" type="password" required="" placeholder="User Password">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" id="ConformPassword" type="password" required="" placeholder="Confirm Password">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="SaveNewUser" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Create</button>
                <button type="button" class="btn btn-danger waves-effect text-left" id="CancelNewUser" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!-- /.modal-dialog -->


<script>
    $('#changeImage').click(function () {
        $.ajax({
            url: "/UserInfo/GetUserByCompayId",
            type: 'Post',
            success: function (Userdat) {
                var urls
                if (Userdat.ImageUrl == null) {

                    urls = url = '/images/download.jpg';
                }
                else {
                    urls = '/images/' + Userdat.ImageUrl;
                }

                $("#id_service_image").addClass('dropify');
                $("#id_service_image").attr("data-height", 300);
                $("#id_service_image").attr("data-default-file", urls);
                $('.dropify').dropify();

                //$("#Useimage").addClass('dropify');
                //$("#Useimage").attr("data-height", 300);
                //$("#Useimage").attr("data-default-file", urls);
                //$('.dropify').dropify();

                //$('#Useimage').attr("src", urls);
                //$('#Useimage').attr("src", urls);
                $('#UserImageWithName').attr('src', urls)
                $('#ImageSRC').val(Userdat.ImageUrl);
                $('#UserInfoModel').modal('hide');
                $('#ImageModel').modal('show');
            }
        });
    });

    $('#changePWD').click(function () {
        $('#UserInfoModel').modal('hide');
        $('#ChangePasswordModel').modal('show');
    });

    $('#SaveChangePassword').click(function () {
        var Istrue = ChangePasswordValidation();

        if (Istrue == true) {
            Data =
                {
                    OldPassword: $('#CurrentPassword').val(),
                    NewPassword: $('#NewPassowrd').val(),
                    ConfirmPassword: $('#ConfirmPassword').val()
                }
            $.ajax({
                url: "/UserInfo/UpdateUserPassword",
                type: 'Post',
                data: Data,
                success: function (Response) {
                    if (Response == "Ok") {
                        $('#ChangePasswordModel').modal('hide');
                        $('#UserInfoModel').modal('show');
                        $.toast({
                            heading: 'Success',
                            text: 'Password update successfuly `updated`',
                            icon: 'info',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#9EC600'  // To change the background

                        });
                    }
                    else {
                        $.toast({
                            heading: 'Failed',
                            text: 'Filed update password `current password incorrect`',
                            icon: 'info',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#FF0000'  // To change the background

                        });
                    }

                },
                error: function () {
                    alert('something wrong');
                }

            });
        }

    });
     
    $('#CancelChangePassword').click(function () {
        $('#UserInfoModel').modal('show');
        $('#ChangePasswordModel').modal('hide');
    });

    $('#CancelserImage').click(function () {
        $('#ImageModel').modal('hide');
        $('#UserInfoModel').modal('show');
    });

    $('#SaveuserImage').click(function () {

        if (window.FormData != undefined) {
            var fileData = new FormData();

            if ($("#id_service_image").val() != "") {
                var fileUpload = $("#id_service_image").get(0);
                var files = fileUpload.files;

                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
            }

            if ($("#id_service_image").val() != "") {
                fileData.append('ImageUrl', $('#uploadimg').val());
            }
            fileData.append('UserId', $('#userid').val());
            fileData.append('ImageUrl', $('#ImageSRC').val());

            $.ajax({
                url: '/UserInfo/UpdateImage',
                type: 'POST',
                data: fileData,
                processData: false,
                contentType: false,
                success: function (Return) {

                    var urls = '/images/' + Return.ImageUrl;
                    $('#UserImageWithName').attr('src', urls)
                    $('#ImageModel').modal('hide');
                    $('#UserInfoModel').modal('show');
                    $.toast({
                        heading: 'Success',
                        text: 'Image update successfuly `updated`',
                        icon: 'info',
                        loader: true,        // Change it to false to disable loader
                        loaderBg: '#9EC600'  // To change the background
                    });

                },
                error: function () {
                    alert("Error please try again");
                }
            });
        }

    });

    var showRequiredModel = "";

    $(document).ready(function () {

        $("#uploadimg").change(function () {
            readURL(this, 'Useimage');
        });

        GetUserInfo();
       
    });

    $('#AccountSitting').click(function () {

        $.ajax({
            url: "/UserInfo/GetUserByCompayId",
            type: 'Post',
            success: function (Userdata) {
                $.toast({
                    heading: 'Success',
                    text: 'Data loaded successfuly `Loaded`',
                    icon: 'info',
                    loader: true,        // Change it to false to disable loader
                    loaderBg: '#9EC600'  // To change the background
                });

                $('#userid').val(Userdata.UserId);
                $('#txtFname').val(Userdata.UserFname);
                $('#txtInsertion').val(Userdata.Insertion);
                $('#txtLname').val(Userdata.UserLname);
                $('#txtEmail').val(Userdata.Username);
                $('#TxtDob').val(Userdata.DOB);
                $('#Username').val(Userdata.Username);

                var gen = Userdata.Gender;
                if (gen == 1) {
                    $('input:radio[name="gender"]').filter('[value="1"]').attr('checked', true);
                }
                else {
                    $('input:radio[name="gender"]').filter('[value="2"]').attr('checked', true);
                }

                $('#UserInfoModel').modal('show');
            }
        });

    });

    $('#SaveuserInfo').click(function () {

        Userdata = {
            UserFname: $('#txtFname').val(),
            Insertion: $('#txtInsertion').val(),
            UserLname: $('#txtLname').val(),
            Username: $('#Username').val(),
            Gender: $("input[name='gender']:checked").val(),
            DOB: $('#TxtDob').val(),
            UserId: $('#userid').val()
        },

        $.ajax({
            url: "/UserInfo/UpdateUserInfo",
            type: 'Post',
            data: Userdata,
            success: function (response) {
                GetUserInfo();
                $.toast({
                    heading: 'Success',
                    text: 'Information updated successfuly `Updated`',
                    icon: 'info',
                    loader: true,        // Change it to false to disable loader
                    loaderBg: '#9EC600'  // To change the background
                });
                $('#UserInfoModel').modal('hide');
            },
            error: function (error) {
                alert('somthing going wrong');
            },
        });
    });

    function GetUserInfo() {
        $.ajax({
            url: "/UserInfo/GetUserByCompayId",
            type: 'Post',
            success: function (Userdata) {

                var url;
                if (Userdata.ImageUrl == null) {
                    url = '/images/download.jpg';
                }
                else {
                    url = '/images/' + Userdata.ImageUrl;
                }
                $('#UserImageWithName').attr('src', url)
                $('#UserNamess').text(Userdata.Username);
                $('#Username').val(Userdata.Username);
                if (Userdata.UserFname == null || Userdata.UserLname == null) {
                    $('#UFnameLname').hide();
                }
                else {

                    $('#UFnameLname').text(Userdata.UserFname + " " + Userdata.UserLname);
                    $('#UFnameLname').show();
                }
            }
        });
    }

    $('#CancelNewUser').click(function () {
        $('#CreateUserModel').modal('hide');
    });

    function LoadAuthority() {
        $("#UserAuthority").find("option").remove();
        $("#UserAuthority").prepend("<option value=0>" + 'Select Authority' + "</option>");
        //$("#UserAuthority").append("<option value=AddNewProductSelect>" + 'Add New Product' + "</option>");
        $.ajax({
            url: "/UserInfo/GetAuthorityList",
            type: "Get",
            async: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data);
                $.each(data, function (key, item) {
                    $('#UserAuthority').append($('<option></option>').val(item.UserAuthorityId).html(item.Authority));
                });
            },
            Error: function (errormessage) {
                alert(errormessage);
            }

        });
    }


    var QutationStatus;
    var InvoiceQutation = "";

    $('#CompanySitting').click(function () {
        window.location.href = "/MVCComapny/Edit";
    });

    function Edit(companyId) {

        window.location.href = "Company/AddOrEdit/" + companyId;
    }

    $('#Logout').click(function () {
        Username = "";
        $.ajax({
            url: "/Login/Logut",
            type: "POST",
            dataType: "json",
            success: function (resultData) {
                window.location.href = "/Captcha/Index";
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });

    });

    $('#CreateUser').click(function () {
        LoadAuthority();
        $('#CreateUserModel').modal('show');
    });

    $('#SaveNewUser').click(function () {
        if (ValidateNewUser())
        {
            $.ajax({
                //url: '/api/account/register',
                url: '/UserInfo/Register',
                method: 'POST',
                data: {
                    email: $('#NewUserEmail').val(),
                    password: $('#UserPassowrd').val(),
                    confirmpassword: $('#ConformPassword').val(),
                    Authority: $('#UserAuthority').val(),

                    },
                success: function (responss) {
                    if(responss == '200')
                    {
                        $('#CreateUserModel').modal('hide');
                        $.toast({
                            heading: 'Success',
                            text: 'New user added successfuly `Added`',
                            icon: 'info',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#9EC600'  // To change the background
                        });

                    }

                    //SendEmail();                        
                },
                error: function (jqHXR) {
                    if (jqHXR.status == '400') {
                        FailRegistration();
                    }

                }
            });
        }
    });
        
    function ValidateNewUser()
    {
        var isvalid = false;

        if ($('#NewUserEmail').val().trim() == "") {
            $('#NewUserEmail').css('border-color', 'Red');
            return;
        }
        else {
            $('#NewUserEmail').css('border-color', 'lightgrey');
            isvalid = true;
        }

        if ($('#UserAuthority').val() == 0) {
            $('#UserAuthority').css('border-color', 'Red');
            return;
        }
        else {
            $('#UserAuthority').css('border-color', 'lightgrey');
            isvalid = true;
        }
        if ($('#UserPassowrd').val().trim() == "") {
            $('#UserPassowrd').css('border-color', 'Red');
            return;
        }
        else {
            $('#UserPassowrd').css('border-color', 'lightgrey');
            isvalid = true;
        }

        if ($('#ConformPassword').val().trim() == "") {
            $('#ConformPassword').css('border-color', 'Red');
            return;
        }
        else {
            $('#ConformPassword').css('border-color', 'lightgrey');
            isvalid = true;
        }

        if ($('#UserPassowrd').val() != $('#ConformPassword').val()) {
            $('#UserPassowrd').css('border-color', 'Red');
            $('#ConformPassword').css('border-color', 'Red');
            $.toast({
                heading: 'Miss match',
                text: 'password and confirm password must match `Password`',
                icon: 'info',
                loader: true,        // Change it to false to disable loader
                loaderBg: '#FF0000'  // To change the background
            });
        }
        else
        {
            isvalid = true;
            $('#UserPassowrd').css('border-color', 'lightgrey');
            $('#ConformPassword').css('border-color', 'lightgrey');
        }
        return isvalid;
    }

</script>

