@model InvoiceDiskLast.Models.MvcPurchaseViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row" style="border:1px solid black">
        <div class="col-md-12">
            @Html.Partial("~/Views/Shared/PartialViews/HeaderPartial.cshtml")

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-body printableArea">
                        <div class="table-responsive" style="clear: both">
                            <table class="table table-hover" id="orderdetailsitems">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            Goods
                                        </th>
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Total
                                        </th>
                                        <th>
                                            Vat%
                                        </th>
                                        <th>
                                            Sub
                                        </th>
                                        <th>
                                            Action
                                        </th>

                                    </tr>
                                </thead>

                                <tbody class="tbodyGood">

                                    <tr id="mainrow">
                                        <td>
                                            <select id="SelectProductQutationG" class="product form-control pClassG Input-height" style="width: 300px;font-size:12px"></select>
                                        </td>
                                        <td>
                                            <input type="text" class="quantityG form-control Input-height" id="QuantityG" autocomplete="off" style="font-size:12px" />
                                        </td>
                                        <td>
                                            <input type="text" class="rateG form-control Input-height" id="RateG" autocomplete="off" style="font-size:12px" />
                                        </td>
                                        <td>
                                            <input type="text" class="FTotalG form-control Input-height" id="FTotalG" readonly="readonly" style="font-size:12px" />
                                        </td>
                                        <td>
                                            <select id="SelectVATG" class="VATG form-control Input-height" style="width:60px;font-size:12px">
                                                <option>0</option>
                                                <option>6</option>
                                                <option>21</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" readonly id="RowTotalG" class="RowTotalG  form-control Input-height" style="width:80px" />
                                        </td>
                                        <td>
                                            <input type="button" id="btnaddGoods" value="+" class="btn-height" style="width:50px" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p></p>
                        <div class="table-responsive" style="clear: both">
                            <table class="table table-hover" id="QutationServiceDetail1">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Date</th>

                                        <th>
                                            Services
                                        </th>
                                        <th>Decription</th>
                                        <th>
                                            hour
                                        </th>
                                        <th>
                                            Hourly rate
                                        </th>
                                        <th>
                                            Total
                                        </th>
                                        <th>
                                            Vat %
                                        </th>
                                        <th>
                                            Sub
                                        </th>
                                        <th>
                                            Action
                                        </th>

                                    </tr>

                                </thead>
                                <tbody class="tbodyService">
                                    <tr id="mainrow1">
                                        <td>
                                            <input class="ServiceDate  ss  form-control Input-height" style="width: 100px;font-size:12px" />
                                        </td>
                                        <td>
                                            <select id="SelectProductQutationS" class="product form-control pClassG Input-height" style="width: 150px;font-size:12px"></select>
                                        </td>
                                        <td>
                                            <input type="text" class="Discription form-control Input-height" style="width: 150px;font-size:12px" />
                                        </td>
                                        <td>
                                            <input type="text" class="quantityG form-control Input-height" id="QuantityS" style="width: 80px;font-size:12px" />
                                        </td>
                                        <td>
                                            <input type="text" class="rateG form-control Input-height" id="RateS" style="width: 80px;font-size:12px" />
                                        </td>
                                        <td>
                                            <input type="text" class="FTotalG form-control Input-height" id="FTotals" style="width: 80px;font-size:12px" />
                                        </td>
                                        <td>
                                            <select id="SelectVATS" class="VATG form-control Input-height" style="width:60px;font-size:12px">
                                                <option>0</option>
                                                <option>6</option>
                                                <option>21</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" readonly class="RowTotalG form-control Input-height" id="dddd" style="width:80px" />
                                        </td>
                                        <td>
                                            <input type="button" id="btnSerVice" value="+" class="btn-height" style="width:50px" />
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left text-left">
                            <textarea id="CustomerNote" class="form-control" placeholder="Customer Note" style="font-size:12px"></textarea>
                            @Html.Partial("~/Views/Shared/UploadPartialFile.cshtml")
                        </div>
                        <div class="pull-right text-right">
                            <p>Sub - Total amount: $<label id="SubTotal"></label></p>
                            <p>Totaal excel btw: $<label id="TotalBTW"></label></p>
                            <p>BTW (0%) : $<label id="btwo">0.00</label> </p>
                            <p>BTW (6%) : $<label id="BTW6"></label></p>
                            <p>BTW (21%) : $<label id="BTW21"></label> </p>
                            <hr>
                            <h3><b>Garnd Total :</b> $<label id="gtotal"></label></h3>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                        <div class="text-right" style="padding-bottom:5px">
                            <button id="Submit" type="submit" class="btn btn-info btn-sm"><span><i class="fa fa-save fa-backgroun" style="margin-right:5px"></i></span>Save Draft</button>
                            <button id="saveEmail" type="button" value="Save + email" class="btn btn-info btn-sm" style="margin:0px 5px"><span><i class="fa fa-envelope fa-backgroun" style="margin-right:5px"></i></span>Save + E-mail</button>
                            <button id="saveprintandsendtoyourselfsave" type="button" class="btn btn-info btn-sm" style="margin:0px 5px"><span><i class="fa fa-save fa-backgroun" style="margin-right:5px"></i></span>Save + Print & Send it yourself</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("~/Views/Shared/PartialViews/ProductPartialView.cshtml")
@Html.Partial("~/Views/Shared/PartialViews/UnitPartialView.cshtml")

<script type="text/javascript">
    var Currentrow, Total, vat, Price, Quantity = 0;
    $(document).ready(function () {
        LoadProductS();
        LoadProductG();
    });

    var VAT21VAlUE, VAT6VAlUE;
    $('#btnaddGoods').click(function () {

        var currentRow1 = $(this).closest("tr");
        var VAT = currentRow1.find('.VATG').val();
        RowSubTalSubtotal(VAT, currentRow1);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();

        var isAllValid = true;
        if ($("#mainrow #SelectProductQutationG").val() == "0") {
            isAllValid = false;
            alert("Please select Item");
            return;
        }

        var isAllValid = true;
        if ($("#mainrow .quantityG").val() == 0) {
            isAllValid = false;
            alert("Please provide quantityG");
            return;
        }
        var isAllValid = true;
        if ($("#mainrow .rateG").val() == 0) {
            isAllValid = false;
            alert("Please select provide rate");
            return;
        }

        if (isAllValid) {
            var $newRow = $("#mainrow").clone().removeAttr('id');
            $('#SelectProductQutationG', $newRow).val($("#SelectProductQutationG").val());
            $('.VATG', $newRow).val($("#mainrow #SelectVATG").val());
            //Replace add button with remove button
            $("#btnaddGoods", $newRow).addClass('remove').val('x').removeClass('btn-success').addClass('btn-height-Remove');
            //Remove id attribute from new clone row

            $("#SelectProductQutationG,#QuantityG,#RateG,#FTotalG,#RowTotalG,#SelectVATG", $newRow).removeAttr('id');
            $('span.error', $newRow).remove();
            $('.tbodyGood').prepend($newRow);
            $(".FTotalG").prop('disabled', true);
            $('#mainrow #SelectProductQutationG').val('0');
            $('#mainrow .quantityG').val('');
            $('#mainrow #RateG').val('');
            $('#mainrow .FTotalG').val('');
            $('#mainrow .quantityG').val('');

            if ($('#orderItemError').text != '') {
                $('#orderItemError').text('');
            }
            $('#mainrow #SelectVATG').val(0);
        }

        $('#mainrow #RowTotalG').val('');
    });
    $('#btnSerVice').click(function () {
        var currentRow1 = $(this).closest("tr");
        var vat = currentRow1.find('.VATG').val();
        RowSubTalSubtotal(vat, currentRow1);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
        var isAllValid = true;
        if ($("#mainrow1 #SelectProductQutationS").val() == "0") {
            isAllValid = false;
            alert("Please select Item");
            return;
        }

        var isAllValid = true;
        if ($("#mainrow1 .quantityS").val() == 0) {
            isAllValid = false;
            alert("Please provide quantity");
            return;
        }
        var isAllValid = true;
        if ($("#mainrow1 .rateS").val() == 0) {
            isAllValid = false;
            alert("Please select provide rate");
            return;
        }

        if (isAllValid) {
            var $newRow = $("#mainrow1").clone().removeAttr('id');
            $('#SelectProductQutationS', $newRow).val($("#SelectProductQutationS").val());
            $('.VATG', $newRow).val($("#mainrow1 #SelectVATS").val());
            $("#btnSerVice", $newRow).addClass('remove').val('x').removeClass('btn-success').addClass('btn-height-Remove');
            currentRow1.find('.ServiceDate ').removeAttr('id');
            currentRow1.find('.ServiceDate ').remove('id');
            $("#SelectProductQutationS,#QuantityS,#RateS,#FTotalS,#SelectVATS", $newRow).removeAttr('id');
            $('span.error', $newRow).remove();
            $('.tbodyService').prepend($newRow);
            $(".FTotalG").prop('disabled', true);
            $('#mainrow1 #SelectProductQutationS').val('0');
            $('#mainrow1 .quantityG').val('');
            $('#mainrow1 .rateG ').val('');
            $('#mainrow1 #FTotalG').val('');
            $('#mainrow1 .quantityG').val('');
            $('#mainrow1 #FTotal').val('');
            if ($('#orderItemError').text != '') {
                $('#orderItemError').text('');
            }
            $('#mainrow1 #SelectVATS').val(0);
            $('#mainrow1 #RowTotalG').val('');
            $('#mainrow1 .RowTotalG').val('');
            $('#QutationServiceDetail1 #mainrow1 .RowTotalG').val('');
        }
    });

    $('.quantityG').keyup(function () {
        var Currentrow = $(this).closest("tr");
        calculateTotalGoods(Currentrow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    $('.rateG').keyup(function () {
        var Currentrow = $(this).closest("tr");
        calculateTotalGoods(Currentrow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    var FocuseInTotal, FocusOutTotal, FoucuseInSubTotal, FocusOutSubTotal;
    $(document).on("keypress", "tbody .rateG", function () {
        var Currentrow = $(this).closest("tr");
        FoucuseInSubTotal = Currentrow.find(".FTotalG").val();
        FocuseInTotal = Currentrow.find('.RowTotalG').val();
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    $(document).on("keyup", "tbody .rateG", function () {
        var Currentrow = $(this).closest("tr");
        var vat = Currentrow.find(".VATG").val();
        calculateTotalGoods(Currentrow);
        RowSubTalSubtotal(vat, Currentrow);
        var Total = Currentrow.find(".FTotalG").val();
        var Subtotalwt = Currentrow.find('.RowTotalG').val();
    });


    $(document).on("keyup", "tbody .quantityG", function () {
        var Currentrow = $(this).closest("tr");
        var vat = Currentrow.find(".VATG").val();
        calculateTotalGoods(Currentrow);
        RowSubTalSubtotal(vat, Currentrow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    $(document).on("keyup", "tbody .rateG", function () {

        var Currentrow = $(this).closest("tr");
        var vat = Currentrow.find(".VATG").val();
        calculateTotalGoods(Currentrow);
        RowSubTalSubtotal(vat, Currentrow);

        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    $(document).on("keyup", "tbody .quantityG", function () {
        var Currentrow = $(this).closest("tr");
        var vat = Currentrow.find(".VATG").val();
        calculateTotalGoods(Currentrow);
        RowSubTalSubtotal(vat, Currentrow);

        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    function calculateTotalGoods(currentRow) {
        Quantity = currentRow.find(".quantityG").val(),
        Price = currentRow.find('.rateG').val();
        Total = parseFloat(Quantity * Price);
        if (!isNaN(Total)) {
            currentRow.find('.FTotalG').val(Total);
        }
    }

    function RowSubTalSubtotal(vat, CurrentRow) {
        var price = CurrentRow;
        Total = 0;
        Total = CurrentRow.find('.FTotalG').val();
        if (parseInt(vat) == 0 && typeof (vat) != "undefined") {
            if (!isNaN(Total) && typeof (Total) != "undefined") {
                CurrentRow.find('.RowTotalG').val(Total);
                CurrentRow.find('.RowTotalG').val(parseFloat(Total).toFixed(2));
                return;
            }
        }
        if (!isNaN(Total) && typeof (vat) != "undefined" && Total != "") {
            var InputVatValue = parseFloat((Total / 100) * vat);
            var ValueWTV = parseFloat(InputVatValue) + parseFloat(Total);
            CurrentRow.find('.RowTotalG').val(parseFloat(ValueWTV).toFixed(2));
        }
    }

    $(document).on('change', 'tbody .VATG', function () {
        var currentRow1 = $(this).closest("tr");
        var VAT = currentRow1.find('.VATG').val();
        RowSubTalSubtotal(VAT, currentRow1);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    $('.VATG').change(function () {
        var Currentrow = $(this).closest("tr");
        var vat = Currentrow.find('.VATG').val();
        RowSubTalSubtotal(vat, Currentrow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
        Currentrow = "";
    });

    $('.quantityG').keyup(function () {
        var Currentrow = $(this).closest("tr");
        var vat = Currentrow.find('.VATG').val();
        RowSubTalSubtotal(vat, Currentrow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    $('.rateG').keyup(function () {
        var Currentrow = $(this).closest("tr");
        var vat = Currentrow.find('.VATG').val();
        RowSubTalSubtotal(vat, Currentrow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    $('tbody .VATG').change(function () {
        var Currentrow = $(this).closest("tr");
        var vat = Currentrow.find('.VATG').val();
        RowSubTalSubtotal(vat, Currentrow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });

    $('.VATG').change(function () {
        var CurrentRow = $(this).closest("tr");
        var vat = CurrentRow.find('.VATG').val();
        RowSubTalSubtotal(vat, CurrentRow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });
    //Services
    function CalculateVateTotal() {
        var Totalvat211, Totalvat6 = 0;
        var t = 0;
        $('#QutationServiceDetail1 .tbodyService tr').each(function () {

            var Value = 0;
            Value = $(this).find(".VATG").val();
            var FTotalG = $(this).find(".FTotalG").val();

            if (Value == 21) {

                if (!isNaN(parseFloat(Value))) {
                    var InputVatValue = parseFloat((FTotalG / 100) * 21);
                    t += parseFloat(InputVatValue)
                }
            }

            if (Value == 6) {
                if (!isNaN(parseFloat(Value))) {
                    var InputVatValue = parseFloat((FTotalG / 100) * 6);

                    Totalvat6 += parseFloat(InputVatValue);
                }
            }
        });


        $('#orderdetailsitems .tbodyGood tr').each(function () {

            var Value = $(this).find(".VATG").val();
            var FTotalG = $(this).find(".FTotalG").val();

            if (Value == 6) {

                if (!isNaN(parseFloat(Value))) {
                    var InputVatValue = parseFloat((FTotalG / 100) * 6);
                    Totalvat6 += parseFloat(InputVatValue);
                }
            }

            if (Value == 21) {

                if (!isNaN(parseFloat(Value))) {
                    var InputVatValue = parseFloat((FTotalG / 100) * 21);
                    t += parseFloat(InputVatValue);
                }
            }
        });


        if (!isNaN(Totalvat6)) {
            $('#BTW6').text(Totalvat6.toFixed(2));
        }
        if (!isNaN(t)) {
            $('#BTW21').text(parseFloat(t).toFixed(2));
        }
    }


    $(document).on('change', '.pClassG', function () {
        var CurrentRow = $(this).closest('tr');
        var value = CurrentRow.find('.pClassG').val();
        GetProductPriceByProductId(value, CurrentRow);
    });

    $('#mainrow .pClassG').change(function () {
        var currentRow = $(this).closest('tr');
        var value = currentRow.find('.pClassG').val();
        GetProductPriceByProductId(value, currentRow);
    });

    $('#mainrow1 .pClassG').change(function () {
        var currentRow = $(this).closest('tr');
        var value = currentRow.find('.pClassG').val();
        GetProductPriceByProductId(value, currentRow);
    });

    function GetProductPriceByProductId(Id, CurrentRow) {

        if (Id == "AddNewProductSelect") {
            GoodsService = "";
            GoodsService = "Good";
            ShowServiceGood("Good");
            $('#TypeGoodsServices').attr('disabled', false);
            $('#UpdateProIdGoods').hide();
            $('#SAveProdIDGoods').show();
            $('#TypeGoodsServices').val('Good');
            $('#TypeGoodsServices').attr('disabled', 'disabled');
            $('#CreateNewProductModalGoods').modal('show');
        }
        if (Id == "AddNewServiceSelect") {
            GoodsService = "";
            GoodsService = "Services";
            ShowServiceGood("Services");
            $('#TypeGoodsServices').attr('disabled', false);
            $('#UpdateProIdGoods').hide();
            $('#SAveProdIDGoods').show();
            $('#TypeGoodsServices').val('Services');
            $('#TypeGoodsServices').attr('disabled', 'disabled');
            $('#CreateNewProductModalGoods').modal('show');
        }
        else if (Id == "0") {

            return;
        }
        else {
            var productId = Id;
            $.ajax({
                url: "/Common/ProductPricebyId",
                type: "POST",
                cache: false,
                data: { 'ProductId': productId },
                success: function (resultData) {

                    CurrentRow.find('.rateG').val(resultData);
                    calculateTotalGoods(CurrentRow);
                    CombineTotalAndSubtotal();
                    CombineTotal();
                    CalculateVateTotal();
                    vat = CurrentRow.find('.VATG').val();
                    var it = CurrentRow.find('.RowTotalG').val();
                    RowSubTalSubtotal(vat, CurrentRow);

                },
                error: function (errormessage) {

                }
            });
        }
    }

    $('#SelectProductQutationS').change(function () {
        var value = $(this).val();
        if (value == "AddNewProductSelect") {
            ShowServiceGood("  ");
            GoodsService = "";
            GoodsService = "Services";
            $('#TypeGoodsServices').attr('disabled', false);
            $('#UpdateProIdGoods').hide();
            $('#SAveProdIDGoods').show();
            $('#TypeGoodsServices').val('Services');
            $('#TypeGoodsServices').attr('disabled', 'disabled');
            $('#CreateNewProductModalGoods').modal('show');
        }
    });

    function CombineTotalAndSubtotal() {
        var SubTotalGoode = 0, SubTotalService = 0;
        SubTotalGoode = AddSubtotalGoods();
        SubTotalService = AddSubTotalService();
        if (isNaN(SubTotalGoode)) {
            SubTotalGoode = 0;
        }
        if (isNaN(SubTotalService)) {
            SubTotalService = 0;
        }
        var Total = parseFloat(SubTotalGoode) + parseFloat(SubTotalService);
        if (!isNaN(Total)) {

            $('#gtotal').text(Total.toFixed(2));
        }
    }

    function CombineTotal() {
        var TotalGoode, Total, TotalService1 = 0;
        TotalGoode = totalGoods();
        TotalService1 = TotalService();
        if (isNaN(parseFloat(TotalGoode) && typeof (TotalGoode) == "undefined")) {
            TotalGoode = 0;
        }
        if (isNaN(parseFloat(TotalService1) || typeof (TotalService1) == "undefined")) {
            TotalService1 = 0;
        }
        Total = parseFloat(TotalGoode) + parseFloat(TotalService1);

        $('#TotalBTW').text(Total.toFixed(2));
        $('#SubTotal').text(Total.toFixed(2));
    }
    function AddSubtotalGoods() {
        var SubTotalGood = 0;
        $('#orderdetailsitems  tr').each(function () {
            var Value = $(this).find(".RowTotalG").val();
            if (!isNaN(parseFloat(Value) && typeof (Value) != "undefined")) {
                SubTotalGood += parseFloat(Value)
            }
        })
        return SubTotalGood;
    }

    function AddSubTotalService() {
        var SubTotalService = 0;
        $('#QutationServiceDetail1 tr').each(function () {
            var Value = $(this).find(".RowTotalG").val();
            if (!isNaN(parseFloat(Value) && typeof (Value) != "undefined")) {

                SubTotalService += parseFloat(Value);
            }
        })
        return SubTotalService;
    }

    function totalGoods() {
        var TotalGood = 0;
        $('#orderdetailsitems  tr').each(function () {
            var Value = $(this).find(".FTotalG").val();
            if (!isNaN(parseFloat(Value) && typeof (Value) != "undefined")) {
                TotalGood += parseFloat(Value)
            }
        })
        return TotalGood;
    }
    function TotalService() {
        var TotalService = 0;
        $('#QutationServiceDetail1 tr').each(function () {
            var Value = $(this).find(".FTotalG").val();

            if (!isNaN(parseFloat(Value) && typeof (Value) != "undefined")) {
                TotalService += parseFloat(Value);
            }
        })
        return TotalService;
    }

    $('#orderdetailsitems').on('click', '.remove', function () {

        var currentRow = $(this).closest('tr');
        $(this).parents('tr').remove();
        vat = currentRow.find('.VATG').val();
        RowSubTalSubtotal(vat, currentRow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });
    $('#QutationServiceDetail1').on('click', '.remove', function () {

        var currentRow = $(this).closest('tr');
        $(this).parents('tr').remove();
        vat = currentRow.find('.VATG').val();
        RowSubTalSubtotal(vat, currentRow);
        CombineTotalAndSubtotal();
        CombineTotal();
        CalculateVateTotal();
    });
    $('#Submit').click(function () {

        // CreateQuation("/Purchase/SaveDraft", "SaveDraft");
        CreateQuation("/Purchase/SaveDraft", "SaveDraft");
    });
    $('#saveEmail').click(function () {

        CreateQuation("/Purchase/SaveEmail", "SaveEmail");
        //var list = [], orderItem, CurrentRow;
        //var formData = new FormData($('#frmAccount')[0]);
        //var files = $("#uploadfile")[0];
        //if (!validateFileSize()) {
        //    return true;
        //}

        //$('#orderdetailsitems .tbodyGood tr').each(function () {

        //    CurrentRow = $(this).closest("tr");
        //    if (ValidateRow(CurrentRow)) {
        //        orderItem = {
        //            PurchaseItemId: parseInt($(this).find('.product').val()),
        //            PurchaseQuantity: parseInt($(this).find('.quantityG').val()),
        //            Type: "Goods",
        //            ServiceDate: $(this).find('.ServiceDate').val(),
        //            PurchaseItemRate: parseInt($(this).find('.rateG').val()),
        //            PurchaseTotal: parseFloat($(this).find('.FTotalG').val()),
        //            Total: parseFloat($(this).find('.FTotalG').val()),
        //            PurchaseVatPercentage: parseFloat($(this).find('.VATG').val()),
        //            RowSubTotal: parseFloat($(this).find('.RowTotalG').val()),
        //        }
        //        list.push(orderItem);
        //    }
        //});

        //$('#QutationServiceDetail1 .tbodyService tr').each(function () {

        //    CurrentRow = $(this).closest("tr");
        //    if (ValidateRow(CurrentRow)) {
        //        orderItem = {
        //            PurchaseItemId: parseInt($(this).find('.product').val()),
        //            PurchaseQuantity: parseInt($(this).find('.quantityG').val()),
        //            Type: "Service",
        //            PurchaseItemRate: parseInt($(this).find('.rateG').val()),
        //            ServiceDate: $(this).find('.ServiceDate').val(),
        //            PurchaseItemRate: parseInt($(this).find('.rateG').val()),
        //            PurchaseTotal: parseFloat($(this).find('.FTotalG').val()),
        //            Total: parseFloat($(this).find('.FTotalG').val()),
        //            PurchaseVatPercentage: parseFloat($(this).find('.VATG').val()),
        //            RowSubTotal: parseFloat($(this).find('.RowTotalG').val()),
        //        }
        //        list.push(orderItem);
        //    }
        //});

        //if (list.length == 0) {
        //    $('#BTW6').text('');
        //    $('#BTW21').text('');
        //    $('#gtotal').text('');
        //    $('#gtotal').text('');
        //}

        //var empObj = {
        //    PurchaseId: $('#PurchaseID').val(),
        //    PurchaseID: $('#PurchaseID').val(),
        //    PurchaseRefNumber: $('#PurchaseRefNumber').val(),
        //    PurchaseDate: $('.PurchaseDate').val(),
        //    PurchaseDueDate: $('.DueDate').val(),
        //    PurchaseSubTotal: $('#SubTotal').text(),
        //    PurchaseDiscountAmount: $('#PurchaseDiscountAmount').val(),
        //    PurchaseOrderID: $('#PurchaseOrderID').val(),
        //    PurchaseTotoalAmount: $('#gtotal').text(),
        //    PurchaseVenderNote: $('#PurchaseVenderNote').val(),
        //    Vat6: $('#BTW6').text(),
        //    Vat21: $('#BTW21').text(),
        //    VenderId: $('#VenderId').val(),
        //    CompanyId: $('#CompanyId').val(),
        //};
        //for (var key in empObj) {
        //    formData.append(key, empObj[key]);
        //}
        //for (var i = 0; i < list.length; i++) {
        //    formData.append('PurchaseOrderList[' + i + '][PurchaseItemId]', list[i].PurchaseItemId)
        //    formData.append('PurchaseOrderList[' + i + '][PurchaseQuantity]', list[i].PurchaseQuantity)
        //    formData.append('PurchaseOrderList[' + i + '][Type]', list[i].Type)
        //    formData.append('PurchaseOrderList[' + i + '][ServiceDate]', list[i].ServiceDate)
        //    formData.append('PurchaseOrderList[' + i + '][PurchaseItemRate]', list[i].PurchaseItemRate)
        //    formData.append('PurchaseOrderList[' + i + '][PurchaseTotal]', list[i].PurchaseTotal)
        //    formData.append('PurchaseOrderList[' + i + '][Total]', list[i].Total)
        //    formData.append('PurchaseOrderList[' + i + '][PurchaseVatPercentage]', list[i].PurchaseVatPercentage)
        //    formData.append('PurchaseOrderList[' + i + '][RowSubTotal]', list[i].RowSubTotal)

        //}
        //$.ajax({
        //    url: "/Purchase/SaveEmail",
        //    type: "POST",
        //    data: formData,
        //    dataType: 'json',
        //    contentType: false,
        //    processData: false,

        //    success: function (result) {

        //        if (result.Status == "Success") {
        //            swal({
        //                title: 'Invoice!',
        //                text: 'Invoice save successfully!',
        //                type: 'success'
        //            },
        //                 function (isconform) {
        //                     window.location.href = "/Purchase/InvoiceByEmail?purchaseOrderId=" + result.purchaseId;

        //                 });
        //        }
        //        else if (result.Status == "Fail") {
        //            alert(result.Message);
        //        }
        //    },

        //    error: function (errormessage) {

        //    }

        //});
    });

    $('#saveprintandsendtoyourselfsave').click(function () {

        CreateQuation("/Purchase/SaveEmailPrint1", "SaveEamilPrint");
        //var list = [], orderItem, CurrentRow;
        //var formData = new FormData($('#frmAccount')[0]);
        //var files = $("#uploadfile")[0];
        //if (!validateFileSize()) {
        //    return true;
        //}


        //$('#orderdetailsitems .tbodyGood tr').each(function () {
        //    var CurrentRow = $(this).closest("tr");
        //    if (ValidateRow(CurrentRow)) {
        //        orderItem = {
        //            PurchaseItemId: parseInt($(this).find('.product').val()),
        //            PurchaseQuantity: parseInt($(this).find('.quantityG').val()),
        //            Type: "Goods",
        //            PurchaseItemRate: parseInt($(this).find('.rateG').val()),
        //            PurchaseTotal: parseFloat($(this).find('.FTotalG').val()),
        //            Total: parseFloat($(this).find('.FTotalG').val()),
        //            PurchaseVatPercentage: parseFloat($(this).find('.VATG').val()),
        //            RowSubTotal: parseFloat($(this).find('.RowTotalG').val()),
        //        }
        //        list.push(orderItem);
        //    }

        //});
        //$('#QutationServiceDetail1 .tbodyService tr').each(function () {

        //    var CurrentRow = $(this).closest("tr");

        //    if (ValidateRow(CurrentRow)) {

        //        orderItem = {
        //            PurchaseItemId: parseInt($(this).find('.product').val()),
        //            PurchaseQuantity: parseInt($(this).find('.quantityG').val()),
        //            Type: "Service",
        //            PurchaseItemRate: parseInt($(this).find('.rateG').val()),
        //            ServiceDate: $(this).find('.ServiceDate').val(),
        //            PurchaseItemRate: parseInt($(this).find('.rateG').val()),
        //            PurchaseTotal: parseFloat($(this).find('.FTotalG').val()),
        //            Total: parseFloat($(this).find('.FTotalG').val()),
        //            PurchaseVatPercentage: parseFloat($(this).find('.VATG').val()),
        //            RowSubTotal: parseFloat($(this).find('.RowTotalG').val()),
        //        }
        //        list.push(orderItem);
        //    }
        //});

        //if (list.length == 0) {
        //    $('#BTW6').text('');
        //    $('#BTW21').text('');
        //    $('#gtotal').text('');
        //    $('#gtotal').text('');
        //}


        //var empObj = {
        //    PurchaseId: $('#PurchaseID').val(),
        //    PurchaseID: $('#PurchaseID').val(),
        //    PurchaseRefNumber: $('#PurchaseRefNumber').val(),
        //    PurchaseDate: $('.PurchaseDate').val(),
        //    PurchaseDueDate: $('.DueDate').val(),
        //    PurchaseSubTotal: $('#SubTotal').text(),
        //    PurchaseDiscountAmount: $('#PurchaseDiscountAmount').val(),
        //    PurchaseOrderID: $('#PurchaseOrderID').val(),
        //    PurchaseTotoalAmount: $('#gtotal').text(),
        //    PurchaseVenderNote: $('#PurchaseVenderNote').val(),
        //    Vat6: $('#BTW6').text(),
        //    Vat21: $('#BTW21').text(),
        //    VenderId: $('#VenderId').val(),
        //    CompanyId: $('#CompanyId').val(),
        //};
        //for (var key in empObj) {
        //    formData.append(key, empObj[key]);
        //}
        //for (var i = 0; i < list.length; i++) {
        //    formData.append('PurchaseOrderList[' + i + '][PurchaseItemId]', list[i].PurchaseItemId)
        //    formData.append('PurchaseOrderList[' + i + '][PurchaseQuantity]', list[i].PurchaseQuantity)
        //    formData.append('PurchaseOrderList[' + i + '][Type]', list[i].Type)
        //    formData.append('PurchaseOrderList[' + i + '][ServiceDate]', list[i].ServiceDate)
        //    formData.append('PurchaseOrderList[' + i + '][PurchaseItemRate]', list[i].PurchaseItemRate)
        //    formData.append('PurchaseOrderList[' + i + '][PurchaseTotal]', list[i].PurchaseTotal)
        //    formData.append('PurchaseOrderList[' + i + '][Total]', list[i].Total)
        //    formData.append('PurchaseOrderList[' + i + '][PurchaseVatPercentage]', list[i].PurchaseVatPercentage)
        //    formData.append('PurchaseOrderList[' + i + '][RowSubTotal]', list[i].RowSubTotal)
        //}
        //$.ajax({
        //    url: "/Purchase/SaveEmailPrint1",
        //    type: "POST",
        //    data: formData,
        //    dataType: 'json',
        //    contentType: false,
        //    processData: false,

        //    success: function (result) {
        //        if (result.Status == "Success") {
        //            localStorage.setItem('path', result.path);
        //            swal({
        //                title: 'Qutation!',
        //                text: 'Qutation save successfully!',
        //                type: 'success'
        //            },
        //            function (isconform) {
        //                window.location.href = "/Purchase/Viewinvoice1?purchaseOrderId=" + result.PurchaseOrderId;
        //            });
        //        }
        //        else if (result.Status == "Fail") {

        //        }
        //    },
        //    error: function (errormessage) {
        //    }
        //});
    });


    function CreateQuation(Route, btnName) {
        var list = [], orderItem, CurrentRow;
        var formData = new FormData($('#frmAccount')[0]);
        var files = $("#uploadfile")[0];
        if (!validateFileSize()) {
            return true;
        }
        $('#orderdetailsitems .tbodyGood tr').each(function () {
            CurrentRow = $(this).closest("tr");
            if (ValidateRow(CurrentRow)) {
                orderItem = {
                    PurchaseItemId: parseInt($(this).find('.product').val()),
                    PurchaseQuantity: parseInt($(this).find('.quantityG').val()),
                    Type: "Goods",
                    PurchaseItemRate: parseInt($(this).find('.rateG').val()),
                    PurchaseTotal: parseFloat($(this).find('.FTotalG').val()),
                    Total: parseFloat($(this).find('.FTotalG').val()),
                    PurchaseVatPercentage: parseFloat($(this).find('.VATG').val()),
                    RowSubTotal: parseFloat($(this).find('.RowTotalG').val()),
                }
                list.push(orderItem);
            }
        });

        $('#QutationServiceDetail1 .tbodyService tr').each(function () {
            CurrentRow = $(this).closest("tr");
            if (ValidateRow(CurrentRow)) {
                orderItem = {
                    PurchaseItemId: parseInt($(this).find('.product').val()),
                    PurchaseQuantity: parseInt($(this).find('.quantityG').val()),
                    Type: "Service",
                    PurchaseItemRate: parseInt($(this).find('.rateG').val()),
                    ServiceDate: $(this).find('.ServiceDate').val(),
                    PurchaseItemRate: parseInt($(this).find('.rateG').val()),
                    PurchaseTotal: parseFloat($(this).find('.FTotalG').val()),
                    Total: parseFloat($(this).find('.FTotalG').val()),
                    PurchaseVatPercentage: parseFloat($(this).find('.VATG').val()),
                    RowSubTotal: parseFloat($(this).find('.RowTotalG').val()),
                }
                list.push(orderItem);
            }
        });

        if (list.length == 0) {
            $('#BTW6').text('');
            $('#BTW21').text('');
            $('#gtotal').text('');
            $('#gtotal').text('');
        }
        var empObj = {
            PurchaseId: $('#Number_ID').val(),
            PurchaseID: $('#Number_ID').val(),
            PurchaseRefNumber: $('#ReferenceNumber').val(),
            PurchaseDate: $('#FromDate').val(),
            PurchaseDueDate: $('#DueDate').val(),
            PurchaseSubTotal: $('#SubTotal').text(),
            PurchaseDiscountAmount: $('#PurchaseDiscountAmount').val(),
            PurchaseOrderID: $('#PurchaseOrderID').val(),
            PurchaseTotoalAmount: $('#gtotal').text(),
            PurchaseVenderNote: $('#PurchaseVenderNote').val(),
            Vat6: $('#BTW6').text(),
            Vat21: $('#BTW21').text(),
            VenderId: $('#ConatctId').val(),
            CompanyId: $('#CompanyID').val(),
        };

        for (var key in empObj) {
            formData.append(key, empObj[key]);
        }
        for (var i = 0; i < list.length; i++) {
            formData.append('PurchaseOrderList[' + i + '][PurchaseItemId]', list[i].PurchaseItemId)
            formData.append('PurchaseOrderList[' + i + '][PurchaseQuantity]', list[i].PurchaseQuantity)
            formData.append('PurchaseOrderList[' + i + '][Type]', list[i].Type)
            formData.append('PurchaseOrderList[' + i + '][ServiceDate]', list[i].ServiceDate)
            formData.append('PurchaseOrderList[' + i + '][PurchaseItemRate]', list[i].PurchaseItemRate)
            formData.append('PurchaseOrderList[' + i + '][PurchaseTotal]', list[i].PurchaseTotal)
            formData.append('PurchaseOrderList[' + i + '][Total]', list[i].Total)
            formData.append('PurchaseOrderList[' + i + '][PurchaseVatPercentage]', list[i].PurchaseVatPercentage)
            formData.append('PurchaseOrderList[' + i + '][RowSubTotal]', list[i].RowSubTotal)
        }

        $.ajax({
            url: Route,
            type: "POST",
            data: formData,

            contentType: false,
            processData: false,
            success: function (respon) {
                if (respon.Status == "Success") {
                    Response(respon, btnName);
                }
                else if (result.Status == "Fail") {
                    alert(result.Message);
                }
            },

            error: function (errormessage) {

            }
        });
    }

    function Response(response, btnName) {

        if (response.Status == "Success" && btnName == "SaveDraft") {
            swal({
                title: 'Purchase!',
                text: 'Purchase Order hasbeen Created successfully!',
                type: 'success'
            },
                 function (isconform) {
                     window.location.href = "/Purchase/Viewinvoice1?purchaseOrderId=" + response.purchaseId;
                 });
        }

        if (response.Status == "Success" && btnName == "SaveEmail") {
            swal({
                title: 'Purchase!',
                text: 'Purchase Order hasbeen Created successfully!',
                type: 'success'
            },
                         function (isconform) {
                             window.location.href = "/Purchase/Viewinvoice1?purchaseOrderId=" + response.purchaseId;
                         });
        }
        if (response.Status == "Success" && btnName == "SaveEamilPrint") {
            localStorage.setItem('path', response.path);
            swal({
                title: 'Purchase!',
                text: 'Purchase Order hasbeen Created successfully!',
                type: 'success'
            },
            function (isconform) {
                window.location.href = "/Purchase/Viewinvoice1?purchaseOrderId=" + response.PurchaseOrderId;
            });
        }
        else if (response.Status == "Fail") {

        }

        if (response.Status == "Fail") {
            alert('Fail to Create Bills');
        }
    }





    function ValidateRow(CurrentRow) {
        var Isvalid = true;
        var Produectid = 0, quantityG = 0, varrateG = 0;
        Produectid = CurrentRow.find('.product').val();
        quantityG = CurrentRow.find('.quantityG ').val();
        varrateG = CurrentRow.find('.rateG ').val();
        if (parseInt(Produectid) == 0 || Produectid == "") {
            Isvalid = false;
        }
        if (parseInt(quantityG) == 0 || quantityG == "") {
            Isvalid = false;
        }
        if (parseInt(varrateG) == 0 || varrateG == "") {
            Isvalid = false;
        }
        return Isvalid;
    }

    function validateFileSize() {
        var Isvalid = true;
        if (window.File && window.FileReader && window.FileList && window.Blob) {

            if (document.getElementById("uploadfile").files.length != 0) {

                //get the file size and file type from file input field
                var fsize = $('#uploadfile')[0].files[0].size;
                var ftype = $('#uploadfile')[0].files[0].type;
                var fname = $('#uploadfile')[0].files[0].name;

                if (fsize > 1048576) //do something if file size more than 1 mb (1048576)
                {
                    Isvalid = false;

                    alert("Type :" + ftype + " | " + fsize + " bites\n(File: " + fname + ") Too big!");
                }
                else {
                    Isvalid = true;
                }
            }
            return Isvalid;
        }
    }

</script>


<script>

    $(document).ready(function () {
        $('#mainrow1 .ServiceDate').datepicker({
            changeMonth: true,
            changeYear: true,
            gotoCurrent: true,
            datetime: new Date(),
            dateFormat: 'dd/mm/yy',
        }).datepicker("setDate", new Date());

        if ($(this).hasClass('birthdate')) {
            $(this).datepicker('option', 'yearRange', '1980:c');
            $(this).datepicker('option', 'defaultDate', '-10y');
        }
    });

    $(document).ready(function () {
        $('.FromDate').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'yy/mm/dd'
        }).datepicker();
        if ($(this).hasClass('birthdate')) {
            $(this).datepicker('option', 'yearRange', '1980:c');
            $(this).datepicker('option', 'defaultDate', '-10y');
        }
    });

    $(document).ready(function () {
        $('.DueDate').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'yy/mm/dd'
        }).datepicker();
        if ($(this).hasClass('birthdate')) {
            $(this).datepicker('option', 'yearRange', '1980:c');
            $(this).datepicker('option', 'defaultDate', '-10y');
        }
    });

    $('body').on('focus', ".ss", function () {

        $(this).closest('tr').find(':input').removeClass('hasDatepicker');
        $(this).datepicker({
            changeMonth: true,
            changeYear: true,
            gotoCurrent: true,
            dateFormat: 'dd/mm/yy',
        });
        if ($(this).hasClass('birthdate')) {
            $(this).datepicker('option', 'yearRange', '1980:c');
            $(this).datepicker('option', 'defaultDate', '-10y');
        }
    });

</script>
