
@{
    ViewBag.Title = "Index";
}


<h2 style="color:skyblue">Purchase</h2>

<p>
    <a href="@Url.Action("AddOrEdit","Purchase")" class="btn btn-default"><i class="fa fa-plus"></i>Create New</a>
</p>

<table class="table" id="PurchaseDetailTable">
    <thead style="background-color:black;color:white">
        <tr>
            <th>
                PurchaseId
            </th>
          
            <th>
               PurchaseDate
            </th>
            <th>
               PurchaseDueDate
            </th>
            <th>
               RefrenceNumber
            </th>
            <th>
               Puchase Subtotal
            </th>
            <th>
                DiscountAmount
            </th>
            <th>
                Status
            </th>

            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody></tbody>
</table>




