
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

    
    
   
<a href="@Url.Action("Index","Home")" class="btn btn-info"><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Invoice</a> 

<table class="table" id="PurchaseDetailTable">
    <thead style="background-color:black;color:white">
        <tr>
            <th>
                PurchaseId
            </th>
          
            <th>
               PurchaseDate
            </th>
            <th>
               PurchaseDueDate
            </th>
            <th>
               RefrenceNumber
            </th>
            <th>
               Puchase Subtotal
            </th>
            <th>
                DiscountAmount
            </th>
            <th>
                Status
            </th>

            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody></tbody>
</table>


<script type="text/javascript">
    $(document).ready(function () {
     
        $("#PurchaseDetailTable").DataTable({
            //"processing": true, // for show progress bar
            "processing": true,
            "language": {
                "processing": $('#loaderQuationList').append("<img src='../images/XtaS.gif' width='100px' height='60px' />"),  //add a loading image,simply putting tag.
            },
            "searching": true,
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Purchase/GetPurchaseList",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                   { "data": "PurchaseOrderID", "name": "PurchaseOrderID", "autoWidth": true },// key for edit delete
                     {
                         "data": "PurchaseDate", "type": "date ",
                         "render": function (value) {
                             if (value === null) return "";
                             var pattern = /Date\(([^)]+)\)/;//date format from server side
                             var results = pattern.exec(value);
                             var dt = new Date(parseFloat(results[1]));
                             return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                         }, "autoWidth": true
                     },
                    {
                        "data": "PurchaseDueDate", "type": "date ",
                        "render": function (value) {
                            if (value === null) return "";
                            var pattern = /Date\(([^)]+)\)/;//date format from server side
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();                          
                        }, "autoWidth": true
                    },

                   { "data": "PurchaseRefNumber", "name": "PurchaseRefNumber", "autoWidth": true },

                 { "data": "PurchaseSubTotal", "name": "PurchaseSubTotal", "autoWidth": true },
                   { "data": "PurchaseTotoalAmount", "name": "PurchaseTotoalAmount", "autoWidth": true },

                    { "data": "Status", "name": "Status", "autoWidth": true },

                   {
                       render: function (data, type, row) {
                           return '<a href="" class="btn btn-info btn-sm" data-id="Id" onclick="EditPurchase(' + row.PurchaseOrderID + ')"><i class="fa fa-pencil"></i></a>|<a href="#" class="btn btn-danger btn-sm" onclick="DeleteQutation(' + row.PurchaseOrderID + ')"><i class="fa fa-trash"></i></a>|<a href="#" class="btn btn-success btn-sm" onclick="Delete(' + row.PurchaseOrderID + ')"><i class="fa fa-eye"></i></a>'
                       }
                   }

            ]
        });


    });



    function EditPurchase(PurchaseId) {

       
        $.ajax({
            url: '/Purchase/AddOrEditPurchase',
            type: 'GET',
            data: {
                purchaseId: PurchaseId
            },
            success: function (data) {
              
                window.location.href = "/Purchase/AddOrEdit/" + PurchaseId;
            }
        });


    }


</script>



