
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>




<button id="AddNewPurchaseFromInvoice" class="btn btn-info"><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Invoice</button>

<table class="table" id="PurchaseGoodList">
    <thead style="background-color:black;color:white">
        <tr>
            <th>
                PurchaseId
            </th>

            <th>
                PurchaseDate
            </th>
            <th>
                PurchaseDueDate
            </th>
            <th>
                RefrenceNumber
            </th>
            <th>
                Puchase Subtotal
            </th>
            <th>
                Purchase Amount
            </th>
            <th>Type</th>
            <th>
                Status
            </th>
            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody></tbody>
</table>


<script type="text/javascript">
    $(document).ready(function () {

        $("#PurchaseGoodList").DataTable({

            "processing": true,
            "searching": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "ajax": {
                "url": "/Purchase/GetPurchaseServiceList",
                "type": "POST",
                "datatype": "json",
                data: { Type: "Goods" }
            },
            "columns": [
                   { "data": "PurchaseOrderID", "name": "PurchaseOrderID", "autoWidth": true },// key for edit delete
                     {
                         "data": "PurchaseDate", "type": "date ",
                         "render": function (value) {
                             if (value === null) return "";
                             var pattern = /Date\(([^)]+)\)/;//date format from server side
                             var results = pattern.exec(value);
                             var dt = new Date(parseFloat(results[1]));
                             return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                         }, "autoWidth": true
                     },
                    {
                        "data": "PurchaseDueDate", "type": "date ",
                        "render": function (value) {
                            if (value === null) return "";
                            var pattern = /Date\(([^)]+)\)/;//date format from server side
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                        }, "autoWidth": true
                    },

                    { "data": "PurchaseRefNumber", "name": "PurchaseRefNumber", "autoWidth": true },
                    { "data": "PurchaseSubTotal", "name": "PurchaseSubTotal", "autoWidth": true },
                    { "data": "PurchaseTotoalAmount", "name": "PurchaseTotoalAmount", "autoWidth": true },

                    { "data": "Type", "name": "Type", "autoWidth": true }, {
                        render: function (data, type, row) {


                            switch (row.Status) {

                                case "open":

                                    return "<td><span class='label label-primary'>" + row.Status + "</span></td>"
                                    break;

                                case "pending":
                                    return "<td><span class='label label-info'>" + row.Status + "</span></td>"
                                    break;

                                case "rejected":
                                    return "<td><span class='label label-danger'>" + row.Status + "</span></td>"
                                    break;

                                case "accepted":
                                    return "<td><span class='label label-success'>" + row.Status + "</span></td>"
                                    break;
                            }
                        }
                    },

                        {
                            render: function (data, type, row) {

                                switch (row.Type) {
                                    case "Goods":
                                        return '<a href="" class="btn btn-info btn-sm" onclick="ViewInvoiceGoodDetail(' + row.PurchaseOrderID + ')"><i class="fa fa-eye">View and Print Goods</i></a>'
                                        break
                                }
                            }
                        }
            ]
        });
    });


    function ViewInvoiceGoodDetail(PurchaseId) {
        $.ajax({
            url: '/Purchase/AddOrEditPurchase',
            type: 'GET',
            data: {
                purchaseId: PurchaseId
            },
            success: function (data) {

                window.location.href = "/Purchase/ViewAndPrintInvoiceGood?Id=" + PurchaseId;
            }
        });
    }





</script>
