@model InvoiceDiskLast.Models.PendingModel


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="row">
    <div class="col-md-2">
        <a href="@Url.Action(" Index","Home")" class="btn btn-info"><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Invoice</a>

    </div>
    <div class="col-md-10">
        <select id="drpstatus" class="form-control">

            <option value="1">Open</option>
            <option value="1">Accepted</option>
            <option value="1">Pending</option>
            <option value="1">Rejected</option>


        </select>
    </div>
</div>


<div>
    <table class="table" id="PurchaseListTable">
        <thead style="background-color:black;color:white">
            <tr>
                <th>
                    PurchaseId
                </th>

                <th>
                    PurchaseDate
                </th>
                <th>
                    PurchaseDueDate
                </th>
                <th>
                    RefrenceNumber
                </th>
                <th>
                    Puchase Subtotal
                </th>
                <th>
                    DiscountAmount
                </th>
                <th>
                    Status
                </th>

                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>



<div id="Pending" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pending perchase</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="form-group ">
                            <input class="form-control hidden" type="text" required id="txtpurchaseId" />
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group ">
                            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", id = "txtfromdate" } })
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group ">
                            @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control", id = "txttodate" } })
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group ">
                            <textarea class="form-control" required id="txtdescription" placeholder="Description" cols="4"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="savePendind" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Save</button>
                <button type="button" class="btn btn-danger waves-effect text-left" id="CancelProductUnit123445" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<script type="text/javascript">
    $(document).ready(function () {

        LoadPurchaseOrderTable("Open");
    });

    function LoadPurchaseOrderTable(status) {


        $("#PurchaseListTable").DataTable({
            //"processing": true, // for show progress bar
            "processing": true,
            "language": {
                //  "processing": $('#loaderQuationList').append("<img src='../images/XtaS.gif' width='100px' height='60px' />"),  //add a loading image,simply putting tag.
            },
            "destroy": true,
            "searching": true,
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Order/GetPurderOrderList",
                "type": "POST",
                data: { status: status },
                "datatype": "json"
            },
            "columns": [
                  { "data": "PurchaseOrderID", "name": "PurchaseOrderID", "autoWidth": true },// key for edit delete
                    {
                        "data": "PurchaseDate", "type": "date ",
                        "render": function (value) {
                            if (value === null) return "";
                            var pattern = /Date\(([^)]+)\)/;//date format from server side
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                        }, "autoWidth": true
                    },
                   {
                       "data": "PurchaseDueDate", "type": "date ",
                       "render": function (value) {
                           if (value === null) return "";
                           var pattern = /Date\(([^)]+)\)/;//date format from server side
                           var results = pattern.exec(value);
                           var dt = new Date(parseFloat(results[1]));
                           return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                       }, "autoWidth": true
                   },

                  { "data": "PurchaseRefNumber", "name": "PurchaseRefNumber", "autoWidth": true },

                { "data": "PurchaseSubTotal", "name": "PurchaseSubTotal", "autoWidth": true },
                  { "data": "PurchaseTotoalAmount", "name": "PurchaseTotoalAmount", "autoWidth": true },

                   { "data": "Status", "name": "Status", "autoWidth": true },

                {


                    render: function (data, type, row) {


                        switch (row.Status) {
                            case "Open":
                                return '<a href="#" class="btn btn-info btn-sm" data-id="Id" onclick="AcceptOrder(' + row.PurchaseOrderID + ')"><i class="fa fa-check"> Accept</i></a>|<a href="#" class="btn btn-danger btn-sm" onclick="Rejected(' + row.PurchaseOrderID + ')"><i class="fa fa-trash"></i> Reject</a>|<a href="#" class="btn btn-success btn-sm" onclick="PendingtOrder(' + row.PurchaseOrderID + ')"><i class="fa fa-clock-o"> Pending</i></a>'
                                break

                            case "Rejected":
                                return '<a href="#" class="btn btn-success btn-sm" onclick="Reopen(' + row.PurchaseOrderID + ')"><i class="fa fa-clock-o"> Re open</i></a>'
                                break


                            case "Pending":
                                return '<a href="#" class="btn btn-info btn-sm" data-id="Id" onclick="Reopen(' + row.PurchaseOrderID + ')"><i class="fa fa-check"> Re open</i></a>|<a href="#" class="btn btn-danger btn-sm" onclick="Rejected(' + row.PurchaseOrderID + ')"><i class="fa fa-trash"></i> Reject</a>'
                                break


                            case "Accepted":
                                return '<a href="#" class="btn btn-info btn-sm" data-id="Id" onclick="ViewInvoice(' + row.PurchaseOrderID + ')"><i class="fa fa-eye"> View Invoice</i></a>'
                                break
                        }



                    }
                }
            ]
        });
    }


    function AcceptOrder(id) {
        updateStatus(id, "Acepted", "Accepted", "the invoice is Accepted successfully");
    }


    function Reopen(id) {
        updateStatus(id, "Open", "Open", "the invoice is Open successfully");
    }

    function Rejected(id) {
        updateStatus(id, "Rejected", "the invoice is rejected successfully");
    }
    function PendingtOrder(id) {
        $('#Pending').modal('show');
        $('#txtpurchaseId').val(id);
    }

    function updateStatus(Id, Status, Message) {
        debugger;
        var Data = JSON.stringify({
            purchaseId: Id,
            Status: Status,
        })
        $.ajax({
            url: '/Order/UpdateOrderStaus',
            type: 'POST',
            data: Data,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response.Status == "Success") {
                    $('#PurchaseListTable').DataTable().ajax.reload();

                    swal({
                        title: 'Status!',
                        text: Message,
                        type: 'success'
                    });
                }
                else if (response.Status == "Fail") {
                    swal({
                        title: 'Status!',
                        text: "fail to process",
                        type: 'danger'
                    });
                }
            },

            Error: function (error) {
                alert(error)
            },
        });
    }

    $('#drpstatus').change(function () {
        var status = $('#drpstatus option:selected').text();
        LoadPurchaseOrderTable(status);
    });

    $('#savePendind').click(function () {
        AddPending();
    });


    function validation() {


    }



    function AddPending() {
        debugger;
        var ddddd = {
            Purchase_QuataionId: $("#txtpurchaseId").val(),
            FromDate: $("#txtfromdate").val(),
            ToDate: $('#txttodate').val(),
            Description: $('#txtdescription').val(),
            Status: "Pending"
        };
        $.ajax({
            url: "/Order/AddPending",
            type: 'POST',
            data: ddddd,
            success: function (rsponse) {
                if (rsponse.Success = "Success") {
                    $('#PurchaseListTable').DataTable().ajax.reload();
                    $('#Pending').modal('hide');
                    swal({
                        title: 'Status!',
                        text: rsponse.Message,
                        type: 'success'
                    });
                }
                else if (rsponse.Success = "Fail") {
                    swal({
                        title: 'Status!',
                        text: rsponse.Message,
                        type: 'success'
                    });
                }
            },
            error: function (error) {
                alert(error);
            }
        });
    }



</script>
