
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@*<h2>Product <a href="@Url.Action("AddOrEdit","MVCProduct")" class="btn btn-info"><i class="fa fa-plus-circle"></i>Create New</a> </h2>*@

<button id="CreateNewProduct" class="btn btn-sm btn-info"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Create New</button>

    @*<a href="@Url.Action("AddOrEdit","MVCProduct")" class="btn btn-info"><i class="fa fa-plus"></i>Create New</a>*@

    <table class="table" id="productTable">

        <thead class="table-heading" style="background-color:black;color:white">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Sale Price
                </th>
                <th>
                    Purchase Price
                </th>
                <th>
                    Type
                </th>
                <th>
                    Opening Quantity
                </th>

                <th>
                    Date
                </th>
                <th>Action</th>
            </tr>

        </thead>
        <tbody></tbody>

    </table>


   
        <script>
            $(function () {
                var successMessage = '@TempData["SuccessMessage"]'
                if (successMessage != '') {
                    alertify.success(successMessage);

                }
                successMessage = '';
            });


            function Delete(id) {

                alertify.confirm('Product Information', 'Are you sure to delete this record ?', function () {

                    window.location.href = '@Url.Action("Delete","MVCProduct")/' + id;

                }, null);
            }
        </script>

   

    <input type="hidden" id="ProductId" />
    <div class="modal fade bs-example-modal-lg" id="CreateNewProductModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel" style="color:skyblue">Add New Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <input class="form-control" type="text" required id="ProductName" placeholder="Product Name" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <input class="form-control" type="text" required id="Description" placeholder="Description" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <input class="form-control" type="text" required id="SalePrice" placeholder="Sale Price" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <input class="form-control" type="text" required id="PurchasePrice" placeholder="Purchase Price" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-2" style="margin-top:7px">Type</div>
                                <div class="col-sm-10">
                                    <select class="form-control p-0" id="Type">
                                        <option value="Good" selected>Good</option>
                                        <option value="Services">Services</option>
                                    </select><span class="bar"></span>
                                </div>
                            </div>
                           
                           
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <input class="form-control" type="text" required id="OpeningQuantity" placeholder="Opening Quantity" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                       
                        <div class="col-sm-12">
                            <select class="form-control p-0" id="ProductUnitSelect">
                               </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="SaveNewProduct" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Save Product</button>
                    <button type="button" id="UpdateProduct" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Update Product</button>
                    <button type="button" class="btn btn-danger waves-effect text-left" id="CancelProduct" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>




<div id="UnitModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add new unit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group ">
                            <input class="form-control" type="text" required id="ProductUnit" placeholder="Unit Name" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="SaveNewProductUnit" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Save</button>              
                <button type="button" class="btn btn-danger waves-effect text-left" id="CancelProductUnit" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>





<script>

    $(document).ready(function () {

        $('#CreateNewProduct').click(function () {
            $('#UpdateProduct').hide();
            $('#SaveNewProduct').show();
            LoadProductUnit();
            $('#CreateNewProductModal').modal('show');
        });


        $('#ProductUnitSelect').change(function () {

            var value = $(this).val();
            if (value == "AddNewPUnitSelect") {

                $('#CreateNewProductModal').modal('hide');
                $('#UnitModel').modal('show');
            }

        });

        $('#CancelProductUnit').click(function () {
            CleartUnitTextBox();
            $('#CreateNewProductModal').modal('show');
            $('#UnitModel').modal('hide');
        });
     
        $('#SaveNewProductUnit').click(function () {

            var dataUnit = {

                ProductUnit: $('#ProductUnit').val(),
                Status: "true"
            }

            $.ajax({
                url: "/MVCProductUnit/AddorEdit",
                type: "POST",
                data: dataUnit,
                success: function(dat)
                {
                    CleartUnitTextBox();
                    $('#UnitModel').modal('hide');
                    LoadProductUnit();
                    $('#CreateNewProductModal').modal('show');

                    $.toast({
                        heading: 'Success',
                        text: 'Your opration has been successfuly completed `loader`',
                        icon: 'info',
                        loader: true,        // Change it to false to disable loader
                        loaderBg: '#9EC600'  // To change the background
                    });
                },
                Error: function(err)
                {
                    alert("erro");
                }           

            });

        });

    });


    function CleartUnitTextBox()
    {
        $('#ProductUnit').val("")
    }



    function LoadProductUnit() {

        $("#ProductUnitSelect").find("option").remove();

        $("#ProductUnitSelect").prepend("<option value=0>" + 'Select Unit' + "</option>");
        $("#ProductUnitSelect").append("<option value=AddNewPUnitSelect>" + 'Add New Unit' + "</option>");

        $.ajax({
            url: "/MVCProductUnit/GetProductUnit",
            type: "Get",
            async: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data);

                $.each(data, function (key, item) {
                    $('#ProductUnitSelect').append($('<option></option>').val(item.ProductUnitID).html(item.ProductUnit));
                });

            },
            Error: function (errormessage) {
                alert(errormessage);
            }

        });
    }
</script>