
@{
    ViewBag.Title = "StockList";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<button id="CreateNewProduct" class="btn btn-sm btn-info"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Create New</button>

<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="table-responsive">
            <table class="display nowrap table table-hover table-striped table-bordered dataTable" id="ProcductStockTable">

                <thead class="table-heading" style="background-color:black;color:white">
                    <tr>
                        <th>
                            Cod
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Purchase Qunatity
                        </th>
                        <th>
                            Sale Qunatity
                        </th>
                        <th>
                            Availible Stock
                        </th>
                    </tr>

                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div class="preloader" id="loadingDiv">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">loading...</p>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#ProcductStockTable").DataTable({
            //"processing": true, // for show progress bar
            "processing": true,
            //"language": {
            //    "processing": $('#loaderQuationList').append("<img  src='../images/XtaS.gif' width='100px' height='60px' />"),  //add a loading image,simply putting tag.
            //},
            "searching": true,
            "serverSide": false, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once

            "ajax": {
                "url": "/MVCProduct/GetItemStok",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                    { "data": "PurchaseItemId", "name": "PurchaseItemId", "autoWidth": true },// key for edit delete
                    { "data": "ProductName", "name": "ProductName", "autoWidth": true },
                    { "data": "PurchaseQuantity", "name": "PurchaseQuantity", "autoWidth": true },
                    { "data": "SaleQuantity", "name": "SaleQuantity", "autoWidth": true },
                    //{ "data": "RemaingQuantity", "name": "RemaingQuantity", "autoWidth": true },
                        {
                            data: 'RemaingQuantity',
                            render: function (data, type, row) {

                                if (row.RemaingQuantity > 5) {
                                    return "<td><span class='label label-success'>" + row.RemaingQuantity + "</span></td>"
                                }
                                else {
                                    return "<td><span class='label label-danger'>" + row.RemaingQuantity + "</span></td>"
                                }
                            }
                        },
            ]
        });

    });


</script>
