.CmpColor {
    color: skyblue;
    font-weight: bold;
    text-decoration: underline;
}

.clientInfo {
    font-weight: bold;
}

.HeadText {
    text-align: -webkit-center;
    color: darkgray;
    font-weight: bold;
    margin-bottom: -20px;
}

.QTtable {
    display: inline-table;
    overflow-x: auto;
    width: 100%;
}

.btn-margin-Bottom{
    margin-bottom:8px;
}

.fa-backgroun{
    color:yellow;
}

.Grand-color{
    color: black;
    font-weight:bold;
}


