.CmpColor {
    color: skyblue;
    font-weight: bold;
    text-decoration:underline;
}
.clientInfo{
    font-weight:bold;
}
.HeadText{
    text-align: -webkit-center;
     color: darkgray;
    font-weight: bold;
    margin-bottom:-20px;
}

QTtable {
      
      display: table-cell;
  overflow-x: auto;
  width: 100%;

    }
