.CmpColor {
    color: skyblue;
    font-weight: bold;
    text-decoration: underline;
}

.clientInfo {
    font-weight: bold;
}

.HeadText {
    color: darkgray;
    font-weight: bold;
    font-size: 20px;
}

.QTtable {
    display: inline-table;
    overflow-x: auto;
    width: 100%;
}

.btn-margin-Bottom {
    margin-bottom: 8px;
}

.fa-backgroun {
    color: yellow;
}

.Grand-color {
    color: black;
    font-weight: bold;
}

.image-Size {
    max-width: 200px;
    min-width: 100px;
    max-height: 200px;
    min-height: 45px;
    margin-top: 33px;
}

image-Size-Logo
{
     max-width: 300px;
    min-width: 100px;
    max-height: 200px;
    min-height: 45px;
    margin-top: 33px;
}

.Grand-color-CompanyName {
    color: darkgrey;
    font-weight: bold;
}

.Input-height {
    height: 28px !important;
}

.btn-height {
    height: 28px !important;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    font-weight:bold;
}

.btn-height-Remove {
    height: 28px !important;
    background-color: red;
    border: none;
    color: white;
   padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    font-weight:bold;
}
