@model InvoiceDiskLast.Models.PendingModel
@{
    ViewBag.Title = "QutationOrderList";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="row">
    @*<div class="col-md-2">
            <a href="@Url.Action(" Index","Home")" class="btn btn-info"><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Invoice</a>

        </div>*@
    <div class="col-md-6">
        <select id="drpstatus" class="form-control">

            <option value="1">Open</option>
            <option value="1">accepted</option>
            <option value="1">pending</option>
            <option value="1">rejected</option>

        </select>
    </div>
</div>

<div>
    <table class="table" id="QutationOrderTable">
        <thead style="background-color:black;color:white">
            <tr>
                <th>
                    Code
                </th>

                <th>
                    Date
                </th>
                <th>
                    DueDate
                </th>
                <th>
                    RefrenceNumber
                </th>
                <th>
                    Qutation Subtotal
                </th>
                <th>Type</th>
                <th>
                    Status
                </th>

                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>






<div class="modal fade bs-example-modal-lg" id="showpendindModelq" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabe1l" style="color:skyblue">Show pending Qutation </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="height: auto !important">

                <div class="row">
                    <div class="col-ms-4">
                        <div id="logo">
                            @*<img src="~/images/logon1.png183807568.png" />*@
                        </div>

                    </div>
                    <div class="col-sm-8">
                        <div style="margin-left: 234px"><h5 id="CompanyNameq"></h5></div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 pull-left"><div class="pull-right">Kvk nr:</div></div>
                            <div class="col-sm-4" id="Kvkq">KVK</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2"><div class="pull-right"> BTW nr:</div></div>
                            <div class="col-sm-4" id="BTWq"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 pull-right"><div class="pull-right">Bank:</div></div>
                            <div class="col-sm-4" id="Bankq"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 pull-right"><div class="pull-right">IBAN:</div></div>
                            <div class="col-sm-4" id="IBNq"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 pull-right"><div class="pull-right">BIC:</div></div>
                            <div class="col-sm-4" id="IBC"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2"><div class="pull-right">Tel:</div></div>
                            <div class="col-sm-4" id="CompanyPhoneq"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2"><div class="pull-right">Cel:</div></div>
                            <div class="col-sm-4" id="Cellq"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 pull-right"><div class="pull-right">E-mail:</div></div>
                            <div class="col-sm-4" id="CompanyEmailq"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 pull-right"><div class="pull-right">Website:</div></div>
                            <div class="col-sm-4" id="websiteq"></div>
                        </div>

                        <div class="row">

                            <div class="col-sm-8 pull-right"><div class="pull-right">Bezoekadres:</div></div>
                            <div class="col-sm-3">
                                <h6 id="add"></h6>
                                <h6 id="pcode"></h6> <h6 id="companyCityq"></h6>
                                <h6 id="companyCountry"></h6>
                            </div>
                        </div>


                    </div>
                </div>


                <table class="table" id="QutationDetailTable">
                    <thead style="background-color:black;color:white">
                        <tr>
                            <th>
                                Code
                            </th>
                            <th>
                                ProductName
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Price
                            </th>

                            <th>
                                Total
                            </th>

                            <th>
                                Vat
                            </th>



                        </tr>
                    </thead>
                    <tbody id="Qdetail"></tbody>
                </table>



                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2">
                        <label class="text-right">Total excl. VAT:€</label>
                    </div>

                    <div class="col-sm-2">
                        <label class="text-left" id="PurchaseSubTotalq"></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2">
                        <label class="text-right">VAT 6%:€</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="text-left" id="vat6q"></label>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-8"></div>
                    <div class="col-sm-2">
                        <label class="text-right">VAT 21%:	€</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="tex text-left" id="Vat21q"></label>

                    </div>

                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2">
                        <label class="text-right">Grand Total:</label>
                    </div>

                    <div class="col-sm-2">
                        <label class="text-left" id="PurchaseTotoalAmountq"></label>

                    </div>
                </div>
            </div>


        </div>
        <div class="modal-footer">

        </div>
    </div>
    <!-- /.modal-content -->
</div>





<div class="modal fade bs-example-modal-lg" id="showpendindModelqutation" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabe1l" style="color:skyblue">Show pending Invoice </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="height: auto !important">

                <div class="row">
                    <div class="col-ms-4">
                        <div id="logo1"class="mydiv"></div>

                    </div>
                    <div class="col-sm-8">
                        <div style="margin-left: 234px"><h5 id="CompanyName"></h5></div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 pull-left"><div class="pull-right">Kvk nr:</div></div>
                            <div class="col-sm-4" id="Kvk">KVK</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2"><div class="pull-right"> BTW nr:</div></div>
                            <div class="col-sm-4" id="BTW"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 pull-right"><div class="pull-right">Bank:</div></div>
                            <div class="col-sm-4" id="Bank"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 pull-right"><div class="pull-right">IBAN:</div></div>
                            <div class="col-sm-4" id="IBN"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 pull-right"><div class="pull-right">BIC:</div></div>
                            <div class="col-sm-4" id="IBC"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2"><div class="pull-right">Tel:</div></div>
                            <div class="col-sm-4" id="CompanyPhone"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2"><div class="pull-right">Cel:</div></div>
                            <div class="col-sm-4" id="Cell"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 pull-right"><div class="pull-right">E-mail:</div></div>
                            <div class="col-sm-4" id="CompanyEmail"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 pull-right"><div class="pull-right">Website:</div></div>
                            <div class="col-sm-4" id="website"></div>
                        </div>

                        <div class="row">

                            <div class="col-sm-8 pull-right"><div class="pull-right">Bezoekadres:</div></div>
                            <div class="col-sm-3">
                                <h6 id="add"></h6>
                                <h6 id="pcode"></h6> <h6 id="companyCity"></h6>
                                <h6 id="companyCountry"></h6>
                            </div>
                        </div>


                    </div>
                </div>


                <table class="table" id="PendingTable">
                    <thead style="background-color:black;color:white" id="theadTable">

                    <tbody id="tbody"></tbody>
                </table>



                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2">
                        <label class="text-right">Total excl. VAT:€</label>
                    </div>

                    <div class="col-sm-2">
                        <label class="text-left" id="PurchaseSubTotal"></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2">
                        <label class="text-right">VAT 6%:€</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="text-left" id="vat6"></label>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-8"></div>
                    <div class="col-sm-2">
                        <label class="text-right">VAT 21%:	€</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="tex text-left" id="Vat21"></label>

                    </div>

                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2">
                        <label class="text-right">Grand Total:</label>
                    </div>

                    <div class="col-sm-2">
                        <label class="text-left" id="PurchaseTotoalAmount"></label>

                    </div>
                </div>
            </div>


        </div>
        <div class="modal-footer">

        </div>
    </div>
    <!-- /.modal-content -->
</div>




<div id="Pendingq" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pending Qutation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="form-group ">
                            <input class="form-control hidden" type="text" required id="txtpurchaseIdQ" disabled />
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group ">
                            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", id = "txtfromdateq", @required = "required" } })
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group ">
                            @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control", id = "txttodateq", @required = "required" } })
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group ">
                            <textarea class="form-control" required id="txtdescriptionq" placeholder="Description" cols="4"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="savePendindq" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>Save</button>
                <button type="button" class="btn btn-danger waves-effect text-left" id="CancelProductUnit123445q" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>









<div class="modal fade bs-example-modal-lg" id="TransactionModelq" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Create Transaction</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">


                <div class="row text-center">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label style="color:#288c7b"><b>Debit Account</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label style="color:#288c7b"><b>Credit Account</b></label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top:10px;">

                    <div class="col-sm-3">
                        <input type="text" placeholder="Transaction number" disabled="disabled" class="form-control" />
                    </div>

                    <div class="col-sm-9">
                        <input type="text" id="txttransactionIdq" class="form-control" placeholder="transaction Number" />
                    </div>

                </div>

                <div class="row" style="margin-top:10px;">

                    <div class="col-sm-3">
                        <input type="text" placeholder="Reffrence number" disabled="disabled" class="form-control" />
                    </div>
                    <div class="col-sm-9">


                        <input type="text" id="txtrefrencenumberq" class="form-control" placeholder="Reffrence number" readonly />

                    </div>

                </div>



                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-6">
                        <select class="form-control" id="drpAccountDebitq">
                            <option value="0">Select payment Term</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", id = "txttransactionDateDebitq" } })
                    </div>
                </div>

                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <select class="form-control" id="drppaymentDebitq">
                                    <option value="0"> Select acccount</option>
                                </select>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="AmountDebitq" placeholder="Amount Debit" title="Debit Amount">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">

                        <div class="form-group">
                            <div class="col-xs-12">
                                <select class="form-control" id="drpAccountCreditq">

                                    <option value="0">Account type</option>

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="AmountCreditq" placeholder="Amount Credit" title="Credit Amount">
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <textarea class="form-control" type="text" required id="Descriptionq" placeholder="Description (optional)"></textarea>
                    </div>
                </div>


                <div class="row">
                    <table class="table table-bordered table-striped" id="tableAccountinfoq" style="visibility:hidden">
                        <thead style="background-color:black;color:white">
                            <tr>
                                <th>TID</th>
                                <th>Ref</th>
                                <th>Date</th>
                                <th>Acc Name</th>
                                <th>Payment</th>
                                <th>Debit</th>
                                <th>Credit</th>
                            </tr>
                        </thead>
                        <tbody id="tbleAccount"></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-success" id="btnqutation"><i class="fa fa-plus-circle" style="padding-right: 10px"></i>ADD</button>
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-danger" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>






<script type="text/javascript">

    $(document).ready(function () {
        LoadQutationOrderTable("open");


        $('#btnqutation').click(function () {
            if ($('#drppaymentDebitq option:selected').text() == $('#drpAccountCreditq option:selected').text()) {
                alert('Account name canot be same');
                return;
            }


            if ($('txttransactionDateDebitq').val() == 0) {
                alert('txttransactionDateDebit  canot be null');
                return;
            }


            if ($('#drpAccountDebitq').val() == 0) {
                alert('drpAccountDebit  canot be null');
                return;
            }


            if ($('#AmountDebitq').val() == 0 || $('#AmountDebitq').val() == 0.00) {
                alert('debit amount canot be zero');
                return;
            }

            if ($('#AmountCreditq').val() == 0 || $('#AmountCreditq').val() == 0.00) {
                alert('AmountCredit canot be zero');
                return;
            }

            if ($('#AmountDebitq').val() != $('#AmountCreditq').val()) {
                alert('Amonnt are not same please checke');
                return;
            }

            if ($('#tbleAccount tr').length == 2) {
                alert("Please save and chhose another transiction");
            }
            else {

                var AccountTable = $('#tbleAccount');
                var AcciontName = $('#drppaymentDebitq option:selected').text();
                var TID = $('#txttransactionIdq').val();
                var ref = $('#txtrefrencenumberq').val();
                var Amountdebit = $('#AmountDebitq').val();
                var AmountCridit = $('#AmountCreditq').val();
                var Tdate = $('#txttransactionDateDebitq').val();
                var drpAccountCredit = $('#drpAccountCreditq option:selected').text();
                var paymentTer = $('#drpAccountDebit option:selected').text();
                AccountTable.append('<tr><td>' + TID + '</td><td>' + ref + '</td><td>' + Tdate + '</td><td>' + AcciontName + '</td><td>' + paymentTer + '</td><td>' + Amountdebit + '</td><td>' + 0 + '</td></tr>');
                AccountTable.append('<tr><td>' + TID + '</td><td>' + ref + '</td><td>' + Tdate + '</td><td>' + AcciontName + '</td><td>' + paymentTer + '</td><td>' + 0 + '</td><td>' + AmountCridit + '</td></tr>');
                $('#tableAccountinfo').css('visibility', 'visible');
            }
        });
    });

    function LoadQutationOrderTable(status) {
        $("#QutationOrderTable").DataTable({
            //"processing": true, // for show progress bar
            "processing": true,
            "language": {
                //  "processing": $('#loaderQuationList').append("<img src='../images/XtaS.gif' width='100px' height='60px' />"),  //add a loading image,simply putting tag.
            },
            "destroy": true,
            "searching": true,
            "autoWidth": false,
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/QutationOrder/GetQutationOrderList",
                "type": "POST",
                data: { status: status },
                "datatype": "json"
            },
            "columns": [
                  { "data": "QutationID", "name": "QutationID", "autoWidth": true },// key for edit delete
                    {
                        "data": "QutationDate", "type": "date ",
                        "render": function (value) {
                            if (value === null) return "";
                            var pattern = /Date\(([^)]+)\)/;//date format from server side
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                        }, "autoWidth": true
                    },
                   {
                       "data": "DueDate", "type": "date ",
                       "render": function (value) {
                           if (value === null) return "";
                           var pattern = /Date\(([^)]+)\)/;//date format from server side
                           var results = pattern.exec(value);
                           var dt = new Date(parseFloat(results[1]));
                           return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                       }, "autoWidth": true
                   },

                  { "data": "RefNumber", "name": "RefNumber", "autoWidth": true },

                { "data": "SubTotal", "name": "SubTotal", "autoWidth": true },
                { "data": "Type", "name": "Type", "autoWidth": true },
               { "data": "Status", "name": "Status", "autoWidth": true },
                {
                    render: function (data, type, row) {


                        switch (row.Status) {
                            case "open":
                                return '<a href="#" class="btn btn-info btn-sm" data-id="Id" onclick="AcceptOrder(' + row.QutationID + ')"><i class="fa fa-check"> Accept</i></a>|<a href="#" class="btn btn-danger btn-sm" onclick="Rejected(' + row.QutationID + ')"><i class="fa fa-trash"></i> Reject</a>|<a href="#" class="btn btn-success btn-sm" onclick="PendingtOrderq(' + row.QutationID + ')"><i class="fa fa-clock-o"> Pending</i></a>'
                                break

                            case "rejected":
                                return '<a href="#" class="btn btn-success btn-sm" onclick="Reopen(' + row.QutationID + ')"><i class="fa fa-clock-o"> Re  Open</i></a>'
                                break


                            case "pending":
                                return '<a href="#" class="btn btn-info btn-sm" data-id="Id" onclick="ViewDetail1(' + row.QutationID + ', \'' + row.Type + '\')"><i class="fa fa-eye">View Detail</i></a>|<a href="#" class="btn btn-info btn-sm" data-id="Id" onclick="Reopen(' + row.QutationID + ')"><i class="fa fa-check"> Re  Open</i></a>|<a href="#" class="btn btn-danger btn-sm" onclick="Rejected(' + row.QutationID + ')"><i class="fa fa-trash"></i> Reject</a>'
                                break


                            case "accepted":
                                return '<a href="#" class="btn btn-info btn-sm" data-id="Id" onclick="ViewInvoice(' + row.QutationID + ')"><i class="fa fa-eye"> View Invoice</i></a>'
                                break
                        }

                    }
                }
            ]
        });
    }

    //pending service and qutation

    function ViewDetail1(QutationId, Type1) {

        $.ajax({
            url: '/MVCClient/AddOrEditQutation',
            type: 'GET',
            data: {
                Qutationid:QutationId
            },
            success: function () {

                GetPurchaseDetailByPurchaseId(QutationId, Type1)
            }
        });
    }


    function GetPurchaseDetailByPurchaseId(QutationId, Type) {
        if (Type == "Goods") {
            $('#theadTable').empty();
            $('#theadTable').append("<tr> <th> PurchaseId</th><th> PurchaseDate</th><th>PurchaseDueDate</th><th> RefrenceNumber</th><th> Puchase Subtotal </th><th>Vat %</th></tr>")
        }
        if (Type == "Services") {
            $('#theadTable').empty();
            $('#theadTable').append("<tr><th> PurchaseId</th><th> Project</th><th>Number of hour</th><th>Hourly rate</th><th>Total</th><th>Vat %</th></tr>")
        }

        var Data = JSON.stringify({
            QutationId: QutationId,
        })
        $.ajax({
            url: '/QutationOrder/GetPendingQutation',
            type: 'POST',
            data: Data,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                console.log(response);

                var html = '';
                $.each(response.QutationDat, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.QutationID + '</td>';
                    html += '<td>' + item.ItemName + '</td>';
                    html += '<td>' + item.Quantity + '</td>';
                    html += '<td>' + item.Rate + '</td>';
                    html += '<td>' + item.Total + '</td>';
                    html += '<td>' + item.Vat + '</td>';
                    html += '</tr>';
                });

                $('#PurchaseTotoalAmount').text(response.purchase.TotalAmount);
                $('#Vat21').text(response.purchase.TotalVat21);
                $('#vat6').text(response.purchase.TotalVat6);
                $('#PurchaseSubTotal').text(response.purchase.SubTotal);

                $('#CompanyName').text(response.CompanyDta.CompanyName);
                $('#Kvk').text(response.CompanyDta.KVK);
                $('#BTW').text(response.CompanyDta.BTW);
                $('#Bank').text(response.CompanyDta.BankName);
                $('#IBN').text(response.CompanyDta.CompanyName);
                $('#IBC').text(response.CompanyDta.BIC);
                $('#CompanyPhone').text(response.CompanyDta.CompanyName);
                $('#Cell').text(response.CompanyDta.CompanyCell);
                $('#CompanyEmail').text(response.CompanyDta.CompanyEmail);
                $('#website').text(response.CompanyDta.Website);
                $('#add').text(response.CompanyDta.CompanyAddress);
                $('#pcode').text(response.CompanyDta.CompanyPhone);
                $('#companyCity').text(response.CompanyDta.CompanyCity);
                $('#companyCountry').text(response.CompanyDta.CompanyCountry);
                $('#tbody').html(html);

                $("#logo1").empty();
                $("#logo1").prepend("<img alt='Images' title='Map Image' src='../images/" + response.CompanyDta.CompanyLogo + "'/>");

                $('#showpendindModelqutation').modal('show');
            },

            Error: function (error) {
                alert(error)
            },
        });

        // loadPendingTable(purchaseId);
        $('#showpendindModelqutation').modal('show');
    }

    // end of service and qutation

    function AcceptOrder(id) {

        $('#txtrefrencenumberq').val(id);
        $('#txttransactionIdq').val(Math.floor(Math.random() * 10));
        $('#TransactionModelq').modal('show');

    }


    function Reopen(id) {
        updateStatus(id, " open", " Open", "the qutation is  Open successfully");
    }

    function Rejected(id) {
        updateStatus(id, "rejected", "the Qutation is rejected successfully");
    }

    function PendingtOrderq(id) {
        $('#Pendingq').modal('show');
        $('#txtpurchaseIdQ').val(id);
    }


    function updateStatus(Id, Status, Message) {

        var Data = JSON.stringify({
            QutationId: Id,
            Status: Status,
        })
        $.ajax({
            url: '/QutationOrder/UpdateOrderStaus',
            type: 'POST',
            data: Data,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response.Status == "Success") {
                    $('#QutationOrderTable').DataTable().ajax.reload();

                    swal({
                        title: 'Status!',
                        text: Message,
                        type: 'success'
                    });
                }
                else if (response.Status == "Fail") {
                    swal({
                        title: 'Status!',
                        text: "fail to process",
                        type: 'danger'
                    });
                }
            },

            Error: function (error) {
                alert(error)
            },
        });
    }


    $('#drpstatus').change(function () {
        var status = $('#drpstatus option:selected').text();
        LoadQutationOrderTable(status);
    });


    $('#savePendindq').click(function () {
        AddPendingQutation();
    });


    function AddPendingQutation() {
        debugger;
        var ddddd = {
            Purchase_QuataionId: $("#txtpurchaseIdQ").val(),
            FromDate: $("#txtfromdateq").val(),
            ToDate: $('#txttodateq').val(),
            Description: $('#txtdescriptionq').val(),
            Status: "pending"
        };
        $.ajax({
            url: "/QutationOrder/AddPending",
            type: 'POST',
            data: ddddd,
            success: function (rsponse) {
                if (rsponse.Success = "Success") {
                    $('#QutationOrderTable').DataTable().ajax.reload();
                    $('#Pendingq').modal('hide');
                    swal({
                        title: 'Status!',
                        text: rsponse.Message,
                        type: 'success'
                    });
                }
                else if (rsponse.Success = "Fail") {
                    swal({
                        title: 'Status!',
                        text: rsponse.Message,
                        type: 'danger'
                    });
                }
            },
            error: function (error) {
                alert(error);
            }
        });
    }

    function ViewQutationDetail(QutationId) {

        $.ajax({
            url: '/MVCClient/AddOrEditQutation',
            type: 'GET',
            data: {
                Qutationid: QutationId
            },
            success: function (data) {

                GetQutationDetailByQutationId(QutationId)
            }
        });
    }

    function GetQutationDetailByQutationId(QutationId) {

        var Data = JSON.stringify({
            QutationId: QutationId,
        })
        $.ajax({
            url: '/QutationOrder/GetPendingQutationDetail',
            type: 'POST',
            data: Data,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                console.log(response);
                var html = '';
                $.each(response.QutationList, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.QutationID + '</td>';
                    html += '<td>' + item.ItemName + '</td>';
                    html += '<td>' + item.Quantity + '</td>';
                    html += '<td>' + item.Rate + '</td>';
                    html += '<td>' + item.Total + '</td>';
                    html += '<td>' + item.Vat + '</td>';
                    html += '</tr>';
                });
                $('#PurchaseTotoalAmountq').text(response.purchase.TotalAmount);
                $('#Vat21q').text(response.purchase.TotalVat21);
                $('#vat6q').text(response.purchase.TotalVat6);
                $('#PurchaseSubTotalq').text(response.purchase.SubTotal);
                $('#CompanyNameq').text(response.CompanyDta.CompanyName);
                $('#Kvkq').text(response.CompanyDta.KVK);
                $('#BTWq').text(response.CompanyDta.BTW);
                $('#Bankq').text(response.CompanyDta.BankName);
                $('#IBNq').text(response.CompanyDta.CompanyName);
                $('#IBCq').text(response.CompanyDta.BIC);
                $('#CompanyPhoneq').text(response.CompanyDta.CompanyName);
                $('#Cellq').text(response.CompanyDta.CompanyCell);
                $('#CompanyEmailq').text(response.CompanyDta.CompanyEmail);
                $('#websiteq').text(response.CompanyDta.Website);
                $('#addq').text(response.CompanyDta.CompanyAddress);
                $('#pcodeq').text(response.CompanyDta.CompanyPhone);
                $('#companyCityq').text(response.CompanyDta.CompanyCity);
                $('#companyCountryq').text(response.CompanyDta.CompanyCountry);

                $("#logo").empty();
                $("#logo").prepend("<img alt='Images' title='Map Image' src='../images/" + response.CompanyDta.CompanyLogo + "' style='width:72%; height:146px' />");
                $('#Qdetail').html(html);


                $('#showpendindModelq').modal('show');


            },

            Error: function (error) {
                alert(error)
            },
        });

        // loadPendingTable(purchaseId);
        $('#showpendindModel').modal('show');
    }








    $(document).ready(function () {
        loadPayemtDropdownq();
        loadPayemtTermDropdownq();
    });



    function loadPayemtDropdownq() {
        var drppayment = $('#drppaymentDebitq');
        var drpAccountCredit = $('#drpAccountCreditq');
        $.ajax({
            url: "/MvcAccounts/GetAccount",
            type: "POST",
            contentType: "appplication/json",
            success: function (response) {
                $.each(response, function (i, item) {
                    drppayment.append("<option value=" + item.AccountId + "> " + item.AccountTitle + " </option>")
                    drpAccountCredit.append("<option value=" + item.AccountId + "> " + item.AccountTitle + " </option>")
                });
            },
            error: function (Error) {
                alert(Error)
            },
        });
    }


    function loadPayemtTermDropdownq() {
        var drppaymentTerm = $('#drpAccountDebitq');
        var drppaymentTermCredit = $('#drpAccountCreditq');
        $.ajax({
            url: "/MvcPaymentTerm/GetPaymentTerm",
            type: "POST",
            contentType: "appplication/json",
            success: function (response) {
                $.each(response, function (i, item) {
                    drppaymentTerm.append("<option value=" + item.PaymentTermId + "> " + item.PaymentTerm + " </option>")
                    drppaymentTermCredit.append("<option value=" + item.PaymentTermId + "> " + item.PaymentTerm + " </option>")
                });
            },
            error: function (Error) {
                alert(Error)
            },
        });
    }



</script>
