@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}




<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $('#Type').change(function () {
        if ($(this).val() == "Good")
        {
            ChangeBorderColorProductModel();
            $('#GoodsDiveUnit').show(1000);
            $('#OpeningStockValue').show(1000);
            $('#VatValueDiv').removeClass();
            $('#VatValueDiv').addClass('col-sm-6');

        }
        else if ($(this).val() == "Services")
        {
            ChangeBorderColorProductModel();
            $('#GoodsDiveUnit').hide(1000);
            $('#OpeningStockValue').hide(1000);
            $('#VatValueDiv').removeClass();
            $('#VatValueDiv').addClass('col-sm-12');
        }
    });


    function LoadContacts() {

        $("#SelectContacts1").find("option").remove();

        $("#SelectContacts1").prepend("<option value=0>" + 'Select Client' + "</option>");
        $("#SelectContacts1").append("<option value=AddNewClientSelect>" + 'Add New Client' + "</option>");

        $.ajax({
            url: "/MVCClient/GetContacts",
            type: "Get",
            async: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {

                $.each(data, function (key, item) {

                    $('#SelectContacts1').append($('<option></option>').val(item.ContactsId).html(item.ContactName));

                });

            },
            Error: function (errormessage) {
                alert(errormessage);
            }

        });
    }

    function LoadVernder() {
        $("#venderSelect").find("option").remove();
        $("#venderSelect").prepend("<option value=0>" + 'Select Vender' + "</option>");
        $("#venderSelect").append("<option value=AddNewVenderSelect>" + 'Add New Vender' + "</option>");

        $.ajax({
            url: "/Purchase/GetVender",
            type: "Get",
            async: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, item) {
                    $('#venderSelect').append($('<option></option>').val(item.ContactsId).html(item.ContactName));

                });

            },
            Error: function (errormessage) {
                alert(errormessage);
            }

        });
    }

    $('#venderSelect').change(function () {
        showRequiredModel = "";
        showRequiredModel = "PurchaseContactModel";
        var value = $(this).val();
        if (value == "AddNewVenderSelect") {


            $('#VenderSelectModel').modal('hide');
            $('#ModelHeading').text("Maak nieuwe vender");
            $("#TypeContacts").find("option").remove();
            $("#TypeContacts").prepend("<option value=Vender>" + 'verkoper' + "</option>");
            $('#CreateNewContactModal1').modal('show');

        }

    });


    $('#VenderClientNext').click(function () {
        var serviceOrgoo = "";
        var value = $('#venderSelect').val();
        serviceOrgoo = $('#SelectTypeQutation1 option:selected').text();
        var TypeValue = $('#SelectTypeQutation1').val();
        if (value > 0) {
            if (TypeValue == 0)
            {
                $.toast({
                    heading: 'Information',
                    text: 'Please select Type to continue',
                    icon: 'info',
                    loader: true,        // Change it to false to disable loader
                    loaderBg: '#9EC600'  // To change the background
                })
            }
            else
            {
                $.ajax({
                    url: '/MVCClient/AddOrEdit',
                    type: 'GET',
                    data: {
                        id: value
                    },
                    success: function (data) {

                        if (serviceOrgoo == "Good") {
                            serviceOrgoo = "";

                            window.location.href = "/Purchase/AddOrEdit"
                        }
                        else if (serviceOrgoo == "Services") {
                            serviceOrgoo = "";

                            window.location.href = "/MvcInvoiceServices/AddOrEdit/0"
                        }

                    },
                    error: function () {
                        alert("error");
                    }
                });
            }
        }
        else {
            $.toast({
                heading: 'Information',
                text: 'Please select Vender to continue',
                icon: 'info',
                loader: true,        // Change it to false to disable loader
                loaderBg: '#9EC600'  // To change the background
            });
        }
    });


    $('#SelectProductQutation').change(function () {

        var value = $(this).val();
        if (value == "AddNewProductSelect") {
                       
            $('#CreateNewProductModal').modal('show');

        }

    });

    $('#TypeGoodsServices').change(function () {   
        GoodsService = "";
        GoodsService = $('#TypeGoodsServices').val();        
        ShowServiceGood(GoodsService);
        
  
    });

    function ShowServiceGood(goodservice) {
        GoodsServicess = "";
        GoodsServicess = goodservice;
        if (GoodsServicess == "Good") {
            LoadProductUnitGoods();
            $('#DivServiceBody').hide(1000);
            $('#DivGoodBody').show(1000);           
        }
        else {            
            $('#DivGoodBody').hide(1000);
            $('#DivServiceBody').show(1000);
        }
    }

   
    $('#QutationClientNext').click(function () {

        var qutationGoodOrService = $('#SelectTypeQutation').val();

        var value = $('#SelectContacts1').val();


        if (value > 0) {

            if (qutationGoodOrService == 0) {
                $.toast({
                    heading: 'Information',
                    text: 'Please select Type to continue',
                    icon: 'info',
                    loader: true,        // Change it to false to disable loader
                    loaderBg: '#9EC600'  // To change the background
                });
            }
            else {
                $.ajax({
                    url: '/MVCClient/AddOrEdit',
                    type: 'GET',
                    data: {
                        id: value
                    },
                    success: function (data) {

                        if (qutationGoodOrService == "1") {
                            window.location.href = "/MVCQutation/AddOrEdit"
                        }
                        else if (qutationGoodOrService == "2") {
                            window.location.href = "/QutationService/AddOrEdit/0"
                        }
                    },
                    error: function () {
                        alert("error");
                    }
                });
            }
        }
        else {
            $.toast({
                heading: 'Information',
                text: 'Please select client to continue',
                icon: 'info',
                loader: true,        // Change it to false to disable loader
                loaderBg: '#9EC600'  // To change the background
            });
        }
    });

    $('#SaveNewContacts').click(function () {

        $('#SaveNewContacts').attr('disabled', 'disabled');
        var res = validateContactQutation();
        if (res == false) {
            return false;
        }
        else {

            $.ajax({
                url: '/MVCClient/AddOrEdit',
                type: 'POST',
                data: {
                    ContactName: $('#ContactName').val(),
                    ContactAddress: $('#ContactAddress').val(),
                    Type: $('#TypeContacts option:selected').val(),
                    StreetNumber: $('#StreetNumber').val(),
                    PostalCode: $('#PostalCode').val(),
                    City: $('#City').val(),
                    LandLine: $('#LandLine').val(),
                    telephone: $('#telephone').val(),
                    Mobile: $('#Mobile').val(),
                    Website: $('#Website').val(),
                    BillingEmail: $('#BillingEmail').val(),
                    Remarks: $('#Remarks').val(),
                    Status: $('#Status option:selected').text(),
                    
                },
                success: function (response) {
                   
                    if (response == '201') {

                        if (showRequiredModel == "QutationContactModel") {
                            $('#QutationContactModel').modal('show');
                            $('#CreateNewContactModal1').modal('hide');
                        }
                        else if (showRequiredModel == "PurchaseContatcModel") {
                            $('#VenderSelectModel').modal('show');
                            $('#CreateNewContactModal1').modal('hide');
                        }
                        else
                        {
                            $('#CreateNewContactModal1').modal('hide');
                        }

                        clearContectTextBox1();
                        SuccessInsertConatct1();
                        LoadContactsQuIndex();
                        LoadVernder();
                    }
                    else {
                        alert(response);
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        }
        $('#SaveNewContacts').attr('disabled', false);
    });

    function clearContectTextBox1() {
        $('#ContactsId').val("");
        $('#ContactName').val("");
        $('#ContactAddress').val("");
        $('#Type').val("");
        $('#StreetNumber').val("");
        $('#PostalCode').val("");
        $('#City').val("");

        $('#LandLine').val("");
        $('#telephone').val("");
        $('#Mobile').val("");
        $('#Website').val("");
        $('#BillingEmail').val("");
        $('#BillingEmail').val("");

        $('#UpdateContacts').hide();
        $('#SaveNewContacts').show();
        //$('#Name').css('border-color', 'lightgrey');
        //$('#Age').css('border-color', 'lightgrey');
        //$('#State').css('border-color', 'lightgrey');
        //$('#Country').css('border-color', 'lightgrey');
    }

    function SuccessInsertConatct1() {
        $.toast({
            text: 'Opration Successfully completed',
            icon: 'info',
            loader: true,        // Change it to false to disable loader
            loaderBg: '#9EC600'  // To change the background
        })
    }

    function validateContactQutation() {
        var isValid = true;
        if ($('#ContactName').val().trim() == "") {
            $('#ContactName').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#ContactName').css('border-color', 'lightgrey');
        }
        if ($('#ContactAddress').val().trim() == "") {
            $('#ContactAddress').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#ContactAddress').css('border-color', 'lightgrey');
        }

        return isValid;
    }

    $(document).ready(function () {
        $("input[type='radio']").click(function () {
            var radioValue = $("input[name='ClientType']:checked").val();
            if (radioValue == "Private") {
                $('#rowiddd').hide(1000);
                $('#rowiddd2').show(1000);

            }
            else {
                $('#rowiddd2').hide(1000);
                $('#rowiddd').show(1000);


            }
        });

        $('#rowiddd2').hide();

    });

    $('#CancelContactsQt').click(function () {
        if (showRequiredModel == "QutationContactModel") {
            $('#CreateNewContactModal1').modal('hide');
            $('#QutationContactModel').modal('show');

        }
        else if(showRequiredModel == "PurchaseContactModel") {
            $('#CreateNewContactModal1').modal('hide');
            $('#VenderSelectModel').modal('show');
        }
        else if(showRequiredModel == "ContactModel")
        {
            $('#CreateNewContactModal1').modal('hide');
        }
    });

    $('#SelectContacts1').change(function () {
        showRequiredModel = "";
        showRequiredModel = "QutationContactModel";
        var value = $(this).val();
        if (value == "AddNewClientSelect") {

            $('#QutationContactModel').modal('hide');

            $('#ModelHeading').text("Maak nieuwe klant");
            $("#TypeContacts").find("option").remove();
            $("#TypeContacts").prepend("<option value=Customer>" + 'Klant' + "</option>");
            $('#CreateNewContactModal1')


            .modal('show');

        }

    });

    function LoadContactsQuIndex() {

        $("#SelectContacts1").find("option").remove();

        $("#SelectContacts1").prepend("<option value=0>" + 'Select Client' + "</option>");
        $("#SelectContacts1").append("<option value=AddNewClientSelect>" + 'Add New Client' + "</option>");

        $.ajax({
            url: "/MVCClient/GetContacts",
            type: "Get",
            async: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {

                $.each(data, function (key, item) {

                    $('#SelectContacts1').append($('<option></option>').val(item.ContactsId).html(item.ContactName));

                });

            },
            Error: function (errormessage) {
                alert(errormessage);
            }

        });
    }

    $('#CancelProductUnit').click(function () {
        CleartUnitTextBox();
        ShowServiceGood(GoodsService);
        $('#UnitModel').modal('hide');
        $('#CreateNewProductModalGoods').modal('show');
       
    });

    $('#SaveNewProductUnit').click(function () {
        $.ajax({
            url: "/MVCProductUnit/CheckUnitStatus",
            type: "POST",
            data: { name: $('#ProductUnit').val() },
            success: function (Resultdat) {
                if (Resultdat == "Found") {
                    $.toast({
                        heading: 'Already exist',
                        text: 'Unit already exist with nam ' + $('#ProductUnit').val() + ' choose another `Name`',
                        icon: 'info',
                        loader: true,        // Change it to false to disable loader
                        loaderBg: '#FF0000'  // To change the background
                    });
                }
                else {
                    var dataUnit = {
                        ProductUnit: $('#ProductUnit').val(),
                        Status: "true"
                    }
                    $.ajax({                        
                        url: "/MVCProductUnit/AddorEdit",
                        type: "POST",
                        data: dataUnit,
                        success: function (dat) {
                            CleartUnitTextBox();
                            $('#UnitModel').modal('hide');                            
                            LoadProductUnit();
                            if (GoodsService == "Good") {
                                ShowServiceGood(GoodsService);                               
                                $('#CreateNewProductModalGoods').modal('show');
                            }
                            $.toast({
                                heading: 'Success',
                                text: 'Your opration has been successfuly completed `Thank you`',
                                icon: 'info',
                                loader: true,        // Change it to false to disable loader
                                loaderBg: '#9EC600'  // To change the background
                            });
                        },
                        Error: function (err) {
                            alert("erro");
                        }
                    });
                }
            },
            Error: function (err) {
                alert("erro");
            }
        });
    });

    function CleartUnitTextBox()
    {
        $('#ProductUnit').val('');
        $('#productubitId').val('');

    }

    //old product unit Load Code
    function LoadProductUnit() {
        $("#ProductUnitSelect").find("option").remove();
        $("#ProductUnitSelect").prepend("<option value=0>" + 'Select Unit' + "</option>");
        $("#ProductUnitSelect").append("<option value=AddNewPUnitSelect>" + 'Add New Unit' + "</option>");
        $.ajax({
            url: "/MVCProductUnit/GetProductUnit",
            type: "Get",
            async: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, item) {
                    $('#ProductUnitSelect').append($('<option></option>').val(item.ProductUnitID).html(item.ProductUnit));
                });

            },
            Error: function (errormessage) {
                alert(errormessage);
            }

        });
    }

    //New product unit Load Code
    function LoadProductUnitGoods() {
        $("#ProductUnitSelectGoods").find("option").remove();
        $("#ProductUnitSelectGoods").prepend("<option value=0>" + 'Select Unit' + "</option>");
        $("#ProductUnitSelectGoods").append("<option value=AddNewPUnitSelect>" + 'Add New Unit' + "</option>");
        $.ajax({
            url: "/MVCProductUnit/GetProductUnit",
            type: "Get",
            async: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, item) {
                    $('#ProductUnitSelectGoods').append($('<option></option>').val(item.ProductUnitID).html(item.ProductUnit));
                });

            },
            Error: function (errormessage) {
                alert(errormessage);
            }

        });
    }

    function CleartProdctTextBox() {
        $('#ProductName').val("");
        $('#Description').val("");
        $('#SalePrice').val("");
        $('#PurchasePrice').val("");
        $('#OpeningQuantity').val("");
        $('#ProductUnitSelect').val("0");
        $('#VatValue').val("Select");
    }


    function CleartProdctTextBoxGoods() {
        $('#ProductNameGoods').val("");
        $('#DescriptionGoods').val("");
        $('#SalePriceGoods').val("");
        $('#PurchasePriceGoods').val("");
        $('#OpeningQuantityGoods').val("");
        $('#ProductUnitSelectGoods').val("0");
       
    }
    //old Code Insert product
    $('#SaveNewProduct').click(function () {

        var validdatep;

        if ($('#Type').val() == 0) {
            validdatep = false;
            $.toast({
                heading: 'Select type',
                text: 'Please select type `Goods/Services`',
                icon: 'info',
                loader: true,        // Change it to false to disable loader
                loaderBg: '#FF0000'  // To change the background
            });
            return;
        }
        else if ($('#Type').val() == "Good") {
            validdatep = validateProduct();

        }
        else if ($('#Type').val() == "Services")
        {
            validdatep = validateProductService();

        }
        if (validdatep == true) {
            $.ajax({
                url: "/MVCProduct/GetProductByName",
                type: "POST",
                data: {
                    ProductName: $('#ProductName').val(),
                    ProductStatus: "All"
                },
                success: function (Resultdat) {
                    if (Resultdat == "Found") {
                        $.toast({
                            heading: 'Already exist',
                            text: 'Product already exist with nam ' + $('#ProductName').val() + ' choose another `Name`',
                            icon: 'info',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#FF0000'  // To change the background
                        });
                    }
                    else {
                        $.ajax({
                            url: '/MVCProduct/AddOrEdit',
                            type: 'POST',
                            data: {
                                ProductName: $('#ProductName').val(),
                                Description: $('#Description').val(),
                                SalePrice: $('#SalePrice').val(),
                                PurchasePrice: $('#PurchasePrice').val(),
                                Type: $('#Type').val(),
                                OpeningQuantity: $('#OpeningQuantity').val(),
                                ProductUnit: $('#ProductUnitSelect').val(),
                                OpeningStockValue: $('#OpeningStockValue').val(),
                                VatValue: $('#VatValue').val()
                            },
                            success: function (data) {
                                if (data == "Created") {
                                    $('#productTable').DataTable().ajax.reload();
                                    CleartProdctTextBox();
                                    $('#CreateNewProductModal').modal('hide');
                                    SuccessInsertProduct();
                                    LoadProductSelect("Good");
                                    LoadProductAdding1("Services");
                                    LoadProduct("Good");
                                    LoadProductSelect();
                                }
                            },
                            error: function () {
                                alert("error");
                            }
                        });
                    }
                }
            });
        }
    });

    function validateProductGoods() {
        var isValid = true;

        if ($('#ProductNameGoods').val().trim() == "") {
            $('#ProductNameGoods').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#ProductNameGoods').css('border-color', 'lightgrey');
        }
        if ($('#SalePriceGoods').val().trim() == "") {
            $('#SalePriceGoods').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#SalePriceGoods').css('border-color', 'lightgrey');
        }
        if ($('#PurchasePriceGoods').val().trim() == "") {
            $('#PurchasePriceGoods').css('border-color', 'Red');
            $('#PurchasePriceGoods').focus();
            isValid = false;
        }
        else {
            $('#PurchasePriceGoods').css('border-color', 'lightgrey');
        }
        if ($('#OpeningQuantityGoods').val() == "") {
            $('#OpeningQuantityGoods').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#OpeningQuantity').css('border-color', 'lightgrey');
        }
        if (($('#SalePriceGoods').val().trim() != "" && $('#PurchasePriceGoods').val().trim() != "")) {
            if (parseFloat($('#SalePriceGoods').val()) < parseFloat($('#PurchasePriceGoods').val())) {
                $('#SalePriceGoods').css('border-color', 'Red');
                $('#PurchasePriceGoods').css('border-color', 'Red');
                isValid == false;
                $.toast({
                    heading: 'Sale amount less',
                    text: 'Sale Amount must be greater from Purchase amount `Amount`',
                    icon: 'info',
                    loader: true,        // Change it to false to disable loader
                    loaderBg: '#FF0000'  // To change the background
                });
            }
            else {
                $('#PurchasePriceGoods').css('border-color', 'lightgrey');
                $('#SalePriceGoods').css('border-color', 'lightgrey');
            }
        }
        //if ($('#ProductUnitSelect').val() == 0) {
        //    $('#ProductUnitSelect').css('border-color', 'Red');
        //    isValid = false;
        //}
        //else {
        //    $('#ProductUnitSelect').css('border-color', 'lightgrey');
        //}


        if ($('#ProductUnitSelectGoods').val() == 0) {
            $('#ProductUnitSelectGoods').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#ProductUnitSelectGoods').css('border-color', 'lightgrey');
        }

        return isValid;
    }

    //New Code Insert Product

    $('#SaveNewProductGoods').click(function () {

        var IsValid;
        if(GoodsServicess == "Good")
        {            
            IsValid = validateProductGoods();

            if (IsValid == true)
            {
                var pValid = checkProductByName($('#ProductNameGoods').val());
                if (pValid == true)
                {
                    
                    var dss = {
                        ProductName: $('#ProductNameGoods').val(),
                        Description: $('#DescriptionGoods').val(),
                        SalePrice: $('#SalePriceGoods').val(),
                        PurchasePrice: $('#PurchasePriceGoods').val(),
                        Type: GoodsServicess,
                        OpeningQuantity: $('#OpeningQuantityGoods').val(),
                        ProductUnit: $('#ProductUnitSelectGoods').val(),
                    }

                    $.ajax({
                        url: "/MVCProduct/AddOrEdit",
                        type: "POST",
                        asyn: false,
                        data: dss,
                        success: function (data) {
                            if (data == "Created") {
                                $('#productTable').DataTable().ajax.reload();
                                CleartProdctTextBoxGoods();
                                $('#CreateNewProductModalGoods').modal('hide');
                                SuccessInsertProduct();

                            }
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                }
            }               
       
            else
            {
           
                IsValid = validateProductServices();
            }

           
        }
        else if(GoodsServicess = "Services")
        {
            IsValid = validateProductServices();
            if(IsValid == true)
            {
                var pValid = checkProductByName($('#ProductNameService').val());
                if(pValid == true)
                {
                    var dss = {
                        ProductName: $('#ProductNameService').val(),
                        Description: $('#DescriptionService').val(),
                        SalePrice: $('#SalePriceService').val(),
                        PurchasePrice: $('#PurchasePriceService').val(),
                        Type: GoodsServicess,                        
                    }
                    $.ajax({
                        url: "/MVCProduct/AddOrEdit",
                        type: "POST",
                        asyn: false,
                        data: dss,
                        success: function (data) {
                            if (data == "Created") {
                                $('#productTable').DataTable().ajax.reload();
                                ClearTextBoxesServices();
                                $('#CreateNewProductModalGoods').modal('hide');
                                SuccessInsertProduct();
                            }
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                }
            }
        }
    });


    function ClearTextBoxesServices()
    {
        $('#ProductNameService').val('');
        $('#DescriptionService').val('');
        $('#SalePriceService').val('');
        $('#PurchasePriceService').val('');
    }

    function SuccessInsertProduct() {
        swal({
            title: "Success",
            text: "Your data has been saved successfully",
            type: "success",
        });
    }


    function checkProductByName(PName) {
     
        var Result = true;
        $.ajax({
            url: "/MVCProduct/GetProductByName",
            type: "POST",
            asyn: false,
            data: {
                ProductName: PName,
                ProductStatus: "All"
            },
            success: function (Resultdat) {
                
                if (Resultdat == "Found") {
                    $.toast({
                        heading: 'Already exist',
                        text: 'Product already exist with nam ' + $('#ProductName').val() + ' choose another `Name`',
                        icon: 'info',
                        loader: true,        // Change it to false to disable loader
                        loaderBg: '#FF0000'  // To change the background
                    });
                    Result = false;                   
                  
                    
                }
                else {
                   
                    Result = true;
                }
            }

        });
        return Result;
    }



        function validateProduct() {
            var isValid = true;

            if ($('#ProductName').val().trim() == "") {
                $('#ProductName').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#ProductName').css('border-color', 'lightgrey');
            }
            if ($('#SalePrice').val().trim() == "") {
                $('#SalePrice').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#SalePrice').css('border-color', 'lightgrey');
            }
            if ($('#PurchasePrice').val().trim() == "") {
                $('#PurchasePrice').css('border-color', 'Red');
                $('#PurchasePrice').focus();
                isValid = false;
            }
            else {
                $('#PurchasePrice').css('border-color', 'lightgrey');
            }
            if ($('#OpeningQuantity').val() == "") {
                $('#OpeningQuantity').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#OpeningQuantity').css('border-color', 'lightgrey');
            }
            if (($('#SalePrice').val().trim() != "" && $('#PurchasePrice').val().trim() != "")) {
                if (parseFloat($('#SalePrice').val()) < parseFloat($('#PurchasePrice').val())) {
                    $('#SalePrice').css('border-color', 'Red');
                    $('#PurchasePrice').css('border-color', 'Red');
                    isValid == false;
                    $.toast({
                        heading: 'Sale amount less',
                        text: 'Sale Amount must be greater from Purchase amount `Amount`',
                        icon: 'info',
                        loader: true,        // Change it to false to disable loader
                        loaderBg: '#FF0000'  // To change the background
                    });
                }
                else {
                    $('#PurchasePrice').css('border-color', 'lightgrey');
                    $('#SalePrice').css('border-color', 'lightgrey');
                }
            }
            //if ($('#ProductUnitSelect').val() == 0) {
            //    $('#ProductUnitSelect').css('border-color', 'Red');
            //    isValid = false;
            //}
            //else {
            //    $('#ProductUnitSelect').css('border-color', 'lightgrey');
            //}

            if ($('#VatValue').val() == "Select") {
                $('#VatValue').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#VatValue').css('border-color', 'lightgrey');
            }

            if ($('#ProductUnitSelect').val() == 0) {
                $('#ProductUnitSelect').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#ProductUnitSelect').css('border-color', 'lightgrey');
            }

            return isValid;
        }


       

        function ChangeBorderColorProductModel() {
            $('#ProductName').css('border-color', 'lightgrey');
            $('#SalePrice').css('border-color', 'lightgrey');
            $('#PurchasePrice').css('border-color', 'lightgrey');
            $('#OpeningQuantity').css('border-color', 'lightgrey');
            $('#PurchasePrice').css('border-color', 'lightgrey');
            $('#SalePrice').css('border-color', 'lightgrey');
            $('#VatValue').css('border-color', 'lightgrey');
            $('#ProductUnitSelect').css('border-color', 'lightgrey');
        }

        //OLD 
        function validateProductService() {

            if ($('#ProductName').val().trim() == "") {
                $('#ProductName').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#ProductName').css('border-color', 'lightgrey');
            }

            if ($('#SalePrice').val().trim() == "") {
                $('#SalePrice').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#SalePrice').css('border-color', 'lightgrey');
            }
            if ($('#PurchasePrice').val().trim() == "") {
                $('#PurchasePrice').css('border-color', 'Red');
                $('#PurchasePrice').focus();
                isValid = false;
            }
            else {
                $('#PurchasePrice').css('border-color', 'lightgrey');
            }

            if (($('#SalePrice').val().trim() != "" && $('#PurchasePrice').val().trim() != "")) {
                if (parseFloat($('#SalePrice').val()) < parseFloat($('#PurchasePrice').val())) {
                    $('#SalePrice').css('border-color', 'Red');
                    $('#PurchasePrice').css('border-color', 'Red');
                    isValid == false;
                    $.toast({
                        heading: 'Sale amount less',
                        text: 'Sale Amount must be greater from Purchase amount `Amount`',
                        icon: 'info',
                        loader: true,        // Change it to false to disable loader
                        loaderBg: '#FF0000'  // To change the background
                    });
                }
                else {
                    $('#PurchasePrice').css('border-color', 'lightgrey');
                    $('#SalePrice').css('border-color', 'lightgrey');
                }
            }
            //if ($('#ProductUnitSelect').val() == 0) {
            //    $('#ProductUnitSelect').css('border-color', 'Red');
            //    isValid = false;
            //}
            //else {
            //    $('#ProductUnitSelect').css('border-color', 'lightgrey');
            //}

            if ($('#VatValue').val() == "Select") {
                $('#VatValue').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#VatValue').css('border-color', 'lightgrey');
            }
            return isValid;
        }

        //New
        function validateProductServices() {

            var isValid = true;
            if ($('#ProductNameService').val().trim() == "") {
                $('#ProductNameService').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#ProductNameService').css('border-color', 'lightgrey');
            }

            if ($('#SalePriceService').val().trim() == "") {
                $('#SalePriceService').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#SalePriceService').css('border-color', 'lightgrey');
            }
            if ($('#PurchasePriceService').val().trim() == "") {
                $('#PurchasePriceService').css('border-color', 'Red');
                $('#PurchasePriceService').focus();
                isValid = false;
            }
            else {
                $('#PurchasePriceService').css('border-color', 'lightgrey');
            }

            if (($('#SalePriceService').val().trim() != "" && $('#PurchasePriceService').val().trim() != "")) {
                if (parseFloat($('#SalePriceService').val()) < parseFloat($('#PurchasePriceService').val())) {
                    $('#SalePriceService').css('border-color', 'Red');
                    $('#PurchasePriceService').css('border-color', 'Red');
                    isValid == false;
                    $.toast({
                        heading: 'Sale amount less',
                        text: 'Sale Amount must be greater from Purchase amount `Amount`',
                        icon: 'info',
                        loader: true,        // Change it to false to disable loader
                        loaderBg: '#FF0000'  // To change the background
                    });
                }
                else {
                    $('#PurchasePriceService').css('border-color', 'lightgrey');
                    $('#SalePriceService').css('border-color', 'lightgrey');
                }
            }

            return isValid;
        }
  

        $('#ProductUnitSelectGoods').change(function () {

        var value = $(this).val();
        if (value == "AddNewPUnitSelect") {
            $('#CreateNewProductModalGoods').modal('hide');

            $('#SaveUnit').show();
            $('#updateUnit').hide();

            $('#UnitModel').modal('show');
        }
    });
</script>