<!DOCTYPE html>
<html>

<body>


    
    <div style="text-align:left;">
        <div class="row">
            Wilt u zo vriendelijk zijn om het verschuldigde bedrag binnen 14 dagen over te maken naar IBAN:
            NL07ABNA0812436350 ten name van IT Molen o.v.v. bovenstaande factuurnummer.
            (Op al onze diensten en producten zijn onze algemene voorwaarden van toepassing. Deze kunt u downloaden van onze website.)
        </div>

    </div>
    <div class="row" style="background-color:skyblue;">
        <h2 style="visibility:hidden">frefg</h2>
    </div>

</body>
</html>