
<div class="row">
    <div class="col-sm-3">
        <button type="button" id="btn-QutationNew" class="btn btn-info "><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Qutation</button> 
        <button type="button" id="btn-InvoiceNew" class="btn btn-primary "><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Invoice</button>

    </div>
    
    <div class="col-sm-9">    
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="QutationContactModel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Maak een nieuwe offerte</h4>                
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Selecteer een klant</h4>
                    </div>
                    <div class="col-sm-9">
                        <select id="SelectContacts1" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="QutationClientNext" class="btn btn-info d-none d-lg-block m-l-15">Volgende stap <i class="fa fa-angle-double-right"></i></button> 
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Dichtbij</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>




<div class="modal fade bs-example-modal-lg" id="AddNewContactModel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Maak een nieuwe offerte</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h4>klantnaam:</h4>
                    </div>
                    <div class="col-sm-9">                      
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="ContactName" placeholder="klantnaam">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <h4>Address:</h4>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="ContactAddress" placeholder="Adres">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="SaveClinetQutation" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-save" style="padding-right: 10px"></i>Opslaan</button>
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Dichtbij</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



@*vender model*@

<div class="modal fade bs-example-modal-lg" id="AddNewVenderModel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Maak nieuwe factuur</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Naam van de verkoper:</h4>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="VenderName" placeholder="Naam van de verkoper">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <h4>Adres:</h4>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="VenderAddress" placeholder="Adres">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="SaveVender" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-save" style="padding-right: 10px"></i>opslaan</button>
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Dichtbij</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


@* selection model*@

<div class="modal fade bs-example-modal-lg" id="VenderSelectModel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Maak nieuwe factuur</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Selecteer een Vender</h4>
                    </div>
                    <div class="col-sm-9">
                        <select id="venderSelect" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="VenderClientNext" class="btn btn-info d-none d-lg-block m-l-15">Volgende stap <i class="fa fa-angle-double-right" style="padding-left: 10px"></i></button>
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal"><i class="fa fa-window-close" style="padding-right: 10px"></i>Dichtbij</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>