<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>



<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="social-widget">
                        <div class="soc-header box-facebook">Sales</div>
                        <div class="soc-content">
                            <div class="col-6 b-r">
                                @*<button type="button" id="btn-QutationNew" class="btn btn-info "><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Qutation</button>*@
                                <a href="#" id="btn-QutationNew"><i class="fa fa-plus-circle" style="margin-right:5px"></i>New Qutation</a>
                               
                                 <br />
                                <br />
                                <a href="/QutationOrder/QutationOrderList"><i class="fa fa-plus-circle" style="margin-right:5px"></i>Qutation Status</a>

                            
                             </div>
                            <div class="col-6">
                                <a href="/MVCQutation/ServiceInvoice"><span><i class="fa fa-plus-circle" style="margin-right:5px"></i>Invoice Service</span></a>
                                <br />
                                <br />
                                <a href="/MVCQutation/GoodsInvoice"><span><i class="fa fa-plus-circle" style="margin-right:5px"></i>Invoice Goods</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="social-widget">
                        <div class="soc-header box-twitter">Purchase</div>
                        <div class="soc-content">
                            <div class="col-6 b-r">
                                @*<button type="button" id="btn-QutationNew" class="btn btn-info "><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Qutation</button>*@
                                <a href="#" id="btn-NewPurchase"><i class="fa fa-plus-circle" style="margin-right:5px"></i>New Purchase</a>
                                <br />
                                <br />
                                <a href="/Order/PurchaseOrderList"><span><i class="fa fa-plus-circle" style="margin-right:5px"></i>Purchase Status</span></a>

                            
                             </div>
                            <div class="col-6">
                                <a href="/Purchase/InvoiceSerVice"><span><i class="fa fa-plus-circle" style="margin-right:5px"></i>Bill Service</span></a>
                                <br />
                                <br />
                                <a href="/Purchase/InvoiceGoods"><span><i class="fa fa-plus-circle" style="margin-right:7px"></i>Bill Goods</span></a>
                         
                               </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="social-widget">
                        <div class="soc-header box-google">Expense</div>
                        <div class="soc-content">
                            <div class="col-6 b-r">
                                @*<button type="button" id="btn-QutationNew" class="btn btn-info "><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Qutation</button>*@
                                @*<a href="#" ><i class="fa fa-plus-circle"></i>New Purchase</a>*@
                          
                              </div>
                            <div class="col-6">
                                @*<a href="/Purchase/InvoiceSerVice"><span><i class="fa fa-plus-circle"></i>Bill Service</span></a>
                                <br />
                                <br />
                                <a href="/Purchase/InvoiceGoods"><span><i class="fa fa-plus-circle"></i>Bill Goods</span></a>*@
                         
                               </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*load view Here*@

@* selection model*@

<script>
    $(document).ready(function () {
        $('#btn-QutationNew').click(function () {

            LoadContacts();
            $('#QutationContactModel').modal('show');
        });

            $('#btn-InvoiceNew').click(function () {
                //LoadVernder();
                //$('#VenderSelectModel').modal('show');

                window.location.href = '/MVCQutation/ServiceInvoice'
            });

            $('#btn-NewPurchase').click(function () {

                showRequiredModel = "";
                showRequiredModel = "PurchaseContatcModel";
                LoadVernder();
                $('#VenderSelectModel').modal('show');                
            });

            $('#thiss').click(function () {
                LoadVernder();
                $('#VenderSelectModel').modal('show');
            });

    });
   
</script>
