<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="row">
    <div class="col-sm-6">
        <button type="button" id="btn-QutationNew" class="btn btn-info "><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Qutation</button> 
        <button type="button" id="btn-InvoiceNew" class="btn btn-primary "><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Invoice</button>
        <button type="button" id="btn-NewPurchase" class="btn btn-primary "><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Purchase</button>
      
    </div>
    
    <div class="col-sm-6">    
    </div>
</div>






@*load view Here*@

@* selection model*@

<script>
    $(document).ready(function () {
        $('#btn-QutationNew').click(function () {

            LoadContacts();
            $('#QutationContactModel').modal('show');
        });

            $('#btn-InvoiceNew').click(function () {
                //LoadVernder();
                //$('#VenderSelectModel').modal('show');

                window.location.href = '/MVCQutation/ServiceInvoice'
            });

            $('#btn-NewPurchase').click(function () {
                LoadVernder();
                $('#VenderSelectModel').modal('show');

                
            });

    });
   
</script>
