
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="social-widget">
                        <div class="soc-header box-facebook">Sales</div>
                        <div class="soc-content">
                            <div class="col-6 b-r">
                                @*<button type="button" id="btn-QutationNew" class="btn btn-info "><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Qutation</button>*@
                                <a href="#" id="btn-QutationNew"><i class="fa fa-plus-circle" style="margin-right:5px"></i>New Qutation</a>                              
                                
                             </div>
                            <div class="col-6">
                                <a href="#" id="btn-NewInvoice"><span><i class="fa fa-plus-circle" style="margin-right:5px"></i>New Invoice</span></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="social-widget">
                        <div class="soc-header box-twitter">Purchase</div>
                        <div class="soc-content">
                            <div class="col-6 b-r">
                                @*<button type="button" id="btn-QutationNew" class="btn btn-info "><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Qutation</button>*@
                                <a href="#" id="btn-NewPurchase"><i class="fa fa-plus-circle" style="margin-right:5px"></i>New Purchase</a>                            
                             </div>
                            <div class="col-6">
                                <a href="#" id="btn-NewBill"><span><i class="fa fa-plus-circle" style="margin-right:5px"></i>New Bill</span></a>
                               </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="social-widget">
                        <div class="soc-header box-google">Expense</div>
                        <div class="soc-content">
                            <div class="col-6 b-r">
                                @*<button type="button" id="btn-QutationNew" class="btn btn-info "><i class="fa fa-plus-circle" style="padding-right:10px"></i>New Qutation</button>*@
                                @*<a href="#" ><i class="fa fa-plus-circle"></i>New Purchase</a>*@
                          
                              </div>
                            <div class="col-6">
                                @*<a href="/Purchase/InvoiceSerVice"><span><i class="fa fa-plus-circle"></i>Bill Service</span></a>
                                <br />
                                <br />
                                <a href="/Purchase/InvoiceGoods"><span><i class="fa fa-plus-circle"></i>Bill Goods</span></a>*@
                         
                               </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*load view Here*@

@* selection model*@

<script>
    $(document).ready(function () {
        $('#btn-QutationNew').click(function () {

            LoadContacts();
            $('#quotation').show();
            $('#Invoice').hide();
            $('#QutationContactModel').modal('show');

        });

            $('#btn-InvoiceNew').click(function () {
                //LoadVernder();
                //$('#VenderSelectModel').modal('show');

                window.location.href = '/MVCQutation/ServiceInvoice';
            });

            $('#btn-NewPurchase').click(function () {

                showRequiredModel = "";
                showRequiredModel = "PurchaseContatcModel";
                LoadVernder();
                $('#Purchase').show();
                $('#Bill').hide();
                $('#VenderSelectModel').modal('show');                
            });

            $('#thiss').click(function () {
                LoadVernder();
                $('#VenderSelectModel').modal('show');
            });

            $('#btn-NewInvoice').click(function () { 
           
                LoadContacts();
                $('#quotation').hide();
                $('#Invoice').show();
                $('#QutationContactModel').modal('show');
            });

            $('#btn-NewBill').click(function () {

                showRequiredModel = "";
                showRequiredModel = "PurchaseContatcModel";
                LoadVernder();
                $('#Purchase').hide();
                $('#Bill').show();
                $('#VenderSelectModel').modal('show');
           
        });
    });


   
   
</script>
