
<div class="row">
    <div class="col-sm-1">
        <button type="button" id="btn-QutationNew" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i>New Qutation</button> 
        
    </div>
    <div class="col-sm-1">
        <button type="button" id="btn-InvoiceNew" class="btn btn-primary d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i>New Invoice</button>

    </div>
    <div class="col-sm-10">    
    </div>
</div>



<div class="modal fade bs-example-modal-lg" id="QutationContactModel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Create new quotation</h4>                
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Select a client</h4>
                    </div>
                    <div class="col-sm-9">
                        <select id="SelectContacts1" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="QutationClientNext" class="btn btn-info d-none d-lg-block m-l-15">Next step <i class="fa fa-angle-double-right"></i></button> 
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade bs-example-modal-lg" id="AddNewContactModel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Create new quotation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Client Name:</h4>
                    </div>
                    <div class="col-sm-9">                      
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="ContactName" placeholder="Client Name">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <h4>Address:</h4>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required id="ContactAddress" placeholder="Addess">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="SaveClinetQutation" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-save"></i>Save client</button>
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

