
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body">
    <div class="row">
        <div class="col-2 b-r">
            two
        </div>
        <div class="col-8 b-r" style="border:1px solid Silver">
            <div class="container">

                <div class="row" style="margin-top:35px">
                    <div class="col-12 b-r HeadText" >
                        <label>Qutation</label>
                    </div>
                </div>
              <hr />
                <div class="row" >                 
                    <div class="col-7 b-r">
                       <img class="mydiv" src="~/images/logon1.png183807568.png"/>
                        <div class="row clientInfo" style="margin-top:30px">                           
                            <div class="col-12 b-r">Client Name</div>
                        </div>
                        <div class="row">
                            <div class="col-12 b-r">Client Address</div>
                        </div>
                      

                            <div class="row" style="margin-top:20px">
                                <div class="col-4 b-r">
                                    Qutation Date:
                                </div>
                                <div class="col-8 b-r">
                                    12/4/2018
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 b-r">
                                    Qutation Date:
                                </div>
                                <div class="col-8 b-r">
                                    12/4/2018
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 b-r">
                                    Qutation Date:
                                </div>
                                <div class="col-8 b-r">
                                    12/4/2018
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 b-r">
                                    Qutation Date:
                                </div>
                                <div class="col-8 b-r">
                                    12/4/2018
                                </div>
                            </div>
                        </div>
                   
                    <div class="col-5 b-r">
                        <div class="row">
                            <div class="col-3 b-r"></div>
                            <div class="col-7 b-r CmpColor" >IT MOLEN HOLLAND New One</div>
                            <div class="col-2 b-r"></div>
                        </div>
                        <div class="row">
                            <div class="col-5 b-r text-right">one side kk:</div>
                            <div class="col-7 b-r">second side kk sdfsadsada a</div>
                        </div>
                        <div class="row">
                            <div class="col-5 b-r text-right">one side kk:</div>
                            <div class="col-7 b-r">second side kk sdfsadsada a</div>
                        </div>
                        <div class="row">
                            <div class="col-5 b-r text-right">one side kk:</div>
                            <div class="col-7 b-r">second side kk sdfsadsada a</div>
                        </div>
                        <div class="row">
                            <div class="col-5 b-r text-right">one side kk:</div>
                            <div class="col-7 b-r">second side kk sdfsadsada a</div>
                        </div>
                        <div class="row">
                            <div class="col-5 b-r text-right">one side kk:</div>
                            <div class="col-7 b-r">second side kk sdfsadsada a</div>
                        </div>
                        <div class="row">
                            <div class="col-5 b-r text-right">one side kk:</div>
                            <div class="col-7 b-r">second side kk sdfsadsada a</div>
                        </div>
                        <div class="row">
                            <div class="col-5 b-r text-right">one side kk:</div>
                            <div class="col-7 b-r">second side kk sdfsadsada a</div>
                        </div>
                        <div class="row">
                            <div class="col-5 b-r text-right">one side kk:</div>
                            <div class="col-7 b-r">second side kk sdfsadsada a</div>
                        </div>
                        <div class="row">
                            <div class="col-5 b-r text-right">one side kk:</div>
                            <div class="col-7 b-r">second side kk sdfsadsada a</div>
                        </div>
                        <div class="row">
                            <div class="col-5 b-r text-right">one side kk:</div>
                            <div class="col-7 b-r">second side kk sdfsadsada a</div>
                        </div>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-12 b-r">
                        <table class="table QTtable">
                            <thead class="thead-dark">
                                <tr>
                                    <th>
                                        Goods
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                    <th>
                                        Vat
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                    <th>

                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                
            </div>     
        </div>
        <div class="col-2 b-r">
            two
        </div>
    </div>
</div>
