
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-sm-2">
        <button id="CreateNewHeadAccount" class="btn btn-sm btn-info"><i class="fa fa-plus-circle" style="padding-right:10px"></i>Create New Head Account</button>
    </div>

    <div class="col-sm-8">
        <select class="form-control p-0" id="ControlAccountSelectTop"></select>

    </div>
    <div class="col-sm-2"></div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>



<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table class="table table-bordered" id="HeadAccountListTable">
            <thead style="background-color:black;color:white">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Titile
                    </th>
                    <th>
                        Description
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
    <div class="col-sm-2"></div>
</div>